<div class="row">
  <div class="col-md-6">
    <%= paginate @results.pagination,{:theme => 'blacklight'} %>
  </div>
  <div class="col-md-6">
    <div class="web-count">
      <% if @results.total_items && @results.total_items > 0 %>
        Showing
        <%= number_with_delimiter @results.pagination.start_record %>
        through
        <%= number_with_delimiter @results.pagination.end_record %>
        of
        <%= number_with_delimiter @results.pagination.count_records %>
        (fetched in
        <%= "%.3f" % @results.timing %>
        s)
      <% end %>
    </div>
  </div>
</div>
