<div class="<%= key %> bento_compartment" id="<%= key.tr(" ", "_") %>">
  <% if result %>
    <% link_url = bento_all_results_link(key) %>
  <% end %>
  <h2 class="search-source">
    <%= link_to link_url, :title => "View all" do %>
      <i class="fa fa-<%= formats_icon_mapping(bento_title(key)) %>"></i>
      <%= bento_title(key) %>
    <% end %>
  </h2>
</div>
<% if result %>
  <% # our app chooses to use 'q' as the query param; the ajax loading controller %>
  <% # uses 'query'.This ordinarily is fine, but since we want this layout to work %>
  <% # for both, we have to look for both, oh well. %>
    <%= bento_search result  %>
    <div class="view-all">
      <% if key == "libguides" %>
        <%= link_to 'View All Research Guides', 'http://guides.library.cornell.edu/libguides/home', :class => "btn btn-outline-secondary btn-sm", :onclick => "javascript:_paq.push(['trackEvent', 'allResultsLink', 'LibGuides'])", :id => "link_top_libguides" %>
      <% elsif key == "ebsco_eds" %>
        <%= link_to link_url, :class => "btn btn-outline-secondary btn-sm", :onclick => "javascript:_paq.push(['trackEvent', 'allResultsLink', 'Articles & Full Text'])" do %>
          View
          <%= number_with_delimiter(result.total_items) %>
          <%= bento_title(key) %>
          <i class="fa fa-angle-double-right"></i>
        <% end %>
      <% else %>
      <%= link_to link_url, class: "btn btn-outline-secondary btn-sm", onclick: "javascript:_paq.push(['trackEvent', 'allResultsLink', '#{bento_blacklight_format(key) || bento_title(key)}'])", id: "link_top_" + downcast(key) do %>
        View
        <!-- = '(r%2.3f)' % (@scores[key].nil? ? 0 : @scores[key])
        -->
        <%= number_with_delimiter(result.total_items) %>
        <% if !result.nil? %>
          <% if result.total_items && result.total_items > 1 %>
            <%= bento_title(key) %>
          <% end %>
        <% else %>
          <% if ['Theses', 'Miscellaneous', 'Manuscripts/Archives'].exclude?(bento_title(key)) %>
            <%= bento_title(key)[0...-1] %>
          <% end %>
          <% if bento_title(key) == "Theses" %>
            Thesis
          <% end %>
          <% if bento_title(key) == "Miscellaneous" %>
            Miscellaneous
          <% end %>
          <% if bento_title(key) == "Manuscripts/Archives" %>
            Manuscript/Archive
          <% end %>
        <% end %>
        <% bento_title(key) %>
        <% if bento_title(key) == 'Articles & Full Text' %>
        <% elsif bento_title(key) == 'Library Guides' %>
            Research Guides
        <% elsif bento_title(key) == 'Digital Collections' %>
            Items
        <% elsif bento_title(key) == 'Repositories' %>
            Item<%= result.total_items > 1 ? 's' : '' %>
        <% else %>
          from Catalog

        <% end %>
        <i class="fa fa-angle-double-right"></i>
      <% end %>
      <% if is_catalog_pane?(bento_title(key)) == true%>
        <div class="bento_pane_advanced">
          <% qp2 = "f%5Bformat%5D%5B%5D=#{bento_blacklight_format(key)}&op_row%5B%5D=AND&q_row%5B%5D=#{ss_uri_encode(params[:q]).gsub('&','%26')}&search_field_row%5B%5D=all_fields" %>
          or use <%= link_to 'advanced search',"edit?#{qp2}", {:onclick => "javascript:_paq.push(['trackEvent', 'advancedLink', '#{bento_blacklight_format(key)}'])"}  %>
        </div>
      <% end %>
    <% end %>



    </div>
<% end %>
