<div class="other-resources">
  <h2>
    Other resources
  </h2>
  <ul class="blacklight-nav">
    <li>
      <%= link_to 'Library Catalog', '/'  %>
    </li>
    <li>
       <%= render :partial => 'shared/link_articles_fulltext' %>
    </li>
    <li>
      <%= link_to 'Databases', '/databases' %>
    </li>
    <li>
      <%= link_to 'E-journal Titles', "http://erms.library.cornell.edu/" %>
    </li>
    <li>
      <%= link_to 'Images', "https://www.library.cornell.edu/collections/visual-resources/" %>
    </li>
  </ul>
</div>
