<% additional_results = @digitalCollections.present? or @libguides.present? or @institutionalRepositories.present? %>
<% if @results or additional_results %>
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-well">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <%= render 'single_search/search_form' %>
            </div>
            <div class="advanced-search-link col-md-4">
              <%= link_to 'Catalog Advanced Search', advanced_search_edit_path(convert_to_advanced_params(params)), id: 'advanced-search-link' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-8 offset-md-2 empty-single-search">
      <div class="card card-well">
        <div class="card-body">
          <div class="search-info">
            <%= tooltip("Search the Library Catalog, Articles and Full Text, and more. WorldCat is available through the Libraries Worldwide link in the search results.", link_name: "About this search", class_name: "float-right") %>
          </div>
          <h2>Search</h2>
          <%= render 'single_search/search_form' %>
          <%= render 'single_search/search_options' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if @top_4_results.present? %>
  <% @top_4_results.from(0).to(0).each do |key, result| %>
    <% if !@query.nil? && @results.empty? && @websites.blank? && result.blank? && !additional_results %>
      <% query = params[:q] || params[:query] %>
      <% query = query.gsub('&', '%26') %>
      <p class="mt-4">
        Your search returned 0 results. Try searching
        <%= link_to 'Libraries Worldwide', "#{ENV['WORLDCAT_URL']}/search?queryString=#{query}&fq=&dblist=638&qt=sort&se=nodgr&sd=desc&qt=sort_nodgr_desc" %>
        or
        <%= link_to 'recommend a purchase.', "https://www.library.cornell.edu/collections/recommend-a-purchase/" %>
      </p>
      <%= render 'single_search/search_options' %>
    <% end %>
    <% if !@results.blank? or !result.blank? or !@websites.blank? or additional_results %>
      <div class="bento_box row">
        <% if @results or additional_results %>
          <div class="col-md-3 ">
            <div class="navbar sidenav facets-toggleable-sm">
              <h2 class="all-results-header">All results</h2>
              <button class="navbar-toggler navbar-toggler-right facets-toggle" type="button" data-toggle="collapse" data-target=".results-collapse" aria-controls="facet-panel-collapse" aria-expanded="false" aria-label="Toggle facets">
              <span class="sr-only">Toggle facets</span>
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
            <div class="results-collapse collapse">
              <div class="expand-search">
                <div class="card">
                  <% query = params[:q] || params[:query] %>
                  <% query = query.gsub('&', '%26') %>
                  <div class="card-header">
                    <h4 class="panel-title">
                      Looking for more?
                    </h4>
                  </div>
                  <div class="card-body">
                    <ul class="fa-ul">
                      <li>
                        <i class="fa fa-arrow-right"></i>
                        <%= link_to 'View all Catalog results', "/?q=#{query}" %>
                      </li>
                      <li>
                        <i class="fa fa-arrow-right"></i>
                        <%= link_to "#{ENV['WORLDCAT_URL']}/search?queryString=#{query}&fq=&dblist=638&qt=sort&se=nodgr&sd=desc&qt=sort_nodgr_desc" do %>
                          Request from Libraries Worldwide
                        <% end %>
                      </li>
                      <li>
                        <i class="fa fa-arrow-right"></i>
                        <%= link_to 'Recommend a Purchase', "https://www.library.cornell.edu/collections/recommend-a-purchase/" %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card" id="formats">
                <% unless @more_results.length < 3 %>
                  <div class="card-header">
                    <h4>
                      Format
                    </h4>
                  </div>
                  <div class="card-body">
                    <ul class="fa-ul" id="more-results">
                      <% @more_results.each do |key, result| %>
                        <% if !result.empty? and result.total_items > 0 %>
                          <li>
                            <i class="fa fa-<%= formats_icon_mapping(bento_title(key)) %>"></i>
                            <% link_url = bento_all_results_link(key) %>
                            <%= link_to link_url ,:id => "facet_link_" + downcast(key), :onclick => "javascript:_paq.push(['trackEvent', 'sidebarLink', '#{bento_blacklight_format(key) || bento_title(key)}'])", :class => "facet_link_" + downcast(key) do %>
                              <%= bento_title(key) %>
                              <!-- ='(r%2.3f)' % (@scores[key].nil? ? 0 : @scores[key])
                              -->
                              (<%= number_with_delimiter(result.total_items) %>)
                            <% end %>
                          </li>
                        <% end %>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="col-md-9" id="top">
          <span class="top-results">Top Results</span>
          <div class="navbar" id="jumpbar">
            <ul class="nav">
              <li class="nav-item">
                <% @top_4_results.from(1).to(0).each do |key, result| %>
                  <%= link_to '#'+key.tr(" ", "_") do %>
                    <i class="fa fa-arrow-down"></i>
                    <%= bento_title(key) %>
                  <% end %>
                <% end %>
              </li>
              <li class="nav-item">
                <% @top_4_results.from(0).to(0).each do |key, result| %>
                  <% unless result.blank? %>
                    <%= link_to '#'+key do %>
                      <i class="fa fa-arrow-down"></i>
                      <%= bento_title(key) %>
                    <% end %>
                  <% end %>
                <% end %>
              </li>
              <li class="nav-item">
                <% @top_4_results.from(2).to(1).each do |key, result| %>
                  <%= link_to '#'+key.tr(" ", "_") do %>
                    <i class="fa fa-arrow-down"></i>
                    <%= bento_title(key) %>
                  <% end %>
                <% end %>
              </li>
              <li class="nav-item">
                <% unless @digitalCollections.blank? %>
                  <%= link_to '#digcoll' do %>
                    <i class="fa fa-arrow-down"></i>
                    Digital Collections
                  <% end %>
                <% end %>
              </li>
              <li class="nav-item">
                <% unless @libguides.blank? %>
                  <%= link_to '#libguides' do %>
                    <i class="fa fa-arrow-down"></i>
                    Research Guides
                  <% end %>
                <% end %>
              </li>
              <li class="nav-item">
                <% unless @institutionalRepositories.blank? %>
                  <%= link_to '#institutionalRepositories' do %>
                    <i class="fa fa-arrow-down"></i>
                    Repositories
                  <% end %>
                <% end %>
              </li>
            </ul>
          </div>
          <div id="bt-container">
            <% if params[:q] && @ajax_bg_engines %>
              <% @ajax_bg_engines.each do |engine| %>
                <div class="col-sm-6">
                  <div class="<%= engine %> bento_compartment">
                    <h2>
                      <%= engine.configuration.title %>
                    </h2>
                    <%= bento_search engine, :query => params[:q], :load => :ajax_auto %>
                  </div>
                </div>
              <% end %>
            <% end %>
            <% if @results %>
              <div class="item bento1">
                <div class="search-pane">
                  <% unless @best_bets.nil? %>
                    <% alertsArray = [] %>
                    <% @best_bets.each do |b| %>
                      <% alertsArray << b unless b.blank? %>
                    <% end %>
                    <% #alertsArray << $db_recommendation unless $db_recommendation.blank? %>
                    <% alertsArray.each do |alert| %>
                      <div class="highlight-box">
                        <div class="heads-up">
                          <i class="fa fa-star"></i>
                          <%= 'Best Bet' %>
                        </div>
                        <h2>
                          <%= link_to alert['title'], alert['link'], :onclick => "javascript:_paq.push(['trackEvent', 'BestBet', 'BentoBox'])" %>
                        </h2>
                      </div>
                    <% end %>
                    <% #this is the first result %>
                  <% end %>
                  <% unless @results.blank? %>
                    <% @top_4_results.from(1).to(0).each do |key, result| %>
                      <div id="<%= key+"-Bento1" %>">
                        <%= render 'single_search/pane_results', :key => key, :result => result %>
                      </div>
                    <% end %>
                  <% else %>
                    <%# EBSCO results %>
                    <% @top_4_results.to(0).each do |key, result| %>
                      <div id="<%= key+"-Bento1" %>">
                        <%= render 'single_search/pane_results', :key => key, :result => result %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="item bento2">
                <div class="search-pane">
                  <% #this is the second result %>
                  <% unless @results.blank? %>
                    <%# EBSCO results %>
                    <% @top_4_results.to(0).each do |key, result, position| %>
                      <div id="<%= key+"-Bento2" %>">
                        <% if result.present? && result[0].present? %>
                          <%= render 'single_search/pane_results', :key => key, :result => result %>
                        <% else %>
                          <div class="card card-body">
                            <p>
                              No results from <%= link_to bento_title(key), bento_all_results_link(key) %>. Try a different search input.
                            </p>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="card card-body">
                      <p>
                        No results from the
                        <%= link_to 'Catalog.', root_path %>
                        Try searching
                        <%= link_to 'Libraries Worldwide.', "#{ENV['WORLDCAT_URL']}/search?queryString=#{query}&fq=&dblist=638&qt=sort&se=nodgr&sd=desc&qt=sort_nodgr_desc" %>
                      </p>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="item bento3">
                <div class="search-pane">
                  <% @top_4_results.from(2).to(0).each do |key, result, position| %>
                    <div id="<%= key+"-Bento3" %>">
                      <%= render 'single_search/pane_results', :key => key, :result => result %>
                    </div>
                  <% end %>
                </div>
              </div>
              <% #this is the fourth result %>
              <div class="item bento4">
                <div class="search-pane">
                  <% @top_4_results.from(3).to(0).each do |key, result, position| %>
                    <div id="<%= key+"-Bento4" %>">
                      <%= render 'single_search/pane_results', :key => key, :result => result %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="bento5" id="digcoll">
            <% if @digitalCollections.present? %>
              <div class="web-pane">
                <%= render 'single_search/pane_results', :key => 'digitalCollections', :result => @digitalCollections %>
              </div>
            <% end %>
          </div>
          <div class="bento6" id="libguides">
            <% if @libguides.present? %>
              <div class="web-pane">
                <%= render 'single_search/pane_results', :key => 'libguides', :result => @libguides %>
              </div>
            <% end %>
          </div>
          <% if 'institutionalRepositories bento box output'.present? %>
          <div class="bento7" id="instrepos">
            <% if @institutionalRepositories.present? %>
              <div class="web-pane">
                <%= render 'single_search/pane_results', :key => 'institutionalRepositories', :result => @institutionalRepositories %>
              </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= javascript_include_tag 'search_form', 'data-turbo-track': 'reload' %>