<%
  page_title = @engine.class == String ? @engine : @engine.configuration.title
  search_types = page_title.downcase.pluralize
%>
<h2><%= page_title %></h2>
<div class="well">
  <div class="row">
    <div class="col-sm-12">
      <%= @query %>
      <form class="form-inline single-search" id="search" method="get">
        <div class="form-group">
          <label class="sr-only" for="q">
            Search
          </label>
          <input class="search-query form-control col-xs-6" type='text' name='q' id='q' value='<%= params[:q] %>' placeholder="Search <%= search_types %>" autocapitalize='off'></input>
        </div>
        <button class="btn btn-search" id="search-btn" type="submit" />
          <i class="fa fa-search fa-inverse"></i>
          <span class="sr-only">
            Search
          </span>
        </button>
      </form>
    </div>
  </div>
</div>
<% unless params[:q].nil? %>
  <div class="row">
    <div class="col-sm-12">
      <div class="return-link">
        <%= link_to url_for(search_index_path(:q => params[:q], :field => params[:field])) do %>
          <i class="fa fa-arrow-circle-left"></i>
          Back to search results
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<% if @results %>
  <%= render 'single_search/pagination' %>
  <div class="<%= @results.engine_id %> row">
    <div class="col-sm-12">
      <%= bento_search @results %>
    </div>
  </div>
  <%= render 'single_search/pagination' %>
<% end %>
