 <% content_for(:head) do -%>
        <%= render_opensearch_response_metadata %>
        <%= auto_discovery_link_tag(:rss, url_for(params.merge(:format => 'rss')), :title => t('blacklight.search.rss_feed') ) %>
        <%= auto_discovery_link_tag(:atom, url_for(params.merge(:format => 'atom')), :title => t('blacklight.search.atom_feed') ) %>
        <%#= render_extra_head_content %>
        <meta name=bagstupid />
      <% end -%>
 <h2><%= "Bagged Items" %></h2>
  <div class="results-info">
    <div class="row">
      <div class="col-sm-6">
        <span class="results-count">
          <%= render :partial => "paginate_compact", :object => @response %>
        </span>

        <%= link_to  clear_bookmarks_path, :method => :delete, :data => { :confirm => t('blacklight.bookmarks.clear.action_confirm') }, :class => 'clear-bookmarks' do %>
          <i class="fa fa-times-circle"></i> <%= t('blacklight.bookmarks.clear.action_title') %>
        <% end %>
      </div>
      <div class="col-sm-3"> &nbsp</div>
      <div class="col-sm-3">
        <%= render :partial => 'sort_widget' %>
        <%= render :partial => 'per_page_widget' %>
      </div>
    </div>
  </div>
  <div class="item-tools">
    <ul class="fa-ul" id="item-tools">
      <%= render :partial => 'catalog/show_tools' %>
    </ul>
  </div>

  <%= render_document_index %>
  <%= render 'results_pagination' %>


