
<div class="modal-header">
  <h1 class="modal-title"><%= t('blacklight.tools.citation') %></h1>
  <button type="button" class="blacklight-modal-close close" data-dismiss="modal" aria-label="<%= t('blacklight.modal.close') %>">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <%# each name xxx  must link: locale "blacklight.citation.xxx"
    #   and function "export_as_xxx_citation_txt"
    %>
  <% name = params[:form] %>
  <% sym_name = ERB::Util.html_escape("export_as_#{name}_citation_txt") %>
  <% @documents.each_with_index do |document,i| %>
    <%  if document.respond_to?(sym_name.to_sym) %>
      <% begin %>
        <% d = document.send(sym_name.to_sym) %>
        <% if i == 0  %>
          <h2 class="lightboxLink" data-placement="right" title data-toggle="tooltip" data-original-title="<%=d[0]%>"><%= t("blacklight.citation.#{name}") %></h2>
        <% end %>
        <%= (d[1]).html_safe %><br/>
      <% rescue %>
        <%= ('').html_safe %><br/>
      <% end %>
    <% end %>
  <% end %>

</div>

<script>
 $('[data-toggle="tooltip"]').tooltip()
</script>
