<h2><%= t('blacklight.bookmarks.title') %></h2>

<%- if current_or_guest_user.blank? -%>

  <h2><%= t('blacklight.bookmarks.need_login') %></h2>

<%- elsif @document_list.blank? -%>

  <h3><%= t('blacklight.bookmarks.no_bookmarks') %></h3>
<% else %>

<div class="results-info span12 pull-right">
  <span class="results-count">
    <%= render :partial => "paginate_compact" %>
  </span>

  <%= render :partial => 'sort_widget' %>

  <%= render :partial => 'per_page_widget' %>
</div>

<div class="span6 pull-right">
  <%= render 'tools' %>
</div>  
  <%= render_document_index %>
  <%= render 'results_pagination' %>
<% end %>

