<h2><%= t('blacklight.bookmarks.title') %></h2>

<%- if current_or_guest_user.blank? -%>
  <h2><%= t('blacklight.bookmarks.need_login') %></h2>
<%- elsif @document_list.blank? -%>

  <p><%= t('blacklight.bookmarks.no_bookmarks') %></p>

<% else %>
  <div class="results-info">
    <div class="row">
      <div class="col-sm-6">
        <span class="results-count">
          <%= render :partial => "paginate_compact", :object => @response %>
        </span>

        <%= link_to  clear_bookmarks_path, :method => :delete, :data => { :confirm => t('blacklight.bookmarks.clear.action_confirm') }, :class => 'clear-bookmarks' do %>
          <i class="fa fa-times-circle"></i> <%= t('blacklight.bookmarks.clear.action_title') %>
        <% end %>
      </div>
      <div class="col-sm-6">
        <%= render :partial => 'per_page_widget' %>
        <%= render :partial => 'sort_widget' %>
      </div>
    </div>
  </div>

  <div class="item-tools">
    <ul class="fa-ul" id="item-tools">
      <%= render :partial => 'catalog/show_tools' %>
    </ul>
  </div>

  <%= render_document_index %>
  <%= render 'results_pagination' %>

<% end %>




