<h2><%= t('blacklight.bookmarks.title') %></h2>

<%- if current_or_guest_user.blank? -%>
  <h2><%= t('blacklight.bookmarks.need_login') %></h2>

<%- elsif @document_list.blank? -%>
  <p><%= t('blacklight.bookmarks.no_bookmarks') %></p>

<% else %>
  <div class="results-info col-sm-12">
    <span class="results-count">
      <%= render :partial => "paginate_compact" %>
    </span>

    <%= link_to  clear_bookmarks_path, :method => :delete, :data => { :confirm => t('blacklight.bookmarks.clear.action_confirm') }, :class => 'clear-bookmarks' do %>
      <i class="fa fa-times-circle"></i> <%= t('blacklight.bookmarks.clear.action_title') %>
    <% end %>

    <%= render :partial => 'sort_widget' %>

    <%= render :partial => 'per_page_widget' %>
  </div>

  <div class="item-tools col-sm-7">
    <ul class="icons-ul" id="item-tools">
      <%= render :partial => 'catalog/show_tools' %>
    </ul>
  </div>

  <%= render_document_index %>
  <%= render 'results_pagination' %>

<% end %>
