= link_to catalog_path(@id), {:title => @ti} do
  %i.icon-circle-arrow-left
  Back to item
%h1.request-type Request rare item delivery to RMC Reading Room
%div.row
  %div.well.span8
    %h2.blacklight-title_display.item-title-request=@ti
    %div.request-author=@au
    %p This rare item may be delivered only to the RMC Reading Room. Items that are marked "request in advanced" are delivered to the reading room from the Annex and must be requested two days in advance.
    %form#req.form-horizontal{:method => 'post', :action => request_make_request_path}
      %input(type="hidden" name="bid" value="#{@id}" id="bid")
      %input(type="hidden" name="request_action" value="aeon" id="request_action")
      - holdings_condensed = @holdings['condensed_holdings_full']
      - if holdings_condensed.size > 0
        - holdings_condensed.find_all { | x | Aeon.eligible?(x['location_code']) }.each do |entry|
          - location = (entry['location_name'] == '*Networked Resource') ? 'Online' : entry['location_name']
          - callnumber = entry['call_number']
          - location_code = entry['location_code']
          %h5.location
            = location
          - if callnumber != 'No call number' && callnumber != ''
            .call-number
              = callnumber
          - entry['copies'].each do |copy|
            .group
              - unless copy['temp_locations'].nil?
                - copy['temp_locations'].each do |t|
                  .message= t
              - ['orders','summary_holdings','supplements','indexes','notes','reproduction_note','current_issues'].each do |type|
                - unless copy[type].nil?
                  .message= copy[type]
              - copy['items'].each do |item|
                .status
                  - message, details = item
                  - if details['count'] >1
                    (#{details['count']} copies)
          %div.aeon
            = link_to 'Request reading room delivery', "http://wwwdev.library.cornell.edu/aeon/monograph.php?bibid=#{params[:id]}&libid=#{location_code}", {:class => 'btn btn-danger'}
            