= link_to catalog_path(@id), {:title => @ti} do
  %i.icon-circle-arrow-left
  Back to item
%h1.request-type Request delivery of Rare and Manuscript material RMC Reading Room 
%h2.blacklight-title_display.item-title-request=@ti
%div.request-author=@au
%form#req.form-horizontal{:method => 'post', :action => request_make_request_path}
  %input(type="hidden" name="bid" value="#{@id}" id="bid")
  %input(type="hidden" name="request_action" value="aeon" id="request_action")
  = render :partial => 'shared/reqho'
  .control-group
    .controls
      %div.accordion#accordion2.request-options
        %div.accordion-group
          %div.accordion-heading
          =link_to 'Other options', '#collapseOne', {:data => {:toggle => 'collapse', :parent => '#accordion2'}} 
          %div#collapseOne.accordion-body.collapse
            %div.accordion-inner     
              %div.span4     
                = render :partial => 'shared/request_options'

%form#request_form.form-horizontal{:method => 'post', :action => request_item_redirect_path}
  %input(type="hidden" name="bid" value="#{@id}" id="bid")
  %input(type="hidden" name="isbn" value="#{@isbn}")
  %input(type="hidden" name="title" value="#{@title}")
  %input#request.btn.btn-danger(type="submit" name="request" value="Request non-rare items")
