= link_to catalog_path(@id), {:title => @ti} do
  %i.icon-circle-arrow-left
  Return to item
%h1.request-type Request a hold
%h2.item-title-request.blacklight-title_display=@ti
%div.request-author=@au
%form#req.form-horizontal{:method => 'post', :action => request_make_request_path}
  %input(type="hidden" name="bid" value="#{@id}" id="bid")
  %input(type="hidden" name="request_action" value="hold" id="request_action")
  = render :partial => 'shared/reqpu'
  = render :partial => 'shared/reqac'
  .control-group
    %label.control-label{:for => 'reqcomments'} Comments:
    .controls
      %textarea#reqcomments
  = render :partial => 'shared/reqdate'
  .control-group
    .controls
      %input#request-submit.btn.btn-danger(type="submit" name="submit" value="Submit hold request")
      %input#reset.btn.btn-link(type="reset" value="Clear form")
    .controls
      %span.place-request
        or
        =link_to 'recall this item', request_recall_path(params[:id])
  -## Used to display working status and result of request via Ajax
  #result
