= link_to catalog_path(@id), {:title => @ti} do
  %i.icon-circle-arrow-left
  Return to item
%h1.request-type Catalog request: recall 
%h2.item-title-request.blacklight-title_display=@ti
%div.request-author=@au 
%div.request-form
  %form{:id => 'req', :method => 'post', :action => request_make_request_path}
    %input(type="hidden" name="bid" value="#{@id}" id="bid")
    %input(type="hidden" name="request_action" value="recall" id="request_action")
    %br
    = render :partial => 'shared/reqpu'
    %br
    = render :partial => 'shared/reqac'
    %p
    Comments:
    %br
    %textarea(id="reqcomments")
    %br
    = render :partial => 'shared/reqdate'
    %br
    %input(type="submit" id="request_sumbit" name="sumbit" value="Submit recall request" class="btn btn-danger")
    %input(type="reset" id="reest" value="Clear form" class="btn")
    %br
    %div(id="result" name="result" value="")
