= link_to catalog_path(@id), {:title => @ti} do
  %i.icon-circle-arrow-left
  Return to item
%h1.request-type Catalog request: recall 
%h2.item-title-request.blacklight-title_display=@ti
%div.request-author=@au 
%div.request-form
  %form{:id => 'req', :method => 'post', :action => request_make_request_path}
    %input(type="hidden" name="bid" value="#{@id}" id="bid")
    %input(type="hidden" name="request_action" value="recall" id="request_action")
    %br
    = render :partial => 'shared/reqpu'
    %br
    = render :partial => 'shared/reqac'
    %p
    Comments:
    %br
    %textarea(id="reqcomments")
    %br
    = render :partial => 'shared/reqdate'
    %br
    %input(type="submit" id="request_sumbit" name="sumbit" value="Submit recall request" class="btn btn-danger")
    %input(type="reset" id="reset" value="Clear form" class="btn")
    %p
    or 
    =link_to 'place a hold on this item.', request_hold_path( params[:id] )
    %br
    or
    %a{:href => "http://resolver.library.cornell.edu/net/parsebd/?&url_ver=Z39.88-2004&rft_id=urn%3AISBN%3A#{@isbn}&req_id=info:rfa/oclc/institutions/3913"}> Borrow Direct
    %div(id="result" name="result" value="")


