<%= select(:key, :field_def, search_fields_for_advanced_search)%>
<!-- <%- search_fields_for_advanced_search.each do |key, field_def| -%>
  <div class="advanced_search_field">
      <%= label_tag key, "#{field_def.label }:" %>
      <%= text_field_tag key, label_tag_default_for(key), :class => 'input-block-level' %>
  </div>
<%- end -%> -->
<%- search_fields_for_advanced_search.each do |key, field_def| -%>
  <div class="advanced_search_field">
<!--  	  <%= label_tag "test", "#{search_fields_for_advanced_search.size}"  %> -->
      <% if label_tag_default_for(key) %> 
      <%= label_tag key, "#{field_def.label}" %>
      <%= text_field_tag key, label_tag_default_for(key) %>
      <%= select_tag(:op, options_for_select({'all'=>'AND','any'=>'OR', 'phrase' => ''}.sort,:selected => 'AND'), :class => 'input-small') %> in 
      <%= select_tag(label_tag_default_for(key), options_for_select(search_fields_for_advanced_search, :selected => field_def )) %>
      <%end%> 
<%- end -%> 
<%- search_fields_for_advanced_search.map(&method(:t)).join(' ') -%>
<%- if !search_fields_for_advanced_search -%>
      You need to enter a search
      <%= label_tag key, "#{field_def.label}" %>
      <%= text_field_tag key, label_tag_default_for(key) %>
      <%= select_tag(:op, options_for_select({'all'=>'AND','any'=>'OR', 'phrase' => ''}.sort,:selected => 'any'), :class => 'input-small') %> in 
      <%= select_tag(field_def.label, options_for_select(search_fields_for_advanced_search, :selected => field_def )) %>
<%- end -%> 
