<%= render :partial=>'/shared/skip_to' %>
<div class="cornell-identity" aria-label="Cornell" role="banner">
  <div class="mobile-cornell-wrapper d-block d-sm-none">
    <div class="container">
      <a class="mobile-cornell-logo" href="http://www.cornell.edu">Cornell University</a>
    </div>
  </div>
  <div class="container">
    <div class="cornell-brand">
      <div class="row">
        <div class="cornell-logo col-9">
          <div class="logo d-none d-sm-block">
            <a href="http://www.cornell.edu" class="insignia">Cornell University</a>
            <div class="library-brand">
              <a href="http://www.library.cornell.edu">Library</a>
            </div>
          </div>
          <div class="mobile-logo d-block d-sm-none">
            <a class="library-brand-mobile" href="http://www.library.cornell.edu">Library</a>
          </div>
        </div>
        <div class="col-3">
          <div class="dropdown help-menu">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="help-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="javascript:_paq.push(['trackEvent', 'header_links', 'Help button']);">
              Help
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="help-menu-button">
              <h6 class="dropdown-header">Need help?</h6>
              <a class="dropdown-item" href="https://library.cornell.edu/ask" onclick="javascript:_paq.push(['trackEvent', 'header_links', 'Ask a Librarian']);">Ask a Librarian</a>
              <a class="dropdown-item" href="https://library.cornell.edu/help/catalog" onclick="javascript:_paq.push(['trackEvent', 'header_links', 'Search tips']);">Search Tips</a>
              <h6 class="dropdown-header">If we don't have it</h6>
              <a class="dropdown-item" href="http://cornell-borrowdirect.reshare.indexdata.com/" onclick="javascript:_paq.push(['trackEvent', 'header_links', 'BorrowDirect']);">BorrowDirect</a>
              <a class="dropdown-item" href="https://cornell.hosts.atlas-sys.com/illiad/" onclick="javascript:_paq.push(['trackEvent', 'header_links', 'Interlibrary Loan']);">Interlibrary Loan</a>
              <a class="dropdown-item" href="https://www.library.cornell.edu/collections/recommend-a-purchase/" onclick="javascript:_paq.push(['trackEvent', 'header_links', 'Recommend a Purchase']);">Recommend a Purchase</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</div>

<header aria-label="Library">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-lg-4 catalog-name">
        <% if part_of_catalog? or params[:controller] == 'advanced_search' %>
          <div class="facets-toggleable-sm">
            <button class="navbar-toggler navbar-toggler-right util-links-toggle" type="button" data-toggle="collapse" data-target="#links-panel-collapse" aria-controls="links-panel-collapse" aria-expanded="false" aria-label="Toggle links">
              <span class="sr-only">Toggle links</span>
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        <% end %>
        <% if !part_of_catalog? and params[:controller] != 'advanced_search'%>
          <% if params[:controller] == 'users/sessions'%>
            <!-- users/sessions does not have an index action -->
            <script type="text/javascript">
              window.location.href="<%=root_path%>" // just go home
            </script>
            return
          <% elsif params[:controller] == 'institutional_repositories'%>
            <h1><a href="/search">Search</a></h1>
          <% else %>
            <h1>
            <!-- set the @heading in the controller for the specialized view -->
            <%= link_to(@heading, :controller => params[:controller], :action => "index") %>
            </h1>
          <% end %>
        <% else %>
          <h1><a href="<%=root_path%>">Library Catalog</a></h1>
        <%end%>
      </div>
      <% if part_of_catalog? or params[:controller] == 'advanced_search' %>
        <%= render :partial=>'/shared/user_util_links' %>
      <% else %>
        <div class="col-sm-4 col-lg-8 d-none d-sm-block">
          <ul class="blacklight-nav noncatalog-nav nav">
            <li><a href="<%=root_path%>">Library Catalog</a></li>
            <li><a href="/myaccount/login"><i class="fa fa-user" aria-hidden="true"></i>My Account</a></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</header>
