<div class="col-12 col-lg-8 facets-toggleable-sm">

  <div id="links-panel-collapse" class="links-collapse facets-collapse collapse">

    <ul class="blacklight-nav nav flex-column flex-md-row">
      <% if !current_user %>
        <li>
          <%= link_to bookmarks_path, {id:'bookmarks_nav'} do %>
            <%= t('blacklight.header_links.bookmarks') %>
            (<span data-role='bookmark-counter'><%= guest_user.bookmarks.count %></span>)
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to "/book_bags/index", id:'book_bags_nav' do %>
            <% if BookBag.enabled? && session[:bookbag_count].present? %>
              <span>Book Bag (<span data-role='bookmark-counter'><%= session[:bookbag_count].to_s %></span>)</span>
            <% else %>
              <span>Book Bag</span>
            <% end %>
          <% end %>
        </li>
      <% end %>
      <li><%= link_to t('blacklight.header_links.search_history'), blacklight.search_history_path %></li>
    </ul>

  </div>
</div>
