<div class="col-12 col-lg-8 facets-toggleable-sm">
  <div id="links-panel-collapse" class="links-collapse facets-collapse collapse">

    <ul class="blacklight-nav nav flex-column flex-md-row">
      <% if ENV['SAML_IDP_TARGET_URL'] %>
        <% if current_user %>
          <li>
            <%= link_to 'Sign out', destroy_user_session_path   %>
          </li>
        <% end %>
        <% if current_or_guest_user %>
          <% if !current_user %>
            <% @goo_sign_in_link = user_google_oauth2_omniauth_authorize_path%>
            <li>
              <%= render :partial => 'shared/sign_in_form' %>
            </li>
          <% end %>
        <% end %>
      <% end %>

      <% if !current_user %>
        <li>
          <%= link_to bookmarks_path, {id:'bookmarks_nav'} do %>
            <%= t('blacklight.header_links.bookmarks') %>
            (<span data-role='bookmark-counter'><%= guest_user.bookmarks.count %></span>)
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to "/book_bags/index", id:'book_bags_nav' do %>
            <% if BookBag.enabled? && session[:bookbag_count].present? %>
              <span>Book Bag (<span data-role='bookmark-counter'><%= session[:bookbag_count].to_s %></span>)</span>
            <% else %>
              <span>Book Bag</span>
            <% end %>
          <% end %>
        </li>
      <% end %>
      <li><%= link_to t('blacklight.header_links.search_history'), blacklight.search_history_path %></li>

      <!-- ################### -->
      <!-- ##  DEVELOPMENT  ## -->
      <!-- ################### -->
      <% if developer_bookbag_enabled? %>
        <% if current_user %>
          <li><a href="<%= destroy_user_session_path %>"><i class="fa fa-user" aria-hidden="true"></i>Developer Logout</a></li>
        <% else %>
          <li><a href="/book_bags/index"><i class="fa fa-user" aria-hidden="true"></i>Developer Login</a></li>
        <% end %>

      <!-- ############################### -->
      <!-- ##  PRODUCTION / INTEGRATION ## -->
      <!-- ############################### -->
      <% else %>
        <li><a href="/myaccount/login" onclick="javascript:_paq.push(['trackEvent', 'header_links', 'My Account Blacklight']);"><i class="fa fa-user" aria-hidden="true"></i>My Account</a></li>
      <% end %>
    </ul>
  </div>
</div>
