<script>
        var bibdata = {"items": [{"author":null,"title":null,"pub_place":null,"publisher":null,"publisher_date":null,"edition":null,"bib_format":null,"permlocation":null,"permlocationcode":null,"holdings":[]}]};
</script>
<input type="hidden" id="Restrictions" name="Restrictions" value="<%= @re506 %>">
<input type="hidden" id="ItemInfo3" name="ItemInfo3" value="<%= @re506 %>">
<input type="hidden" id="ItemInfo5" name="ItemInfo5" value=""x>
<div id="Warningdis" name="Warningdis" class="mt-5">
        <%= @warning %>
</div>
<input type="hidden" id="AeonForm" name="AeonForm" value="<%= @type %>">
<div class="row">
        <div class="col-md-4">
                <div class="form-group">
                        <span class="req">*</span>
                        <label for="Format">Format</label>
                        <select class="form-control" id="Format" name="Format">
                                <option>PDF: $1</option>
                                <option>TIFF 600 dpi: $35</option>
                                <option>TIFF 600 dpi > 12x17: $45</option>
                                <option>MP3 of audio: $75</option>
                                <option>MP4 of video: $75</option>
                                <option>MP4 of film: $200</option>
                                <option>PDF of microfilm: $50</option>
                                <option>PDF of thesis: $50</option>
                                <option>Existing digital file: $10</option>
                        </select>
                </div>
        </div>
        <div class="col-md-4">
                <div class="form-group">
                        <span class="req">*</span>
                        <label for="ServiceLevel">Service level</label>
                        <select class="form-control" id="ServiceLevel" name="Service level">
                                <option>Normal: $15</option>
                                <option>Rush < 3 weeks: $40</option>
                        </select>
                </div>
        </div>
        <div class="col-md-4">
                <div class="form-group">
                        <span class="req">*</span>
                        <label for="ShippingOption">Delivery method</label>
                        <select class="form-control" id="ShippingOption" name="Delivery method">
                                <option>Digital file download: $0</option>
                        </select>
                </div>
        </div>
</div>
<div class="form-group">
        <label for="SpecialRequest">Please enter any deadlines, special requests or questions for library staff.</label>
        <textarea class="form-control col-md-6" id="SpecialRequest" rows="3"></textarea>
</div>
<div class="form-group">
        <label for="Notes">Add any notes about this item or request that may be helpful for your own personal reference later.</label>
        <textarea class="form-control col-md-6" id="Notes" rows="3"></textarea>
</div>        
<div class="form-group">
        <label for="ItemCitation">If you have seen the image you are requesting online, please provide the URL. You may also enter an image ID number, if known.</label>
        <textarea class="form-control col-md-6" id="ItemCitation" rows="3"></textarea>
</div>
<div class="form-group">
        <label for="PageCount">Page count, if known</label>
        <input type="text" class="form-control col-md-6" id="PageCount">
</div> 			    			       
<div class="row-fluid">
        <div id="noshow">
                <div class="control-group">
                        <label class="control-label" for="ItemTitle" >Title</label>
                        <div class="controls">
                                <textarea id="ItemTitle" name="ItemTitle"><%= @title %></textarea>
                        </div>
                </div>
                <div class="control-group">
                        <label class="control-label" for="CallNumber">CallNumber</label>
                        <div class="controls">
                                <input type="text" id="CallNumber" name="CallNumber" value="">
                        </div>
                </div>
                <div class="control-group">
                        <label class="control-label" for="ItemVolume">Box or item number(s)</label>
                        <div class="controls">
                                <input type="text" id="ItemVolume" name="ItemVolume" value="">
                        </div>
                </div>
                <div class="control-group">
                        <label class="control-label" for="ItemAuthor">Author</label>
                        <div class="controls">
                                <input type="text" id="ItemAuthor" name="ItemAuthor" value="<%= @author %>">
                        </div>
                </div>
                <div class="control-group">
                        <label class="control-label" for="ItemPlace">Place of Publication</label>
                        <div class="controls">
                                <input type="text" id="ItemPlace" name="ItemPlace" value="">
                        </div>
                </div>
                <div class="control-group">
                        <label class="control-label" for="ItemPublisher">Publisher</label>
                        <div class="controls">
                                <input type="text" id="ItemPublisher" name="ItemPublisher" value=""/>
                        </div>
                </div>
                <div class="control-group">
                        <label class="control-label" for="ItemDate">Date</label>
                        <div class="controls">
                                <input type="text" id="ItemDate" name="ItemDate" value="">
                        </div>
                </div>
                <div class="control-group">
                        <label class="control-label" for="ItemEdition">Edition</label>
                        <div class="controls">Refer
                                <input type="text" id="ItemEdition" name="ItemEdition" value="">
                        </div>
                </div>
                <div class="control-group">
                        <label class="control-label" for="Location">Location</label>
                        <div class="controls">
                                <input type="text" id="Location" name="Location" value="">
                        </div>
                </div>
                <div class="control-group">
                        <label class="control-label" for="ItemIssue">Copy</label>
                        <div class="controls">
                                <input type="text" id="ItemIssue" name="ItemIssue" value="">
                        </div>
                </div>
        </div>
</div>
