<% require 'uri' %>
<html>


<%#= params.inspect %>
<% if params["aeonParams"].nil? %>
  <% aeonStuff = params %>
<% else %>
  <% aeonStuff = params["aeonParams"] %>
<% end %> 

<meta http-equiv='content-type' content='text/html; charset=utf-8' />
<link href='aeon.css' rel='stylesheet' type='text/css' />
<title>Login to Aeon at Cornell University Library</title>
<body onload='window.focus();'>
  Redirecting...
  <form id='aeonPoster' action='https://rmc-aeon.library.cornell.edu/aeon/aeon.dll' method='POST'>
   <!-- <input type="hidden" name='AeonForm' value='EADRequest'> -->
  <!-- // I think we need a param with this name/value.  Doesn't need to be a button. -->
  <input type='hidden' name='SubmitButton' value='Submit Request'>
       <input type="hidden" name="aeonControl_usertype" value="shib" >
 <% itemNumbers = [] %> 
 <%= aeonStuff.inspect %>
  <% if !aeonStuff.nil? %>
            <% if aeonStuff.include?('%3D') %>
                  <% JSON.parse(aeonStuff.gsub("%3D", ":").gsub(/\bnil\b/, "null")).each do | key, value| %>
                     <% if key.scan(/\D/).empty? %>
                        <% key.start_with?("ItemNumber_") %>
                      <% end %>
                      <input type="hidden" name="<%= "Request" %>" value="<%= value %>" >
                   <% end %>
        <% else %>
            <% JSON.parse(aeonStuff.gsub("=>", ":").gsub(/\bnil\b/, "null")).each do | key, value| %>
                  <% unless key == "Request" %>
                    <% if key.scan(/\D/).empty? %>
                  		<% key = "Request" %>
                   <% end %>
                   <input type="hidden" name="<%= key %>" value="<%= value %>">
                <% end %>
            <% end %>
       <% end %>    
    <% else %>
      Report this error
    <%end %> 
  <input type='submit' name='Button' value='Login to Aeon' />
  </form>
 <br>
  <script>
    // submits the form right after it is parsed
 //   window.focus(); document.forms['aeonPoster'].submit();  

</script> 

</body>
</html>
