%div.other-resources.clearfix
  %h2
    Other resources
  %ul.blacklight-nav
    %li
      = link_to 'Library Catalog', '/' 
    %li
      = link_to 'Articles & Full Text', "http://cornell.summon.serialssolutions.com/"
    %li
      = link_to 'Databases', '/databases'
    %li
      = link_to 'E-journal Titles', "http://erms.library.cornell.edu/"
    %li
      = link_to 'Images', "http://www.library.cornell.edu/visual-resources"
