<div class="other-resources clearfix">
  <h2>
    Other resources
  </h2>
  <ul class="blacklight-nav">
    <li>
      <%= link_to 'Library Catalog', '/'  %>
    </li>
    <li>
      <%= link_to 'Articles & Full Text', "http://cornell.summon.serialssolutions.com/" %>
    </li>
    <li>
      <%= link_to 'Databases', '/databases' %>
    </li>
    <li>
      <%= link_to 'E-journal Titles', "http://erms.library.cornell.edu/" %>
    </li>
    <li>
      <%= link_to 'Images', "http://www.library.cornell.edu/visual-resources" %>
    </li>
  </ul>
</div>
