<div class="service-alert" role="complementary" aria-label="service alert">
  <div class="container">
    <div class="alert alert-warning text-center">
       	<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
      <% if ENV['SERVICE_ALERT_LINK_URL'] != '' %>
        <a href="<%= ENV['SERVICE_ALERT_LINK_URL'] %>"><%= ENV['SERVICE_ALERT_LINK_TEXT'] %></a><%= ENV['SERVICE_ALERT_MESSAGE'] %>.    
      <% end %>
      <% if ENV['FOLIO_ALERT_LINK_URL'] != '' %>     
            <br><a href="<%= ENV['FOLIO_ALERT_LINK_URL'] %>"><%= ENV['FOLIO_ALERT_LINK_TEXT'] %></a><%= ENV['FOLIO_ALERT_MESSAGE'] %>.
         <% end %>
    </div>
  </div>
</div>