<div class="cornell-identity" aria-label="Cornell" role="banner">
  <div id="skiptocontent"><a href="#maincontent">skip to main content</a></div>
  <%# if search results, add a link to skip facets for screen readers %>
  <% if params[:controller]=='catalog' && params[:action]=='index' && has_search_parameters? %>
    <div id="skiptoresults"><a href="#results">skip to search results</a></div>
  <% end %>
  <div class="container">
    <div class="cornell-brand">
      <div class="row">
        <div class="cornell-logo col-xs-9 col-sm-6">
          <a href="http://www.cornell.edu">Cornell University</a>
        </div>
        <div class="library-menu col-xs-3 col-sm-6 text-right">
          <div class="dropdown">
            <button id="library-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-library"  onclick="javascript:_paq.push(['trackEvent', 'navigation', 'Hamburger menu']);">
              <i class="fa fa-bars" aria-hidden="true" title="Library menu" alt=""></i><span class="btn-library-label">Menu</span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="library-menu" role="navigation">
              <li><a href="http://www.library.cornell.edu/">Home</a></li>
              <li><a href="http://www.library.cornell.edu/about">About Us</a></li>
              <li><a href="http://www.library.cornell.edu/libraries">Libraries and Hours</a></li>
              <li><a href="http://www.library.cornell.edu/courses">Courses</a></li>
              <li><a href="http://www.library.cornell.edu/research">Research</a></li>
              <li><a href="http://www.library.cornell.edu/services">Services</a></li>
              <li><a href="http://www.library.cornell.edu/ask">Ask a Librarian</a></li>
              <li><a href="http://www.library.cornell.edu/help">Help</a></li>
              <li><a href="http://www.library.cornell.edu/myacct">My Account</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</div>

<div class="ie9-only" role="complementary">
  <div class="container">
    <div class="alert alert-warning alert-dismissible fade in" role="alert" id="alert-ie" aria-atomic="true">
      <button type="button" class="close" onclick='hideIE9Warning()' data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <strong>You are using an older version of Internet Explorer.</strong> For the best experience, we recommend that you upgrade IE, or use a different browser.
    </div>
  </div>
</div>

<header aria-label="Library">
  <div class="container">
    <div class="row">
      <div class="col-md-4 catalog-name">
        <div class="library-link">
          <a href="http://www.library.cornell.edu">Cornell University Library</a>
        </div>
        <% if !part_of_catalog? and params[:controller] != 'advanced_search'%>
          <% if params[:controller] == 'users/sessions'%>
            <!-- users/sessions does not have an index action -->
            <script type="text/javascript">
              window.location.href="<%=root_path%>" // just go home
            </script>
            return
          <% else %>
            <h1>
            <a href="<%=root_path%>">Library Catalog</a>
            <!-- set the @heading in the controller for the specialized view -->
            <%= link_to(@heading, :controller => params[:controller], :action => "index") %>
            </h1>
          <% end %>
        <% else %>
          <h1><a href="<%=root_path%>">Library Catalog</a></h1>
        <%end%>
      </div>
      <% if part_of_catalog? or params[:controller] == 'advanced_search' %>
      <%= render :partial=>'/shared/user_util_links' %>
      <% end %>
    </div>
  </div>
</header>
