<div id="skiptocontent" aria-label="Skip link" role="complementary"><a href="#maincontent">skip to main content</a></div>
</div>
<div class="cornell-identity" aria-label="Cornell" role="banner">
  <%# if search results, add a link to skip facets for screen readers %>
  <% if params[:controller]=='catalog' && params[:action]=='index' && has_search_parameters? %>
    <div id="skiptoresults"><a href="#results">skip to search results</a></div>
  <% end %>
  <div class="mobile-cornell-wrapper d-block d-sm-none">
    <div class="container">
      <a class="mobile-cornell-logo" href="http://www.cornell.edu">Cornell University</a>
    </div>
  </div>
  <div class="container">
    <div class="cornell-brand">
      <div class="row">
        <div class="cornell-logo col-sm-9">
          <div class="logo d-none d-sm-block">
            <a href="http://www.cornell.edu" class="insignia">Cornell University</a>
            <div class="library-brand">
              <a href="http://www.library.cornell.edu">Library</a>
            </div>
          </div>
          <div class="mobile-logo d-block d-sm-none">
            <a class="library-brand-mobile" href="http://www.library.cornell.edu">Library</a>
          </div>
        </div>
        <% if part_of_catalog? %>
          <div class="library-menu col-sm-3 text-right d-none d-sm-block">
            <div class="dropdown">
              <button id="library-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-library" onclick="javascript:_paq.push(['trackEvent', 'header_links', 'Menu button']);">
                <i class="fa fa-bars" aria-hidden="true" title="Library menu"></i><span class="btn-library-label">Menu</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="library-menu">
                <a href="http://www.library.cornell.edu/" class="dropdown-item">Home</a>
                <a href="http://www.library.cornell.edu/about" class="dropdown-item">About Us</a>
                <a href="http://www.library.cornell.edu/libraries" class="dropdown-item">Libraries</a>
                <a href="http://www.library.cornell.edu/reserves" class="dropdown-item">Textbooks</a>
                <a href="http://www.library.cornell.edu/research" class="dropdown-item">Research</a>
                <a href="http://www.library.cornell.edu/services" class="dropdown-item">Services</a>
                <a href="http://www.library.cornell.edu/ask" class="dropdown-item">Ask a Librarian</a>
                <a href="/myaccount/login" class="dropdown-item">My Account</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div> <!-- /container -->
</div>

<header aria-label="Library">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-lg-4 catalog-name">
        <% if part_of_catalog? or params[:controller] == 'advanced_search' %>
          <div class="facets-toggleable-sm">
            <button class="navbar-toggler navbar-toggler-right util-links-toggle" type="button" data-toggle="collapse" data-target="#links-panel-collapse" aria-controls="links-panel-collapse" aria-expanded="false" aria-label="Toggle links">
              <span class="sr-only">Toggle links</span>
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        <% end %>
        <% if !part_of_catalog? and params[:controller] != 'advanced_search'%>
          <% if params[:controller] == 'users/sessions'%>
            <!-- users/sessions does not have an index action -->
            <script type="text/javascript">
              window.location.href="<%=root_path%>" // just go home
            </script>
            return
          <% elsif params[:controller] == 'institutional_repositories'%>
            <h1><a href="/search">Search</a></h1>
          <% else %>
            <h1>
            <!-- set the @heading in the controller for the specialized view -->
            <%= link_to(@heading, :controller => params[:controller], :action => "index") %>
            </h1>
          <% end %>
        <% else %>
          <h1><a href="<%=root_path%>">Library Catalog</a></h1>
        <%end%>
      </div>
      <% if part_of_catalog? or params[:controller] == 'advanced_search' %>
        <%= render :partial=>'/shared/user_util_links' %>
      <% else %>
        <div class="col-sm-4 col-lg-8 d-none d-sm-block">
          <p><a href="<%=root_path%>" class="secondary-catalog-link">Library Catalog &raquo;</a></p>
        </div>
      <% end %>
    </div>
  </div>
</header>
