- holdings_condensed = @xholdings['condensed_holdings_full']
- if holdings_condensed.size > 0
  - holdings_condensed.find_all { | x | Aeon.eligible?(x['location_code']) }.each do |entry|
    - location = (entry['location_name'] == '*Networked Resource') ? 'Online' : entry['location_name']
    - callnumber = entry['call_number']
    - location_code = entry['location_code']

    .holding{:class => alternating_line}
      .location_box
        %h5.location
          = location
        - if callnumber != 'No call number' && callnumber != ''
          .call-number
            = callnumber
        %div.aeon
          = link_to 'Request reading room delivery', "http://wwwdev.library.cornell.edu/aeon/monograph.php?bibid=#{params[:id]}&libid=#{location_code}", {:class => 'btn btn-danger'}


