%table.table.table-striped.table-bordered  
  %thead
    %tr
      %th
        Request Type
      %th
        Approximate availability    
  - @alternate_request_options.each do |option|
    - if option[:option] == 'l2l'
      %tr
        %td
          = link_to request_l2l_path(@id), {:title => @ti} do 
            %h2.blacklight-title_display 
              %i.icon-circle-arrow-right &nbsp;Library to Library
        %td  
          = option[:estimate]
          working day(s).
    - elsif option[:option] == 'bd'
      %tr
        %td
          = link_to request_bd_path(@id), {:title => @ti} do 
            %h2.blacklight-title_display 
              %i.icon-circle-arrow-right &nbsp;Borrow Direct
        %td 
          = option[:estimate]
          working days
    - elsif option[:option] == 'hold'
      %tr
        %td
          = link_to request_hold_path(@id), {:title => @ti} do 
            %h2.blacklight-title_display 
              %i.icon-circle-arrow-right &nbsp;Hold
        %td
          = option[:estimate]
          working days       
    - elsif option[:option] == 'recall'
      %tr
        %td
          = link_to request_recall_path(@id), {:title => @ti} do 
            %h2.blacklight-title_display 
              %i.icon-circle-arrow-right &nbsp;Recall
        %td
          = option[:estimate]
          working days
    - elsif option[:option] == 'purchase'
      %tr
        %td
          = link_to request_purchase_path(@id), {:title => @ti} do 
            %h2.blacklight-title_display 
              %i.icon-circle-arrow-right &nbsp;Purchase Request
        %td
          = option[:estimate]
          working days
    - elsif option[:option] == 'ill'
      %tr
        %td
          = link_to request_ill_path(@id), {:title => @ti} do 
            %h2.blacklight-title_display 
              %i.icon-circle-arrow-right &nbsp;Inter-Library Loan
        %td
          = option[:estimate]
          working days
    - else
      %tr
        %td
          = link_to request_ask_path(@id), {:title => @ti} do 
            %h2.blacklight-title_display 
              %i.icon-circle-arrow-right &nbsp;Ask Librarian
        %td
          Please ask a librarian.