<div class="row">
  <div class="search-tools col-sm-6 col-md-7">
  <% if params[:controller]=='browse' %>
    <%= render :partial => 'browse/headings_search_form' %>
  <% elsif params[:controller]=='advanced_search' %>
    <h2 class="advanced-search">Advanced Search</h2>
  <%else%>
    <%= form_tag search_catalog_path, :id => 'search-form', :method => :get, :class => 'search-form form-inline' do %>
      <% hidden_params = cornell_params_for_search().except(:q, :search_field, :qt, :page, :utf8) %>
      <% if hidden_params.empty? %>
        <% session_params = session[:search] ? session[:search].dup : {} %>
        <% hidden_params = session_params.except(:q, :search_field, :qt, :page, :utf8) %>
      <% end %>
      <%= render_hash_as_hidden_fields(hidden_params) %>
      <% if !params[:q_row].present? || params[:action] == 'edit' %>
          <div class="form-group col-xs-6">
            <label for="q" class="sr-only"><%= t('blacklight.search.form.q') %></label>
              <%= text_field_tag :q, params[:q], :placeholder => t('blacklight.search.form.q'), :class => "search-query phone-search-query form-control", :id => "q", :autocapitalize => "off", :autofocus => should_autofocus_on_search_box? %>
          </div>

          <% unless search_fields.empty? %>
            <div class="form-group col-xs-4 col-sm-4 col-md-5">
              <label for="search_field" class="sr-only"><%= t('blacklight.search.form.search_field.label') %></label>
              <%= select_tag(:search_field, options_for_select(search_bar_select, selected:params[:search_field],disabled: ["separator_1","separator_2","separator_3","separator_4"]), :title => t('blacklight.search.form.search_field.title'), :class => 'form-control') %>
              <span class="sr-only"><%= t('blacklight.search.form.search_field.post_label') %></span>
            </div>
          <% end %>

          <button id="search-btn" class="btn btn-search" type="submit">
            <i class="fa fa-search fa-inverse" aria-hidden="true" alt=""></i><span class="sr-only"><%=t('blacklight.search.form.submit')%></span>
          </button>
          <!-- </span> -->
        <!-- </div> -->

        <% if !query_has_constraints? %>
          <% if !params[:range].blank? %>
<%end%>
          <%end %>
        <% end %>
      <% end %>
    <% end %>

    <% if params[:q_row].present? && params[:action] != 'edit'%>
      <h2 class="advanced-search">Advanced Search</h2>
    <% end %>

  </div>

  <div class="search-nav col-sm-6 col-md-5">
    <ul class="nav nav-pills" role="navigation" aria-label="secondary">
      <li><a href="/advanced"><i class="fa fa-search" aria-hidden="true" alt=""></i>Advanced Search</a></li>
      <li><a href="http://www.library.cornell.edu/ask" onclick="javascript:_paq.push(['trackEvent', 'header_links', 'Ask a Librarian']);"><i class="fa fa-question" aria-hidden="true" alt=""></i>Ask a Librarian</a></li>
      <li><a href="http://www.library.cornell.edu/myacct" onclick="javascript:_paq.push(['trackEvent', 'header_links', 'My Account']);"><i class="fa fa-user" aria-hidden="true" alt=""></i>My Account</a></li>
    </ul>
  </div>

</div>
