<% 
  heading = @data['heading']
  encoded_heading = heading.gsub(/[&"]/, {'&': '%26', '"': '\''})
  counts = JSON.parse(@data['counts_json'] || '{}')
  worksAboutCount = counts['worksAbout']
  worksCount = counts['works']
  rda = JSON.parse(@data['rda_json'] || '{}')
%>
<div id="kpanelContent">
  <div id="popoverContent" class="kp-content">
    <div id="panelMainContent" class="mt-2 float-none clearfix">
      <h2><%= heading %></h2>
      <div class="author-works float-none">
        Works: <%= link_to pluralize(number_with_delimiter(worksCount), 'Title'), "/?q=\"#{encoded_heading}\"&search_field=authortitle_browse" %>
      </div>
      <div class="author-works float-none">
        Works about: <%= link_to pluralize(number_with_delimiter(worksAboutCount), 'Title'), "/?q=\"#{encoded_heading}\"&search_field=subjectwork_browse" %>
      </div>
      <div id="authorTitleDescription">
        <div class="dl dl-horizontal" id="authorTitleDescriptionContainer">
          <% rda.each_with_index do |(label, val), i| %>
            <% fieldClass = i % 2 == 0 ? 'field1-bg' : 'field2-bg' %>
            <div class="dt <%= fieldClass %>"><span class="rda-label"><%= label %></span> : </div>
            <div class="dd <%= fieldClass %>"><%= val.is_a?(Array) ? val.join(', ') : val %></div>
          <% end %>
          <div id="time-indicator" class="text-center pt-10 pb-10">
            <%= image_tag('ajax-indicator.gif', alt: 'processing time indicator', id: 'kp-time-indicator') %>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-2 w-100 text-right">
      <%= link_to browse_info_path({browse_type: 'Author-Title', authq: encoded_heading}), id: "fullRecordLink" do %>
        <span class="info-button d-sm-inline-block btn btn-sm btn-outline-secondary">View full info &raquo;</span>
      <% end %>
    </div>
  </div>
</div>
