<% 
	data = @data 
	exclusions = @exclusions
	encoded_heading = (data["heading"]).gsub('&', '%26').gsub("\"", "'") 
	display_image = true
	display_description = true
	if(!exclusions.nil? && exclusions.key?(:exclusion) && exclusions[:exclusion] == true)
		#if properties is empty OR image is included, do not display image
		if(exclusions.key?(:properties))
			if(exclusions[:properties].include? ("image"))
				display_image = false
			end
			if(exclusions[:properties].include? ("description"))
				display_description = false
			end
		else
			#If no subproperties do not display any external data
			display_image = false
			display_description = false
		end
	end
%>
<div id="kpanelContent">
    <div id="time-indicator" class="text-center pt-10 pb-10">
        <%= image_tag("ajax-indicator.gif", alt: "processing time indicator", id: "kp-time-indicator") %>
    </div>
	<div id="popoverContent" class="kp-content d-none">
		<div id="authContent" class="float-none clearfix">
		<% if display_image == true %>
		<div class="float-left clearfix">
			<div id="imageContent" class="float-left clearfix"></div>
		</div>
		<% end %>
		<div id="panelMainContent" class="mt-2 float-none clearfix">
			
			<h2>
			  <%= data["heading"] %>
			</h2>
			<%# Show works by and works about %>
			<% if data["counts_json"].present? %>
			  <% works=JSON.parse(data["counts_json"]) %>
			  <% if @auth_type == "author"  %>
			    <div class="author-works float-none">
			      Works by:
			      <%= link_to '/?q="' + encoded_heading + '"&search_field=author_' + search_field(data["headingTypeDesc"]) + '_browse' do %>
			        <%= works["worksBy"] %>
			        Title(s)
			      <% end %>
			    </div>
			    <div class="author-works float-none">
			      Works about:
			      <%= link_to '/?q="' + encoded_heading + '"&search_field=subject_' + search_field(data["headingTypeDesc"]) + '_browse' do %>
			        <%= works["worksAbout"]  %>
			        Title(s)
			      <% end %>
			    </div>
			  <% end %>		  
			<% end %>
			<% if display_description == true %>
			<div id="wikidataDescription" class="m-1"></div>
			<% end %>
			<%#RDA additional fields%>
			<% if data["mainEntry"] == true  && data["rda_json"].present? %>
			  <% if data["rda_json"].present? %>
			   	<div id='authorDescription'>
				    <div class="dl dl-horizontal">
				      <% rda=JSON.parse(data["rda_json"]) 
				        # We will only display certain fields for now
				        counter= 0
				        # Field and Occupation seem redundant, so using just occupation to be consistent with author page
				        fields_display = ["Occupation", "Birth Place"]
				        fields_display.each do |t|
				          if(rda.key?(t))
				            d = rda[t]
				            len= d.length
				            if(len > 0) 
				              d_display_array = (len > 3)?  d.slice(0, 2) : d    
				              #If this is the occupation field, remove last "s" to get rid of plural form
				              if(t == "Occupation")
				              	d_display_array.map! { |dv| dv.gsub(/s$/, '') }
				              end
				              d_display = d_display_array.join("<br>")
				              counter = counter + 1
				              field_class= counter.even? ? "field2-bg": "field1-bg"
				      %>
				              <div class="dt <%#field_class%>">
				                <%= t + ':' %>
				              </div>
				              <div class="dd <%#field_class%>"><%= sanitize d_display%></div>
				           
				      <%    end   
				          end
				        end
				      %>		
				    </div>
			   </div>
			  <% end %>
			<% end %>
		</div>		
		
    <% if display_image %>
      <div id='imageAttribution' class='mt-2 text-right'></div>
    <% end %>
		<div class='mt-2 w-100 text-right'>
			<a id="fullRecordLink" href=""><span class='info-button d-sm-inline-block btn btn-sm btn-outline-secondary'>View full info &raquo;</span></a>
		</div>

<div>
