<div class="digitalcollections-search">
	<%= render :partial => 'intro_text' %>
	<%= render :partial => 'digreg_search_form' %>
	<div class="digital-collections">
		<% if @digReg.present?  %>
			<% @digReg.each do |data| %>
				<div class="document blacklight-digitalcollections-name clearfix">
					<div class="document-data">
						<h2 class="blacklight-title_display">
							<% if data["url_access_display"].present? && data["fulltitle_display"].present? && data["url_access_display"].length == 1 %>
								<% data["url_access_display"].each do |link| %>
									<%= link_to link.split('|')[0] do %>
									  <%= data["fulltitle_display"] %>
									<% end %>
								<% end %>
							<% else %>
								<% if data["id"].present? %>
								<%= link_to '/catalog/' + data["id"] do %>
						      <%= data["fulltitle_display"] %>
						    <% end %>
							<% end %>
							<% end %>
						</h2>
						<div class="description">
							<% if data["summary_display"].present? %>
							  <% data["summary_display"].each do |sd| %>
							    <p>
							      <%= sd  %>
							    </p>
							  <% end %>
							<% end %>
						</div>
						<div class="catalog-link">
						  <% if data["id"].present? && (data["url_access_display"].present? && data["url_access_display"].length < 2)%>
						    <%= link_to '/catalog/' + data["id"] do %>
						      Catalog record <span class="sr-only">- <%= data["fulltitle_display"] %></a>
						    <% end %>
						  <% end %>
						</div>
					</div>
				</div>
    		<% end %>
    	<% end %>
	</div>
	<%= render :partial => 'shared/top' %>
</div>
