<% if document['availability_json'].present? %>
<%= document['availability_json'].inspect %>
<% availability = JSON.parse(document['availability_json']) %>


    <% onotes = availability["notes"] %>


    <% if availability["availAt"].present? %>
    <% availability["availAt"].each do |location,callnumber| %>
    <div class="status ">
      <i class="fa fa-check" title="Available"></i>
      <span class="location">
        <% unless location == "Library Technical Services Review Shelves" %>
        <%= "#{location}" %>
        <% end %>
      </span>
      <span class="callnumber">
        <%= callnumber %>
      </span>
      <% if availability['notes'].present?  %>
        <span class="onotes">
        Order Information:   <%=  onotes %>
        </span>
      <% end %>
    </div>
      <% end %>
      <% end %>

      <% if availability["unavailAt"].present? %>
      <% availability["unavailAt"].each do |location,callnumber| %>
    <div class="status ">
          
        <i class="fa fa-clock-o" title="Available by request"></i>
    <span class="location">
      <% unless location == "Library Technical Services Review Shelves" %>
      <%= "#{location}" %>
      <% end %>
    </span>
    <span class="callnumber">
      <%= callnumber %>
    </span>
    <% if availability['notes'].present?  %>
      <span class="onotes">
      Order Information:   <%=  onotes %>
      </span>
    <% end %>
  </div>
  <% end %>

    <% end %>
    <% end %>
