<%- # local params:
    # label
    # value
    # options =>
    #   :remove => url for a remove constraint link
    #   :classes => array of classes to add to container span
    options ||= {}
    options[:escape_label] = true unless options.has_key?(:escape_label)
    options[:escape_value] = true unless options.has_key?(:escape_value)
-%>

<%- unless options[:remove].blank? -%>
  <a href="<%= url_for(options[:remove]) %>" class="btn btn-light" title="Remove">
<%- end -%>
    <%- if label.blank? -%>
      <%= content_tag :span, "All Fields", class: 'filter-label' %>:
    <%- else -%>
      <%= content_tag :span, label, class: 'filter-label' %>:
    <%- end -%>
    <%- unless value.blank? -%>
      <%= raw(value) %>
      <%= content_tag :span, value, class: 'filter-value', title: value %>
    <%- end -%>
    <i class="fa fa-times fa-inverse"></i>
<%- unless options[:remove].blank? -%>
  </a>
<%- end -%>
