<%#= params[:q].inspect%>
<%params[:y] = params[:q] %>
<% params[:q] = params[:show_query] if  params[:show_query]%>
<% if params[:action] != 'edit' && query_has_constraints? || params[:range].present? %>
  <div class="selected-facets">
  	<%=link_to t('blacklight.search.start_over'), url_for(:action=>'index'), :id=>"startOverLink", :class=>"btn btn-secondary" %>
    <span class="constraints-label hidden"><% t('blacklight.search.filters.title') %></span>
    <%#= params.inspect %>
    <%if params[:q_row].nil? && params[:f].nil? %>
        <% if params[:search_field] && params[:search_field] != 'advanced'%>
    	     <%= render_constraints_cts(params) %>
        <% end %>
    <% elsif params[:search_field] && params[:search_field] == 'advanced'%>
    <%= render_advanced_constraints_query(params) %>

    <% else %>
    <%= render_constraints(params) %>

    <% end %>
    <% if params[:q_row].present? && params[:action] != 'edit'%>
      <div class="advanced-search-link">
        <%= link_to 'Modify advanced search', url_for(:controller=>"advanced_search", :action=>"edit", :q_row=>params[:q_row], :op_row=>params[:op_row], :search_field_row=>params[:search_field_row], :boolean_row=>params[:boolean_row], :f=>params[:f]), :class=>"btn btn-search" %>
      </div>
    <% end %>
  </div>
  <% params[:q] = params[:y]%>
<% end %>
