<% # container for a single doc -%>
<div class="document <%= render_document_class document %> clearfix" data-bibid="<%= document.id %>">
  <div class="iconcover bookcover" id="OCLC:<%= bookcover_oclc(document) %>" data-oclc="<%= bookcover_oclc(document) %>">
<%= image_tag "cornell/layout/placeholder-item.png", class: "img-thumbnail",  alt: "" %>
    <i class="fa fa-<%= formats_icon_mapping(document['format'].first) %>"></i>
  </div>

  <div class="document-data">
    <%= render :partial => 'document_header', :locals => { :document => document, :document_counter => document_counter } %>

    <% # main container for doc partial view -%>
    <%= render_document_partial document, :index %>
  </div>
</div>
