<%- unless flash[:success] %>
<%= form_tag url_for(:controller => self.controller.class.to_s.underscore.to_s.sub!("_controller",''), :action => "email"), :id => 'email_form', :class => "ajax_form", :method => :post do %>

  <div class="modal-body">
    <%= render :partial=>'/flash_msg' %>


    <div class="form-group">
      <label for="to">
        <%= t('blacklight.email.form.to') %>
      </label>
      <%= text_field_tag :to, params[:to], :class => "form-control" %><br/>
    </div>
    <div class="form-group">
      <label for="message">
        <%= t('blacklight.email.form.message') %>
      </label>
      <%= text_area_tag :message, params[:message], :class => "form-control" %>
    </div>
    <% @callNosArray = [] %>
    <% @locationNameArray = [] %>
    <% @tempLocationsArray = [] %>
    <% @statusArray = [] %>
    <% @documents.each do |doc| %>
      <% @locationNameArray.push(getLocations(doc)) %>
      <% @tempLocationsArray.push(getTempLocations(doc))%>
      <% @callNosArray.push(getCallNos(doc))%>
      <% @statusArray.push(getItemStatus(doc))%>
      <%=hidden_field_tag "id[]", doc.id %>
      <%=hidden_field_tag "location", @locationNameArray %>
      <%=hidden_field_tag "templocation", @tempLocationsArray %>
      <%=hidden_field_tag "callnumber", @callNosArray%>
      <%=hidden_field_tag "itemStatus", @statusArray%>
    <% end %>
    <%- if params[:sort] -%>
      <%= hidden_field_tag "sort", params[:sort] %>
    <%- end -%>
    <%- if params[:per_page] -%>
      <%= hidden_field_tag "per_page", params[:per_page] %>
    <%- end -%>
  </div>
  <div class="modal-footer">
  <button type="submit" class="btn btn-primary"> <%= t('blacklight.sms.form.submit') %></button>
  </div>
<% end %>
<%- else %>
<div class="modal-body">
  <%= render :partial=>'/flash_msg' %>
    <span class="ajax-close-modal"/>
    </div>
<%- end %>
