- some_av = 'no'
- pda = 'no'
- bound_with = false
- aeon_codes = []
- reading = ''
- holdings_condensed = create_condensed_full(@document) 
- bwith = ''
- if @document['bound_with_json']
  - bwith = t('blacklight.catalog.bound_with')
- multi_vol = @document['multivol_b']
- on_site_count = 0
- reserve_item = false
- if (!holdings_condensed.nil?) && holdings_condensed.size > 0
  - grouped_holdings = group_holdings(holdings_condensed)
  - multiple_groups = grouped_holdings.size > 1
  - grouped_holdings.each do |group, holdings|
    - # Render group headings only if we have multiple groups
    - if multiple_groups
      - reading = ''
      - if group == "Rare"
        -  reading = ' for Reading Room Delivery'
        %h3.rare
          = group + " Items"
    - if holdings.size == 1 and holdings[0]["location_name"] == "*Networked Resource" 
    - else
      %table.table.table-responsive
        - if !online_url(@document)
          %thead
            %tr
              %th
                = t('blacklight.holdings.loc')
              %th
                = t('blacklight.holdings.cln')
              %th
                = t('blacklight.holdings.sta')
        %tbody
          - holdings.sort_by{|holding| holding["location_name"]}.each do |entry|
            - reserve_item = (entry['location_code'].include?(',res') ||  entry['location_code'].include?('oclc,afrp') || entry['location_name'].include?('Reserve'))
            -  reading = ''
            - location = (entry['location_name'] == '*Networked Resource') ? 'Online' : entry['location_name']
            - callnumber = entry['call_number']
            - noncirc = false
            - if location =~ /Non-Circulating/
              - noncirc = true 
            - if location =~ /Spacecraft Planetary Imaging Facility/
              - noncirc = true 
              - @request_ok = false
            - if location =~ /Rare/
              - reading = ' for Reading Room Delivery'
              - noncirc = true 
              - aeon_codes << entry['location_code'] unless aeon_codes.include?(entry['location_code'])
            - some_av = 'no'
            %tr
              %td
                = render 'location', :entry => entry, :location => location, :hide_status => @hide_status
              %td
                -# Only display a real call number
                = render 'callnumber',:entry => entry, :location=>location, :pda => pda, :callnumber => callnumber
              %td
                = render 'status',:entry => entry, :location=>location, :pda => pda, :callnumber => callnumber,:noncirc=>noncirc,:some_av =>some_av,:multi_vol =>multi_vol,:bwith=>bwith,:on_site_count=>on_site_count,:bound_with=>bound_with
  
      - # end of table.
      - if (group == "Circulating" && on_site_count <= holdings.count) or group == "Rare"
        - # request_context_path = ( group == "Circulating" ) ? blacklight_cornell_request.magic_request_path("#{params[:id]}") :  "http://wwwdev.library.cornell.edu/aeon/monograph.php?bibid=#{params[:id]}&libid=#{aeon_codes.join('|')}"
        -  request_context_path = request_path(group,params[:id],aeon_codes,@document)
        - @group = group
        .item-requests
          - counter = params[:counter] || session[:search][:counter]
          - if @request_ok
            - if counter.blank?
              =link_to "Request item#{reading}", request_context_path, { :title => 'Request', :class => 'btn btn-danger' }
            - else
              =link_to "Request item#{reading}", request_context_path, { :title => 'Request', :class => 'btn btn-danger', 'data-counter'.to_sym => counter, :id => 'id_request' }
          - # only display request scan button for items not at RMC
          - if (group == "Circulating" && on_site_count <= holdings.count && !reserve_item)
            - ill_link = ENV['ILLIAD_URL'] + '?Action=10&Form=30&url_ver=Z39.88-2004&rfr_id=info%3Asid%2Fnewcatalog.library.cornell.edu'
            - ill_title = "#{@title}" + (@subtitle.present? ? ": #{@subtitle}" : '')
            - ill_isbn = @document[:isbn_display] ? @document[:isbn_display][0] : ''
            - if ill_isbn == ''
              - ill_isbn = @document[:issn_display] ? @document[:issn_display][0] : ''
            - ill_link += "&rft.title=#{CGI.escape(ill_title)}"
            - ill_link += "&rft.isbn=#{ill_isbn}"
            =link_to 'Request scan of article/chapter', ill_link, { :title => 'Request scan', :class => 'btn btn-default'}
  
  
  
