- some_av = 'no'
- pda = 'no'
- bound_with = false
- holdings_condensed = create_condensed_full(@document) 
- bwith = ''
- if @document['bound_with_json']
  - bwith = t('blacklight.catalog.bound_with')
- multi_vol = @document['multivol_b']
- on_site_count = 0
- if (!holdings_condensed.nil?) && holdings_condensed.size > 0
  - grouped_holdings = group_holdings(holdings_condensed)
  - multiple_groups = grouped_holdings.size > 1
  - grouped_holdings.each do |group, holdings|
    - # Render group headings only if we have multiple groups
    - if multiple_groups
      - if group == "Rare"
        %h3.rare
          = group + " Items"
    - if holdings.size == 1 and holdings[0]["location_name"] == "*Networked Resource" 
    - else
      %table.table.table-striped.table-responsive
        - if !online_url(@document)
          %thead
            %tr
              %th
                = t('blacklight.holdings.loc')
              %th
                = t('blacklight.holdings.cln')
              %th
                = t('blacklight.holdings.sta')
        %tbody
          - holdings.sort_by{|holding| holding["location_name"]}.each do |entry|
            - location = (entry['location_name'] == '*Networked Resource') ? 'Online' : entry['location_name']
            - callnumber = entry['call_number']
            - noncirc = false
            - if location =~ /Non-Circulating/
              - noncirc = true 
            - if location =~ /Rare/
              - noncirc = true 
            - some_av = 'no'
            %tr
              %td
                = render 'location', :entry => entry, :location => location, :hide_status => @hide_status
              %td
                -# Only display a real call number
                = render 'callnumber',:entry => entry, :location=>location, :pda => pda, :callnumber => callnumber
              %td
                = render 'status',:entry => entry, :location=>location, :pda => pda, :callnumber => callnumber,:noncirc=>noncirc,:some_av =>some_av,:multi_vol =>multi_vol,:bwith=>bwith,:on_site_count=>on_site_count,:bound_with=>bound_with

      - # end of table.
      - if (group == "Circulating" && on_site_count <= holdings.count) or group == "Rare"
        - request_context_path = group == "Circulating" ? blacklight_cornell_request.magic_request_path("#{params[:id]}") : request_aeon_path("#{params[:id]}")
        - @group = group
        .item-requests
          - counter = params[:counter] || session[:search][:counter]
          - if counter.blank?
            =link_to 'Request', request_context_path, { :title => 'Request', :class => 'btn btn-danger' }
          - else
            =link_to 'Request', request_context_path, { :title => 'Request', :class => 'btn btn-danger', 'data-counter'.to_sym => counter, :id => 'id_request' }
  
  
  
  
