 <%# default partial to display solr document fields in catalog index view -%>
 <%# This file is needed to display icon images in results display -%>

  <span class="blacklight-title_uniform_display"><%= render_index_field_value :document => document, :field => 'title_uniform_display' %></span>

  <div class="data-block">
    <span class="blacklight-author_display"><%= render_index_field_value :document => document, :field => 'author_display' %></span>
    <span class="format"><i class="icon-<%= formats_icon_mapping(document) %>"></i> <%= render_index_field_value :document => document, :field => 'format' %></span>
    <span class="blacklight-pub_info_display"><%= render_index_field_value :document => document, :field => 'pub_info_display' %></span>
    <span class="blacklight-language_facet"><%= render_index_field_value :document => document, :field => 'language_facet' %></span>
    <span class="blacklight-edition_display"><%= render_index_field_value :document => document, :field => 'edition_display' %></span>
  </div>

  <% if online_url(document) %>
    <div class="available-online">
      <i class="icon-ok" title="Available"></i> <a href="<%= online_url(document) %>" class="label label-online">Online</a>
    </div>
  <% end %>

  <div id="blacklight-avail-<%=document.id%>" class="status">  </div>
