<div id="marc_view">
  <% fields = @document.to_marc.find_all{|f| ('000'..'999') === f.tag }  %>
  <div class="field"><%= t('blacklight.search.librarian_view.leader', :leader => @document.to_marc.leader) %></div>
  <%- fields.each do |field| -%>
	<%- unless field.tag.to_s == "940" -%>
	  <div class="field">
	  	<div class="tag_ind">
	      <span class="tag">
	        <%= h(field.tag) %>
	  	  </span>
		  <%- if field.is_a?(MARC::ControlField) -%>
		    <span class="control_field_values">
		      <%= h(field.value) %>
		    </span>
		  <%- else -%>
		    <div class="ind1">
		      <%= !field.indicator1.blank? ? field.indicator1 : "&nbsp;&nbsp;".html_safe -%>
		    </div>
		    <div class="ind2">
		      <%= !field.indicator2.blank? ? field.indicator2 : "&nbsp;&nbsp;".html_safe -%>
		    </div>
		  </div>
		  <div class="subfields">
		    <%- field.each do |sub| -%>
			  <span class="sub_code">‡<%= h(sub.code) %></span> <%= h(sub.value) %>
			<%- end -%>
		  <%- end -%>
	    </div>
	  </div>
	<%- end-%>
  <%- end -%>
</div>
<% holding_id = "" %>
<% items_json = {} %>
<%#= @document["items_json"].inspect %>
<div hidden id="integration">
<div class="subfields">
<title>
<%= @document["fulltitle_display"] %>
</title>
</div>
<div class="subfields">
<author>
<%= @document["author_display"] %>
</author>
</div>
<div class="subfields">
<% if !@document["edition_display"].nil? %>
<% count = 0 %>

<% @document["edition_display"].each do | edition| %>
   <% if count >= 0 %>
      <edition>
      <%= edition %>
      </edition>
      <% count = count + 1 %>
   <% end %>
<% end %>
<% end %>
</div>
<div class="subfields">
<% count = 0 %>
<% @document["publisher_display"].each do | publisher | %>
   <% if count >= 0 %>
      <publisher>      
       <%= publisher %> 
      </publisher>
      <% count = count + 1 %>
   <% end %>
 <% end %>
</div>
<div class="subfields">
<% count = 0 %>
<% if !@document["pub_date_display"].nil? %>
<% @document["pub_date_display"].each do | date | %>
<pub_date>
<%= date %>
</pub_date>
<% count = count + 1 %>
<% end %>
<% end %>
</div>
<div class="subfields">
<% if !@document["items_json"].nil? %>
  <% items_json = JSON.parse(@document["items_json"]) %>
  <% count = 0 %>
  <% items_json.each do | key, value | %>
    <% if count >= 0 %>
       <% value.each do | item | %>
     <item_json>
          <%= item %>
     </item_json>
       <% end %>
      <% count = count + 1 %>
    <% end %>
  <% end %>
 <% end %>
</div>
<%# end %>
</div>









