<% if group == "Circulating"  || group == "Rare" %>
<% # request_context_path = ( group == "Circulating" ) ? blacklight_cornell_request.magic_request_path("#{params[:id]}") :  "http://wwwdev.library.cornell.edu/aeon/monograph.php?bibid=#{params[:id]}&libid=#{aeon_codes.join('|')}" %>
<% request_context_path = request_path(group,params[:id],aeon_codes,@document) %>
<% request_scan_path = sub_tilde_path('AEON_SCAN_REQUEST',params[:id],aeon_codes,@document) %>
<% @group = group %>
<div class="item-requests">
  <% counter = params[:counter] || session[:search][:counter] %>
  <% if (not_spif > 0)    %>
    <% if group == 'Rare' && ENV['DISABLE_AEON'] == 'true' %>
      <%= 'Reading Room delivery and scans of these materials are temporarily unavailable.' %>
    <% elsif counter.blank? %>
      <%= link_to "Request item#{reading}", request_context_path, { :title => 'Request', :class => 'btn btn-danger', :id => 'id_request' }  %>
      <%= link_to "Request item for scanning", request_scan_path, { :title => 'Request', :class => 'btn btn-default', :id => 'id_request' } unless reading.empty?   %>
    <% else %>
      <%= link_to "Request item#{reading}", request_context_path, { :title => 'Request', :class => 'btn btn-danger', 'data-counter'.to_sym => counter, :id => 'id_request' } %>
      <%= link_to "Request item for scanning", request_scan_path , { :title => 'Request', :class => 'btn btn-default', :id => 'id_request' }  unless reading.empty? %>
    <% end %>
  <% end %>

  <% # only display request scan button for items not at RMC %>
  <% if (group == "Circulating" && !reserve_item) %>
    <% ill_link = ENV['ILLIAD_URL'] + '?Action=10&Form=30&url_ver=Z39.88-2004&rfr_id=info%3Asid%2Fnewcatalog.library.cornell.edu' %>
    <% ill_title = "#{@title}" + (@subtitle.present? ? ": #{@subtitle}" : '') %>
    <% ill_isbn = @document[:isbn_display] ? @document[:isbn_display][0] : '' %>
    <% if ill_isbn == '' %>
      <% ill_isbn = @document[:issn_display] ? @document[:issn_display][0] : '' %>
    <% end %>
    <% ill_link += "&rft.title=#{CGI.escape(ill_title)}" %>
    <% ill_link += "&rft.isbn=#{ill_isbn}" %>
    <%= link_to 'Request scan of article/chapter', ill_link, { :title => 'Request scan', :class => 'btn btn-default'} %>
  <% end %>
</div>
<% end %>
