<%= render :partial => "search_navigation" %>


<div class="well well-search clearfix">
  <div class="row-fluid">
    <div class="search-tools">
      <%= form_tag search_action_url, :method => :get, :class => 'search-form' do %>
        <%= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page]).html_safe %>
        <% if !params[:q_row].present? %>
          <div class="row-fluid">
            <div class="search-options span6">
              <label for="q" class="hide-text"><%= t('blacklight.search.form.q') %></label>
                <%= text_field_tag :q, params[:q], :placeholder => t('blacklight.search.form.q'), :class => "search-query phone-search-query", :id => "q", :autocapitalize => "off" %>
            </div>

            <% unless search_fields.empty? %>
              <label for="search_field" class="hide-text"><%= t('blacklight.search.form.search_field.label') %></label>

              <%= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), :title => t('blacklight.search.form.search_field.title'), :class => 'span4') %>

              <span class="hide-text"><%= t('blacklight.search.form.search_field.post_label') %></span>
            <% end %>

            <span class="search-or-reset span2">
              <input type="submit" class="btn btn-inverse hidden-phone" id="search" value="Search">

              <span class="submit-search-text hide-text"><%=t('blacklight.search.form.submit')%></span>

              <button id="search-btn" class="btn mobile-search-btn visible-phone btn-inverse" type="submit">
                <i class="fa fa-search fa-inverse"></i>
              </button>

              <% if query_has_constraints? || params[:range].present? %>
                <span class="start-over"> or <%=link_to t('blacklight.search.start_over'), url_for(:action=>'index'), :id=>"startOverLink" %></span>
              <% end %>
            </span>
          </div>

          <% if !query_has_constraints? %>
            <% if !params[:range].blank? %>

            <%end %>
          <% end %>
        <% end %>
      <% end %>

      <%= render :partial => "constraints" %>
      <%= render :partial => 'did_you_mean' %>
    </div>

    <%# Offer search expansion only under certain conditions %>
    <%# if expandable_search? %>
      <%#= render :partial => 'expand_search' %>
    <%# end %>

    <%# Add simple links to WCL and Summon if an advanced search %>
    <%# if params[:q_row].present? %>
      <%#= render :partial => 'expand_advanced_search' %>
    <%# end %>

  </div>
  <% if params[:q_row].present? %>
    <div class="advanced-search-link">
      <%#= link_to 'Advanced search', params.except(:f).merge(:controller=>"advanced", :action=>"index"), :class=>"advanced-search-link" %>
      <%#= link_to 'New advanced search', url_for(:controller=>"advanced", :action=>"index"), :class=>"" %>
      <%#= debug params[:search_field_row] %>
      <%= link_to 'Modify advanced search', url_for(:controller=>"advanced", :action=>"edit",
                                                  :q_row=>params[:q_row], :op_row=>params[:op_row], 
                                                  :search_field_row=>params[:search_field_row], 
                                                  :boolean_row=>params[:boolean_row], :f=>params[:f]), :class=>"" %>

      <% if query_has_constraints? || params[:range].present? %>
         or <%=link_to t('blacklight.search.start_over'), url_for(:action=>'index'), :id=>"startOverLink" %>
      <% end %>
    </div>
  <% end %>
</div>
