<%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark/Folder functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.

  #Added Bootstrap class well and 'hidden-phone' for the tools-bar 
-%>

<li><%= render_show_doc_actions @document %></li>
<!-- TODO: TRANSLATE -->
      <% if (@document.respond_to?(:export_as_mla_citation_txt) || @document.respond_to?(:export_as_apa_citation_txt)) %>
         <li><%= link_to t('blacklight.tools.cite'), citation_catalog_path(:id => @document), {:id => 'citeLink', :name => 'citation', :class => 'lightboxLink'} %></i></li>
      <% end %>
      <% if @document.export_formats.keys.include?( :refworks_marc_txt ) %>
        <li><%= link_to t('blacklight.tools.refworks'), refworks_export_url(:id => @document)  %></li>      
     <% end %>
     <% if @document.export_formats.keys.include?( :endnote ) %>
       <li><%= link_to t('blacklight.tools.endnote'), catalog_path(@document, :format => 'endnote') %></li>
    <% end %>
    <% if @document.respond_to?( :to_email_text ) %>
      <li><%= link_to t('blacklight.tools.email'), email_catalog_path(:id => @document), {:id => 'emailLink', :name => 'email', :class => 'lightboxLink'} %></li>
    <%- end -%>
    <%- if @document.respond_to?( :to_sms_text ) -%>
      <li><%= link_to t('blacklight.tools.sms'), sms_catalog_path(:id => @document), {:id => 'smsLink', :name => 'sms', :class => 'lightboxLink'} %></li>
    <%- end -%>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Atlas <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="atlas.html">Sample panel</a></li>
        <li class="divider"></li>
        <li><a href="#">Browse category</a></li>
        <li class="divider"></li>
        <li class="nav-header">Resources</li>
        <li><a href="#">Articles</a></li>
        <li><a href="#">Video</a></li>
        <li><a href="#">Etc.</a></li>
      </ul>
    </li>
