<div id="document" class="<%= render_document_class %> span12">
  <div id="doc_<%= @document.id.to_s.parameterize %>">
    <% # bookmark/folder functions -%>
    <div class="row">
      <div class="cover span2">
        <img src="/assets/cornell/layout/placeholder-item.png" class="img-polaroid">
      </div>

      <div class="document item-metadata span10">
        <div class="document-header span6">
          <%= '<span class="shadow-record label label-info">Shadow Record</span>'.html_safe if is_shadow_record(@document) %>

          <%= render_document_heading(:h2).html_safe %>

          <h3 class="subtitle"><%= render_document_show_field_value :document => @document, :field => 'subtitle_display' %></h3>
        </div>

        <div class="well availability span3">
          <h4>Availability</h4>

          <%= render :partial => 'show_holdings', :locals => {:documents => @response.docs}  %>

          <% if online_url(@document) %>
            <% online_links = render_display_link :document => @document, :field => 'url_access_display', :format => 'raw' %>

            <ul class="unstyled">
              <% online_links.each do |link| %>
                <li class="online-link"><i class="icon-ok"></i> <%= link %></li>
              <% end %>
            </ul>
          <% end %>

          <span class="blacklight-url_access_display"></span>

          <!-- Only show request button if there are physical holdings -->
          <% locs = @response.docs[0]['location_display'] %>
          <% if locs.blank? or !(locs.length == 1 and locs[0] == '*Networked Resource') %>
            <div class="item-requests">
              <%= link_to 'Request', aeon_request_path(params[:id]), {:title => 'Request', :class => 'btn btn-danger'} %>
            </div>
          <% end %>

          <%# @TODO: This needs to be conditional and more descriptive if possible, such as "Table of Contents at Google Books" %>
          <!-- <p class="google-books-link"><i class="icon-globe"></i> More info at <a href="#">Google Books</a></p> -->
        </div>

        <%= render_document_partial @document, :show %>
      </div>
    </div>
  </div>
</div>
