<div id="document" class="<%= render_document_class %> col-sm-12">
  <%# Begin %>
  <%  work_id = @document["workid_display"].present? ? @document["workid_display"][0] : "" %>
  <input type="hidden" id="work_id" value="<%= work_id %>">
  <% title_resp = @document['title_responsibility_display'].present? ? @document['title_responsibility_display'][0] : "" %>	
  <input type="hidden" id="title_resp" value="<%= title_resp %>">
  <input type="hidden" id="title" value="<%= @document['title_display'] if @document['title_display'].present? %>">
  <input type="hidden" id="subtitle" value="<%= @document['subtitle_display'] if @document['subtitle_display'].present? %>">
  <input type="hidden" id="pub_date" value="<%= @document['pub_date_facet'] if @document['pub_date_facet'].present? %>">
  <input type="hidden" id="publisher" value="<%= @document['publisher_display'][0] if @document['publisher_display'].present? %>">
  <input type="hidden" id="publisher_nbr" value="<%= @document['publisher_number_display'][0] if @document['publisher_number_display'].present? %>">
  <input type="hidden" id="other_tile" value="<%= @document['title_other_display'].join(" ") if @document['title_other_display'].present? %>">
  <% 	author_json_parsed = @document['author_json'].present? ? ActiveSupport::JSON.decode(@document['author_json'][0]) : "" %>
  <input type="hidden" id="author" value="<%= author_json_parsed["search1"] %>">
  <input type="hidden" id="format" value="<%= @document['format_main_facet'] %>">
  <div id="doc_<%= @document.id.to_s.parameterize %>">
  <%
    # With Blacklight 7, we can't access these using field_value. So get them all out of 
    # the Solr doc right up front.
    title_display = @document['title_display']
    title_vern_display = @document['title_vern_display'] # 10751949
    subtitle_display = @document['subtitle_display'] 
    subtitle_vern_display = @document['subtitle_vern_display'] # 10615953
    responsibility = @document['title_responsibility_display']
    url_access_json = @document['url_access_json']
    restrictions_display = @document['restrictions_display']
    other_availability_json = @document['other_availability_json']
    workid_display = @document['workid_display']
    workid_facet = @document['workid_facet']
  %>
  <% # bookmark/folder functions -%>
  <div class="document-header">
  <%
    @title = the_vernaculator(title_display, title_vern_display)
    @subtitle = the_vernaculator(subtitle_display, subtitle_vern_display)
  %>
  <% if @title.present? %>
    <h2><%= @title %></h2>
  <% end %>
  <% if @subtitle.present? %>
    <h3 class="subtitle"><%= @subtitle %></h3>
  <% end %>
  <% if responsibility.present? %>
    <h3 class="responsibility"><%= responsibility.map(&:inspect).join('; ').gsub('"', '') %></h3>
  <% end %>
  </div>
  <div class="row">
    <div class="col-md-4 order-md-8">
	  <div class="availability card" id="availability-panel" style="margin-bottom:10px">
	    <div class="card-header">
	      Availability
	    </div>
	    <div class="card-block">
	      <%# finding aid %>
	      <% if finding_aid(@document) %>
	        <% url_findingaid_display = render_display_link :document => @document, :field => 'url_findingaid_display', :format => 'default'%>
	        <% if url_findingaid_display.present? %>
	          <span class="url_findingaid_display" id="finding_aid">
	            <i class="fa fa-check" alt="" aria-hidden="true"></i><%= url_findingaid_display %>
              </span>
	        <% end %>
	      <% end %>
	      <%# online %>
	      <% if online_url(@document) %>
	        <%#  holdings_condensed = create_condensed_full(@document) %>
	        <%  summary_holdings = '' %>
	        <%#  if holdings_condensed[0]['summary_holdings'] %>
	        <%# summary_holdings=(holdings_condensed[0]['summary_holdings'].html_safe + "<br/>".html_safe).html_safe%><%#  end %>
	        <!-- render display link start -->
	        <% online_links = render_display_link :document => @document, :field => 'url_access_display', :format => 'raw' %>
	        <!-- render display link end -->
	        <div class="holdings-online">
	          <div class="online-label">
	            <i class="fa fa-check" alt="" aria-hidden="true"></i>Online
	        </div>
	        <ul class="list-unstyled">
	          <% if  url_access_json.present?  %>
	            <% url_access_json.each do |link| %>
	              <% l = JSON.parse(link) %>
	              <% if l["description"].present? %>
	                <% label = l["description"] %>
	              <% else %>
	                <% label = t('blacklight.url.message')  %><% end %>
	                <li>
	                  <div class="online-link">
	                    <%= link_to(process_online_title(label), l["url"].html_safe, {:class => 'online-access', :onclick => "javascript:_paq.push(['trackEvent', 'itemView', 'outlink']);"}) %>
	                    <div class="message">
	                      <%= summary_holdings.html_safe %>
	                    </div>
	                    <div class="message">
	                      <% if @document["holdings_json"].present? %>
	                        <% holdings = JSON.parse(@document['holdings_record_display'][0]) %>
	                        <% getID = holdings["id"] %>
	                        <% if !JSON.parse(@document["holdings_json"])[getID]['holdings'].nil? %>
	                          <% sizer = JSON.parse(@document["holdings_json"])[getID]['holdings'].size %>
	                          <% if sizer != 1 %>
	                            Library has:<br/> <%= JSON.parse(@document["holdings_json"])[getID]['holdings'].join('<br>').html_safe %>
	                          <% else %>
	                            Library has: <%= JSON.parse(@document["holdings_json"])[getID]['holdings'][0].html_safe %>
	                          <% end %>
	                        <% end %>
	                      <% end %>
	                    </div>
	                    <% if l["dbcode"].present? && l["providercode"].present? && online_url(@document) %>
	                      <span class="terms-of-use">
		                    <a href="/catalog/tou/<%= @document[:id] %>/<%= l["providercode"] %>/<%= l["dbcode"] %>">Terms of use</a>
		                  </span>
	                    <% end %>
	                  </div>
	                </li>
	              <% end %>
	            <% end %>
	          </ul>
	        </div>
            <%# online-holdings %>
	      <% end %>
	      <%# end online %>
	      <%# print holdings %>
	      <!-- solr verion of holdings -->
	      <div class="holdings">
	        <%#= @document.inspect %>
	        <% if !@document['holdings_json'].nil? %>
	          <% holdings = JSON.parse(@document['holdings_json']) %>
	          <%#= JSON.parse(holdings).to_s.inspect %>
	          <%#= getID.inspect %>
	          <%#= holdings[getID].inspect %>
	          <% circulating_items = [] %>
	          <% rare_items = [] %>
	          <% online_items = [] %>
	          <% holdings.each do |k,holding| %>
	             <% if holding["location"].present? %>
	                <% if holding["location"]["name"].include?('Rare') %>
	                   <% rare_items << holding %>
	                <% else %>
	                   <% circulating_items << holding %>
	                <% end %>
	             <% elsif holding["online"].present? %>
	                <% online_items << holding %>
	             <% end %>
	          <% end %>
	          <% if !circulating_items.blank? %>
	             <% items = circulating_items.sort_by { |e| e["location"]["name"]  } %>
	             <% group = "Circulating" %>
	             <%= render 'holdings_group',:items => items, :group => group %>
	          <% end %>
	          <% if !rare_items.blank? %>
	             <% items = rare_items.sort_by { |e| e["location"]["name"]  } %>
	             <% group = "Rare" %>
	             <% if circulating_items.present? %>
	                <h3>Rare Items</h3>
	             <% end %>
	             <%= render 'holdings_group',:items => items, :group => group %>
	          <% end %>
	        <% end %>
	      </div>
	      <%# access restrictions %>
	      <% if restrictions_display.present? %>
	        <span class="access-restriction">
	          <h4>Restrictions</h4>
	          <%= restrictions_display.map(&:inspect).join('; ').gsub('"', '') %>
	        </span>
	      <% end %>
	      <%# end availability.well %>
	    </div>
	  </div>
	  <%# other forms %>
	  <% if  other_availability_json.present? || workid_display.present?   %>
	    <div class="availability card ">
	      <div class="card-header">
	        Other forms of this work
	      </div>
	      <div class="card-block">
	        <% if  other_availability_json.present?  %>
	          <% other_availability_json.each do |form| %>
	            <% f = JSON.parse(form) %>
	            <div class="other-form">
	              <span class="other-form-title">
	                <%= link_to f["title"], "/catalog/#{f["bibid"]}" %>
	              </span>
	              <% formats = f["format"].split(",") %>
	                <% formats.each do |format| %>
	                  <span class="other-form-format">
	                    <i class="fa fa-<%= formats_icon_mapping(format) %>" alt="" aria-hidden="true"></i><%= format %>
	                  </span>
	                <% end %>
	                <% if f["pub_date"].present? %>
	                  <span class="other-form-date"><%= f["pub_date"] %></span>
	                <% end %>
	                <% if f["language"].present? %>
	                  <span class="other-form-language"><%= f["language"] %></span>
	                <% end %>
	                <% if f["edition"].present? %>
	                  <span class="other-form-edition"><%= f["edition"] %></span>
	                <% end %>
	                <% if f["sites"].present? %>
	                  <span class="other-form-online">
	                    <span class="status-online online-label">Online</span>
	                  </span>
	                <% end %>
	                <% if f["libraries"].present? %>
	                  <span class="at-library-label">At the Library</span>
	                <% end %>
	                </div>
	                <%# end other-form %><% end %>
	              <% end %>
	              <% if workid_display.present?  %>
	                <p><%= link_to "See all forms of this work",'/?f[workid_facet][]=' + workid_facet[0] %></p>
	              <% end %>
	            </div>
	      </div>
	    <% end %>
	  </div>
	  <%# end col-md-4 %>
	  <div class="col-md-8 order-md-4">
	    <div class="pull-right item-cover">
	      <% if @document["format_main_facet"] == "Musical Recording"%>
			<div id="discogs-image"></div>
		  <% end %>
	      <div class="bookcover d-none d-sm-inline" id="OCLC:<%= bookcover_oclc(@document) %>" data-oclc="<%= bookcover_oclc(@document) %>"></div>
	    </div>
	    <%# item-cover %>
	    <%= render_document_partial @document, :show %>
	    <%= render :partial => 'catalog/call_number_browse_links' %>
	    <%# browse-call-number %>
	  </div>
	  <%# col-sm-8 %>
    </div>
    <%# row %>
  </div>
  <%# doc_ %>
</div>
<%# end #document %>
