<div id="document" class="<%= render_document_class %> span12">
  <div id="doc_<%= @document.id.to_s.parameterize %>">
    <% # bookmark/folder functions -%>
    <div class="row">
      <div class="cover span2">
        <img src="/assets/cornell/layout/placeholder-item.png" class="img-polaroid">
      </div>

      <div class="document item-metadata span10">
        <div class="document-header span6">
          <%= '<span class="shadow-record label label-info">Shadow Record</span>'.html_safe if is_shadow_record(@document) %>

          <!--<%= render_document_heading(:h2).html_safe %>-->

          <%
            title = render_document_show_field_value :document => @document, :field => 'title_display'
            title_vern = render_document_show_field_value :document => @document, :field => 'title_vern_display'
            title = title_vern +  ' / ' + title unless title_vern.blank?

            subtitle = render_document_show_field_value :document => @document, :field => 'subtitle_display'
            subtitle_vern = render_document_show_field_value :document => @document, :field => 'subtitle_vern_display'
            subtitle = subtitle_vern + ' / ' + subtitle unless subtitle_vern.blank?

            responsibility = render_document_show_field_value :document => @document, :field => 'title_responsibility_display'
          %>

          <% if title.present? %>
            <h2><%= title %></h2>
          <% end %>

          <% if subtitle.present? %>
            <h3 class="subtitle"><%= subtitle %></h3>
          <% end %>

          <% if responsibility.present? %>
            <h3 class="responsibility"><%= responsibility %></h3>
          <% end %>
        </div>

        <div class="well availability span3">
          <h4>Availability</h4>

          <%= render :partial => 'show_holdings', :locals => {:documents => @response.docs}  %>

          <% if online_url(@document) %>
            <% online_links = render_display_link :document => @document, :field => 'url_access_display', :format => 'raw' %>

            <ul class="unstyled">
              <% online_links.each do |link| %>
                <li class="online-link"><i class="icon-ok"></i> <%= link %></li>
              <% end %>
            </ul>
          <% end %>

          <% access_restrictions = render_document_show_field_value :document => @document, :field => 'restrictions_display' %>
          <% if access_restrictions.present? %>
            <span class="access-restriction"><%= access_restrictions %></span>
          <% end %>

          <span class="blacklight-url_access_display"></span>

          <!-- Only show request button if there are physical holdings -->
          <% locs = @response.docs[0]['location_display'] %>
          <% if locs.blank? or !(locs.length == 1 and locs[0] == '*Networked Resource') %>
            <div class="item-requests">
              <%= link_to 'Request', aeon_request_path(params[:id]), {:title => 'Request', :class => 'btn btn-danger'} %>
            </div>
          <% end %>

          <%# @TODO: This needs to be conditional and more descriptive if possible, such as "Table of Contents at Google Books" %>
          <!-- <p class="google-books-link"><i class="icon-globe"></i> More info at <a href="#">Google Books</a></p> -->
        </div>

        <%= render_document_partial @document, :show %>
      </div>
    </div>
  </div>
</div>
