<%# default partial to display solr document fields in catalog show view -%>
<dl class="dl-horizontal">
  <% document_show_fields(document).each do |solr_fname, field| -%>
    <% if document.has? solr_fname  -%>
	    <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
      <dd class="blacklight-<%= solr_fname.parameterize %>">
        <% if display_icon? solr_fname -%>
          <%= render_index_field_value :document => document, :field => 'format' %>
        <% elsif display_link? solr_fname -%>
          <%= render_display_link :document => document, :field => solr_fname %>
        <% elsif  solr_fname == 'author_display' -%>
          <%= render_clickable_document_show_field_value :document => document, :field => solr_fname %>
          <% authname = render_document_show_field_value document, :field => solr_fname %>
          <a href='/browse/info?q=<%=  authname.split("|")[0] %>&amp;browse_type=Author' class="lightboxLink" id="info" ><span class="label label-info">
            Info
          </span>
          </a>
        <% elsif display_clickable? solr_fname -%>
          <%= render_clickable_document_show_field_value :document => document, :field => solr_fname %>
        <% else -%>
          <%= render_document_show_field_value document, :field => solr_fname %>
        <% end -%>
      </dd>
    <% end -%>
  <% end -%>
</dl>

