<div id="document" class="<%= render_document_class %> span12">
  <div id="doc_<%= @document.id.to_s.parameterize %>">
    <% # bookmark/folder functions -%>
    <div class="row">
      <div class="cover span2">
        <div class="iconcover bookcover" id="OCLC:<%= bookcover_oclc(@document) %>" data-oclc="<%= bookcover_oclc(@document) %>">
          <img class="img-polaroid" src="/assets/cornell/layout/placeholder-item.png" alt="">
          <i class="fa fa-<%= formats_icon_mapping(@document['format'].first) %>"></i>
        </div>
      </div>

      <div class="document item-metadata span10">
        <div class="document-header">
          <%= '<span class="shadow-record label label-info">Shadow Record</span>'.html_safe if is_shadow_record(@document) %>

          <%
           title = the_vernaculator('title_display', 'title_vern_display')
            subtitle = the_vernaculator('subtitle_display', 'subtitle_vern_display')
            responsibility = render_document_show_field_value :document => @document, :field => 'title_responsibility_display'
          %>

          <% if title.present? %>
            <h2><%= title %></h2>
          <% end %>

          <% if subtitle.present? %>
            <h3 class="subtitle"><%= subtitle %></h3>
          <% end %>

          <% if responsibility.present? %>
            <h3 class="responsibility"><%= responsibility %></h3>
          <% end %>
        </div>

        <div class="well availability span4">
          <h3>Availability</h3>

          <% if finding_aid(@document) %>
            <% url_findingaid_display = render_display_link :document => @document, :field => 'url_findingaid_display' %>
            <% if url_findingaid_display.present? %>
              <span class="url_findingaid_display" id="finding_aid"><i class="fa fa-check"></i> <%= url_findingaid_display %></span>
            <% end %>
          <% end %>

          <% if online_url(@document) %>
            <% online_links = render_display_link :document => @document, :field => 'url_access_display', :format => 'raw' %>

            <h5 class="location">Online</h5>
            <% format = render_document_show_field_value :document => @document, :field => 'format' %>
            <ul class="unstyled" id="item_online_<%= format %>">
              <% online_links.each do |link| %>
                <li class="online-link" ><i class="fa fa-check"></i> <%= link %></li>
              <% end %>
            </ul>
          <% end %>

          <div class="holdings" data-bibid="<%= @document.id.to_s %>">
          <%= render "holdings"  %>
          </div>

          <% access_restrictions = render_document_show_field_value :document => @document, :field => 'restrictions_display' %>
          <% if access_restrictions.present? %>
            <span class="access-restriction">
              <h5>Restrictions</h5>
              <%= access_restrictions %>
            </span>
          <% end %>

          <span class="blacklight-url_access_display"></span>

          <%# @TODO: This needs to be conditional and more descriptive if possible, such as "Table of Contents at Google Books" %>
          <!-- <p class="google-books-link"><i class="fa fa-globe"></i> More info at <a href="#">Google Books</a></p> -->
        </div>

        <%= render_document_partial @document, :show %>
      </div>
    </div>
  </div>
</div>
