<%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark/Folder functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.

  #Added Bootstrap class well and 'hidden-phone' for the tools-bar
-%>
<% if request.path != '/bookmarks' %>
  <% citable = is_citable(@document) %>
  <% emailable = is_emailable(@document) %>
  <% exportable = is_exportable(@document) %>
  <li class="selected-box"><%= render_show_doc_actions @document %></li>
<% else %>
  <% bookmarks_index = true %>
<% end %>

<!-- TODO: TRANSLATE -->
<% if bookmarks_index || citable %>
  <% citelink_content =  '<i class="fa fa-pencil"></i>' + t('blacklight.tools.cite') %>
  <li>
    <% if bookmarks_index %>
      <%= link_to citation_catalog_path(:sort=>params[:sort], :per_page=>params[:per_page], :id => @bookmarks.collect{|doc| doc.document_id}), {:id => 'citeLink', :name => 'citation', :class => 'lightboxLink btn btn-mini'} do %>
        <%= citelink_content.html_safe %>
      <% end %>
    <% elsif citable %>
      <%= link_to citation_catalog_path(:id => @document), {:id => 'citeLink', :name => 'citation', :class => 'lightboxLink btn btn-default btn-xs'} do %>
        <%= citelink_content.html_safe %>
      <% end %>
    <% end %>
  </li>
<% end %>

<% if bookmarks_index || emailable %>
  <% emaillink_content = '<i class="fa fa-envelope"></i>' + t('blacklight.tools.email') %>
  <li>
    <% if bookmarks_index %>
      <%= link_to  email_catalog_path(:sort=>params[:sort], :per_page=>params[:per_page], :id => @bookmarks.collect {|doc| doc.document_id}), :class=>"lightboxLink btn btn-mini", :id => "email-link" do %>
        <%= emaillink_content.html_safe %>
      <% end %>
    <% elsif emailable %>
      <%= link_to email_catalog_path(:id => @document), {:id => 'email-link', :class => 'lightboxLink btn btn-default btn-xs'} do %>
        <%= emaillink_content.html_safe %>
      <% end %>
    <% end %>
  </li>
<% end %>

<% if bookmarks_index || exportable %>
  <li class="dropdown <% if !bookmarks_index %>pull-right<% end %>">
    <div class="btn-group">
      <a href="#" class="btn btn-default btn-xs" data-toggle="dropdown" id="export-menu" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share"></i>Export <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="export-menu">
        <% if bookmarks_index %>
          <li class="bookmarks-refworks">
            <%= render :partial => 'catalog/refworks_form', :locals => {:documents=>@document_list} %>
          </li>
          <li>
            <%= link_to t('blacklight.tools.endnote'), endnote_catalog_path(:sort=>params[:sort], :per_page=>params[:per_page], :id => @bookmarks.collect {|doc| doc.document_id}, :format => 'endnote'), {:class => ' '}%>
          </li>
        <% elsif exportable %>

          <% if @document.export_formats.keys.include?( :endnote ) %>
            <li>
              <%= link_to t('blacklight.tools.endnote'), catalog_path(@document, :format => 'endnote') %>
            </li>
          <% end %>
          <% if @document.export_formats.keys.include?( :mendeley ) %>
            <li>
              <%= link_to t('blacklight.tools.mendeley'), catalog_path(@document, :format => 'mendeley') %>
            </li>
          <% end %>
          <% if @document.export_formats.keys.include?( :refworks_marc_txt ) %>
            <li>
              <%= link_to t('blacklight.tools.refworks'), refworks_export_url({ 'url' => url_for_document(@document), 'format' => :refworks_marc_txt }), :target=>'_blank'  %>
            </li>
          <% end %>
          <% if @document.export_formats.keys.include?( :zotero ) %>
            <li>
              <%= link_to t('blacklight.tools.zotero'), catalog_path(@document, :format => 'zotero') %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </li>
<% end %>