<div id="document" class="<%= render_document_class %> span8">
      <div id="doc_<%= @document.id.to_s.parameterize %>">
        <% # bookmark/folder functions -%>
        <div class="row">
          <div class="span2">
            <div class="cover">
              <img src="/assets/cornell/layout/placeholder-item.png" class="img-polaroid">
            </div>
          </div>
          <div class="span6">
            <%= render_document_heading(:h2).html_safe %>
            <h3 class="subtitle"><%= render_document_show_field_value :document => @document, :field => 'subtitle_display' %></h3>
            <div class="document item-metadata">
              <%= render_document_partial @document, :show %>
            </div>
          </div>
        </div>  
      </div>
    </div>