<% carriers = 
{
'AT&T' => 'att',
'Verizon' => 'verizon',
'T Mobile' => 'tmobile',
'Sprint' => 'sprint',
'Nextel' => 'nextel',
'Virgin Mobile' => 'virgin',
'Alltel' => 'alltel',
'Cricket' => 'cricket',
}
%>
<%- unless flash[:success] %>
  
  <%= form_tag url_for(:controller => "catalog", :action => "sms"), :id => 'sms_form', :class => "ajax_form", :method => :post do %>
<div class="modal-body">
  <%= render :partial=>'/flash_msg' %>
    <div class="form-group">
      <label for="to"> 
        <%= t('blacklight.sms.form.to') %>
      </label>
      <%= text_field_tag :to, params[:to], :class => "form-control" %>
    </div>
    <div class="form-group">
      <label for="carrier">
        <%= t('blacklight.sms.form.carrier') %> 
      </label>
      <%= select_tag(:carrier, options_for_select(sms_mappings.to_a.sort.unshift([t('blacklight.sms.form.carrier_prompt'),'']), params[:carrier]), :class => "form-control") %><br/>
    </div> 
    
    <% @documents.each do |doc| %>
       <%=hidden_field_tag "id[]", params[:id] %>
       <%=hidden_field_tag "callnumber", params[:callnumber] %> 
       <%=hidden_field_tag "location", params[:location] %> 
       <%=hidden_field_tag "tiny", params[:tiny] %>   
    <% end %>
</div>
<div class="modal-footer">
<button type="submit" class="btn btn-primary"> <%= t('blacklight.sms.form.submit') %></button>
</div>
  <% end %>
<%- else %>
<div class="modal-body">
  <%= render :partial=>'/flash_msg' %>
    <span class="ajax-close-modal"/>
    </div>
<%- end %>
