<% if i["avail"].present? && !i["items"].present? && !pda.present? && !i["order"].present? && i["call"] != "On Order" %>
  <div class="status">
    <span class="online-label">
      <i class="fa fa-check fa-on-site" title="On-site use" alt="" aria-hidden="true"></i>
      <%= I18n.t('blacklight.catalog.available') %>
    </span>
    <%= I18n.t('blacklight.catalog.on_site') %>
  </div>
  <% end %>

<% if i["items"].present? %>
  <% if i["items"]["avail"].present? && i["items"]["avail"] == i["items"]["count"] && i["circ"] == true  %>
    <%# i["items"]["avail"].each do |item| %>

      <div class="status">
        <span class="online-label">
          <i class="fa fa-check" alt="" aria-hidden="true"></i>
          <%= I18n.t('blacklight.catalog.available') %>
        </span>
        <% if i['copy'].present? %>
          c. <%= i['copy'] %>
        <% end %>
        <% if i['items']['returned'].present? %>
          Returned <%= Time.at(i['items']['returned'][0]['status']['date']).strftime("%m/%d/%y") %>
        <% end %>
      </div>
    <%# end %>

  <% elsif (i["items"]["avail"].present? && i["items"]["avail"] == i["items"]["count"] && noncirc == true && i["circ"] != true) %>  
    <div class="status">
      <span class="online-label">
        <i class="fa fa-check fa-on-site" title="On-site use" alt="" aria-hidden="true"></i>
        <%= I18n.t('blacklight.catalog.available') %>
      </span>
      <%= I18n.t('blacklight.catalog.on_site') %>
    </div>


  <% elsif i["items"]["unavail"].present?  %>
    <% i["items"]["unavail"].each do |item| %>
      <% if item["boundWith"] == true %>
         <% item["status"] = {} %>
         <% item["status"] = i["boundWith"]["#{item["id"]}"]["status"] %>
      <% end %>
     <% if !item["status"].nil? %>
      <div class="status">
        <i class="fa fa-clock-o" alt="" aria-hidden="true"></i>
        <% if item['enum'].present?  %>
          <%= item['enum'] %>
        <% end %>
        <% if i['copy'].present?  %>
          c. <%= i['copy'] %>
        <% end %>
        <% if item["status"]["code"].present? %>
          <% if item["status"]["code"].keys[0] == "2" || item["status"]["code"].keys[0] == "3" || item["status"]["code"].keys[0] == "4" %>
            Checked out, due
            <% if item["status"]["shortLoan"].present? %>
              <%= Time.at(item["status"]["due"]).strftime("%m/%d/%y, %l:%M %P") %>
            <% else %>
              <%= Time.at(item["status"]["due"]).strftime("%m/%d/%y") %>
            <% end %>
          <% elsif item["status"]["code"].keys[0] == "9" || item["status"]["code"].keys[0] == "10" %>
            In transit 
            <% if !item["status"]["date"].nil? %>
              <%= Time.at(item["status"]["date"]).strftime("%m/%d/%y") %>
            <% end %>
          <% elsif item["status"]["code"].keys[0] == "12" %>
            Missing 
            <% if !item["status"]["date"].nil? %>
              <%= Time.at(item["status"]["date"]).strftime("%m/%d/%y") %>
            <% end %>
          <% elsif item["status"]["code"].keys[0] == "23"|| item["status"]["code"].keys[0] == "25" %>
            Requested 
            <% if !item["status"]["date"].nil? %>
              <%= Time.at(item["status"]["date"]).strftime("%m/%d/%y") %>
            <% end %>
          <%# Status 18 = At Bindery %>
          <% elsif item["status"]["code"].keys[0] == "18" %>
              <%= item["status"]["code"].values[0] %> 
              <% if !item["status"]["date"].nil? %>
                <%= Time.at(item["status"]["date"]).strftime("%m/%d/%y") %>
              <% end %>
          <%# Status 7 = On Hold, 6 = Hold Request %>
          <% elsif item["status"]["code"].keys[0] == "7" || item["status"]["code"].keys[0] == "6" %>
              <%= item["status"]["code"].values[0] %>
          <% else %>
              <%= item["status"]["code"].values[0] %>
              <% if !item["status"]["date"].nil? %>
                <%= Time.at(item["status"]["date"]).strftime("%m/%d/%y") %>
              <% end %>
          <% end %>
      <%end %>
      <% if item["recalls"].present? || item["holds"].present? %>
        <% item["recalls"] = 0 unless item["recalls"].present?  %>
        <% item["holds"] = 0 unless item["holds"].present?  %>
        (Requests: <%= item["holds"] + item["recalls"] %>)
      <% end %>
    </div>
    <% end %>
  <%end %>
  <% if i["items"]["avail"].present? && i["items"]["avail"] != i["items"]["count"] %>
    <% some_av = 'yes' %>
  <% end %>

<% if some_av == 'yes'  %>
  <div class="status">
      <span class="online-label">
        <i class="fa fa-check" alt="" aria-hidden="true"></i>
        <%= I18n.t('blacklight.catalog.available') %>
      </span>
      All other volumes/copies
    </div>
  <% end %>
<% end %>
<% end %>
<% if i["order"].present?  %>
  <div class="status">
    <i class="fa fa-clock-o" alt="" aria-hidden="true"></i> <%= I18n.t('blacklight.catalog.on_order') %>
  </div>
<% end %>
