  <div class="status">
    <% if i["items"].present? %>
    <% i["items"]
      <% if i["items"]["avail"].present? && noncirc == false  %>
        <span class="online-label">
          <i class="fa fa-check"></i>
          <%= I18n.t('blacklight.catalog.available') %>
        </span>
        <% if i['copy'].present?  %>
            c. <%= i['copy'] %>
          <% end %>
          <% if i['items']['count'] == 1 %>
           1 copy
           <% end %>

        <% elsif i["items"]["avail"].present?  and noncirc == true  %>
          <span class="online-label">
            <i class="fa fa-check fa-on-site" title="On-site use"></i>
            <%= I18n.t('blacklight.catalog.available') %>
          </span>
          <%= I18n.t('blacklight.catalog.on_site') %>
        <% elsif i['boundWith'].present? %>
            <% i['boundWith'].each do |b,v| %>
              t('blacklight.catalog.bound_with_status_label') <%=   link_to v["masterTitle"]+" "+v["masterEnum"], "/catalog/" + v["masterBibId"] %>
        <% end %>

      <% elsif i["items"]["unavail"].present? %>
      <i class="fa fa-clock-o"></i>



        <% i["items"]["unavail"].each do |item| %>
        <% if i['copy'].present?  %>
            c. <%= i['copy'] %>
          <% end %>

          <% if item["status"]["code"].present? %>
            <% if item["status"]["code"].keys[0] == "2" || item["status"]["code"].keys[0] == "3" || item["status"]["code"].keys[0] == "4" %>
            Checked out, due <%= Time.at(item["status"]["due"]).strftime("%F") %>
            <%  item["status"] = "checked_out" %>
          <% elsif item["status"]["code"].keys[0] == "9" %>
            In transit <%= Time.at(item["status"]["date"]).strftime("%F") %>
            <% else %>
              Unavailable <%= Time.at(item["status"]["date"]).strftime("%F") %>
              <% end %>
        <%end %>
        <% if item["recalls"].present? || item["holds"].present? %>
        <% item["recalls"] = 0 unless item["recalls"].present?  %>
        <% item["holds"] = 0 unless item["holds"].present?  %>
        (Requests: <%= item["holds"] + item["recalls"] %>)
        <% end %>
      <%end %>
    <% end %>

    <% if i["items"]["count"] >1 and !multi_vol %>
       <%= "#{items['count']} copies" %>
       <% end %>
    <% if i["items"]["count"] >1 and multi_vol %>
       <%= "#{i["items"]["count"]} volumes/copies" %>
        <% end %>
    <% if i["items"]["avail"].present? && i["items"]["avail"] != i["items"]["count"] %>
      <% some_av = 'yes' %>
    <% end %>
    <% end %>

    <% if i["order"].present?  %>
    <i class="fa fa-clock-o"></i> <%= I18n.t('blacklight.catalog.on_order') %>
    <% end %>
</div>
</div>
