<%#  Terms of Use page %>

<%#= render :partial => 'tou_search_form'  %>
<%#= @newTouResult.inspect %>
<%#= @dbResponse.inspect %>
<%#= @ermDBResult[0].inspect %>
<%#= @db.inspect %>


<!-- get params. compare to codes in bib. display code that matches by calling tou helper -->
<div class="row database-subject">
  <div class="page-title col-sm-12">
    <div class="return-link">
     <% if !@newTouResult.nil? %>
     	<%#= params.inspect %>
      	<%= link_to "/catalog/#{params["id"]}" do %>
        	<i class="fa fa-arrow-circle-left"></i>
        	Back to Item
     <% end %>
    </div>
    <h2>
  </div>
</div>
<div class="resources">
  <div class="document blacklight-database-name clearfix">
    <div class="document-data">
      <%# @newTouResult.each do |data| %>
      <%# data =  @newTouResult[0] %>
      <%#= datapackageName.inspect %>
       	<%# if data["title_id"].nil? %>
          <%#= link_to data["packageUrl"], :onclick => "javascript:_paq.push(['trackEvent', 'book_tou', 'outlink_book_tou_title']);" do %>
            <%# if data["packageName"].present? %>
              <%#= @packageName %>
            <%# else %>
              <%#= data["packageUrl"] %>
            <%# end %>
          <%# end %>

        <%#= params.inspect %> 
        <% if @newTouResult[0]['records'].present? %>
            <%#= @newTouResult.inspect %>
            <% @newTouResult[0]['records'].each do | data | %>
            <% if data.present?  %>
             <% if data['error_message'].present? %>
       		    <h3 class="blacklight-title_display">
                  <%= data['error_message'] %>
         	    </h3>
             <% else %>
       		    <h3 class="blacklight-title_display">
                  <%= data['name'] %>
         	    </h3>
                      <table class="table table-bordered table-striped">
                <caption class="sr-only">License terms and permissions for this resource</caption>
                <thead>
                  <tr>
                    <th scope="col">
                      License Term
                    </th>
                    <th scope="col">
                      Permissions
                    </th>
                    <th scope="col">
                      Note
                    </th>
                  </tr>
                </thead>
                <tbody> 
                  <%#= data.inspect %>
                   <%#= data['linkedLicenses'].size.inspect %>
                  <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['metadataUsage'].inspect %> 
                  <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['authorizedUsers2'][0]['value']['label'].inspect %> 
             <% if !data['linkedLicenses'].nil? %>    
                  <% if data['linkedLicenses'][0]['remoteId_object']['customProperties']['authorizedUsers2'].nil? and !data['linkedLicenses'][0]['remoteId_object']['customProperties']['authorizedUsers'].nil? and data['linkedLicenses'][0]['remoteId_object']['customProperties']['authorizedUsers'][0]['internal'] == false and data['linkedLicenses'][0]['remoteId_object']['customProperties']['authorizedUsers'][0]['value'].include?(';')  %>
                    <tr>
                      <td>
                        Authorized Users
                      </td>
                      <td>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['authorizedUsers'][0]['value'].gsub!(';',',') %>
                        
                      </td>
                      <td>
                        <%# if data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalPermissions'][0]['type']['description'].start_with?('Default note:') %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalPermissions'][0]['type']['description'].gsub('Default note: ','') %>
                        <%# else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalPermissions'][0]['type']['description'] %>                        
                        <%# end %>
                      </td>
                    </tr>
                  <% end %>
               
                  <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['authorizedUsers2'].nil? and data['linkedLicenses'][0]['remoteId_object']['customProperties']['authorizedUsers2'][0]['internal'] == false and data['linkedLicenses'][0]['remoteId_object']['customProperties']['authorizedUsers2'][0]['value']['label'].include?(';')  %>
                    <tr>
                      <td>
                        Authorized Users
                      </td>
                      <td>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['authorizedUsers2'][0]['value']['label'].gsub!(';',',') %>
                        
                      </td>
                      <td>
                        <%# if data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalPermissions'][0]['type']['description'].start_with?('Default note:') %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalPermissions'][0]['type']['description'].gsub('Default note: ','') %>
                        <%# else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalPermissions'][0]['type']['description'] %>                        
                        <%# end %>
                      </td>
                    </tr>
                  <% end %>
                    <% if data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalPermissions2'].nil? and !data['linkedLicenses'][0]['remoteId_object']["customProperties"]["generalPermissions"].nil? and data['linkedLicenses'][0]['remoteId_object']["customProperties"]["generalPermissions"][0]["internal"] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalPermissions'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalPermissions'][0]['value']['label'] %>
                      </td>
                       <td>
                        <% if data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalPermissions'][0]['type']['description'].start_with?('Default note:') %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalPermissions'][0]['type']['description'].gsub('Default note: ','') %>
                        <% else %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalPermissions'][0]['type']['description'] %>                        
                        <% end %>
                      </td>
                    </tr>
                   <% end %>                  
                    <% if !data['linkedLicenses'][0]['remoteId_object']["customProperties"]["generalPermissions2"].nil? and data['linkedLicenses'][0]['remoteId_object']["customProperties"]["generalPermissions2"][0]["internal"] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalPermissions2'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalPermissions2'][0]['value']['label'] %>
                      </td>
                       <td>
                        <% if data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalPermissions2'][0]['type']['description'].start_with?('Default note:') %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalPermissions2'][0]['type']['description'].gsub('Default note: ','') %>
                        <% else %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalPermissions2'][0]['type']['description'] %>                        
                        <% end %>
                      </td>
                    </tr>
                   <% end %>                  
                  <%# end %>
                  <% if !data['linkedLicenses'][0]['remoteId_object']["customProperties"]["generalRestrictions"].nil? and data['linkedLicenses'][0]['remoteId_object']["customProperties"]["generalRestrictions"][0]["internal"] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalRestrictions'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalRestrictions'][0]['value']['label'] %>
                      </td>
                      <td>
                        <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalRestrictions'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalRestrictions'][0]['publicNote'] %>
                        <% else %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['generalRestrictions'][0]['value'] %>
                        <% end %> 
                      </td>
                    </tr>
                  <% end %> 
                   <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['otherRestrictions'].nil? and data['linkedLicenses'][0]['remoteId_object']['customProperties']['otherRestrictions'][0]['internal'] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['otherRestrictions'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['otherRestrictions'][0]['value']['label'] %>
                      </td>
                      <td>
                        <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['otherRestrictions'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['otherRestrictions'][0]['publicNote'] %>
                        <% else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['otherRestrictions'][0]['type']['description'] %>
                        <% end %>  
                      </td>
                    </tr>
                  <% end %>
                  
                  <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['walkInAccess'].nil? and data['linkedLicenses'][0]['remoteId_object']['customProperties']['walkInAccess'][0]['internal'] == false %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['walkInAccess'][0]['type']['label'] %> 
                      </td>                    
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['walkInAccess'][0]['value']['label'] %> 
                      </td>
                      <td>
                        <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['walkInAccess'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['walkInAccess'][0]['publicNote'] %>
                        <% else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['walkInAccess'][0]['type']['description'] %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['scholarlySharing'].nil? and data['linkedLicenses'][0]['remoteId_object']['customProperties']['scholarlySharing'][0]['internal'] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['scholarlySharing'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['scholarlySharing'][0]['value']['label'] %>
                      </td>
                      <td>
                        <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['scholarlySharing'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['scholarlySharing'][0]['publicNote'] %>
                        <% else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['scholarlySharing'][0]['type']['description'] %>
                        <% end %> 
                      </td>
                     </tr>
                  <% end %>
                  <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']["curePeriodBreachUnit"].nil? and data['linkedLicenses'][0]['remoteId_object']['customProperties']["curePeriodBreachUnit"][0]["internal"] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['curePeriodBreachUnit'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['curePeriodBreachUnit'][0]['value']['label'] %>
                      </td>
                      <td>
                        <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['curePeriodBreachUnit'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['curePeriodBreachUnit'][0]['publicNote'] %>
                        <% else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['curePeriodBreachUnit'][0]['type']['description'] %>
                        <% end %> 
                      </td>
                    </tr>
                  <% end %>
                  <% if !data['linkedLicenses'][0]['remoteId_object']["customProperties"]["governingLaw"].nil? and data['linkedLicenses'][0]['remoteId_object']["customProperties"]["governingLaw"][0]["internal"] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['governingLaw'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['governingLaw'][0]['value']['label'] %>
                      </td>
                      <td>
                        <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['governingLaw'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['governingLaw'][0]['publicNote'] %>
                        <% else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['governingLaw'][0]['type']['description'] %>
                        <% end %> 
                      </td>
                    </tr>
                  <% end %>
                  <% if !data['linkedLicenses'][0]['remoteId_object']["customProperties"]["courseReserve"].nil? and data['linkedLicenses'][0]['remoteId_object']["customProperties"]["courseReserve"][0]["internal"] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['courseReserve'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['courseReserve'][0]['value']['label'] %>
                      </td>
                      <td>
                         <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['courseReserve'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['courseReserve'][0]['publicNote'] %>
                        <% else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['courseReserve'][0]['type']['description'] %>
                        <% end %> 
                      </td>
                    </tr>
                  <% end %>
                  <% if !data['linkedLicenses'][0]['remoteId_object']["customProperties"]["remoteAccess"].nil? and data['linkedLicenses'][0]['remoteId_object']["customProperties"]["remoteAccess"][0]["internal"] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['remoteAccess'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['remoteAccess'][0]['value']['label'] %>
                      </td>
                      <td>
                         <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['remoteAccess'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['remoteAccess'][0]['publicNote'] %>
                        <% else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['remoteAccess'][0]['type']['description'] %>
                        <% end %> 
                      </td>
                    </tr>
                  <% end %>
                  <% if !data['linkedLicenses'][0]['remoteId_object']["customProperties"]["remoteAccessInfo"].nil? and data['linkedLicenses'][0]['remoteId_object']["customProperties"]["remoteAccessInfo"][0]["internal"] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['remoteAccessInfo'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['remoteAccessInfo'][0]['value'] %>
                      </td>
                      <td>
                          <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['remoteAccessInfo'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['remoteAccessInfo'][0]['publicNote'] %>
                        <% else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['remoteAccessInfo'][0]['type']['description'] %>
                        <% end %> 
                      </td> 
                    </tr>
                  <% end %>
                  <% if !data['linkedLicenses'][0]['remoteId_object']["customProperties"]["fairUseClause"].nil? and data['linkedLicenses'][0]['remoteId_object']["customProperties"]["fairUseClause"][0]["internal"] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['fairUseClause'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['fairUseClause'][0]['value']['label'] %>
                      </td>
                      <td>
                          <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['fairUseClause'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['fairUseClause'][0]['publicNote'] %>
                        <% else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['fairUseClause'][0]['type']['description'] %>
                        <% end %> 
                      </td> 
                    </tr>
                  <% end %>
                  <% if !data['linkedLicenses'][0]['remoteId_object']["customProperties"]["illGeneralSelect"].nil? and data['linkedLicenses'][0]['remoteId_object']["customProperties"]["illGeneralSelect"][0]["internal"] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['illGeneralSelect'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['illGeneralSelect'][0]['value']['label'] %>
                      </td>
                      <td>
                          <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['illGeneralSelect'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['illGeneralSelect'][0]['publicNote'] %>
                        <% else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['illGeneralSelect'][0]['type']['description'] %>
                        <% end %> 
                      </td>
                    </tr>
                  <% end %>
                  <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']["illRecordKeepingSelect"].nil? and data['linkedLicenses'][0]['remoteId_object']['customProperties']["illRecordKeepingSelect"][0]["internal"] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['illRecordKeepingSelect'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['illRecordKeepingSelect'][0]['value']['label'] %>
                      </td>
                      <td>
                        <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['illRecordKeepingSelect'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['illRecordKeepingSelect'][0]['publicNote'] %>
                        <% else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['illRecordKeepingSelect'][0]['type']['description'] %>
                        <% end %> 
                      </td>
                    </tr>
                  <% end %>
                   <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['illElectronic'].nil? and data['linkedLicenses'][0]['remoteId_object']['customProperties']['illElectronic'][0]['internal'] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['illElectronic'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['illElectronic'][0]['value']['label'] %>
                      </td>
                      <td>
                        <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['illElectronic'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['illElectronic'][0]['publicNote'] %>
                        <% else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['illElectronic'][0]['type']['description'] %>
                        <% end %>  
                      </td>
                    </tr>
                  <% end %>
                   <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['illSecureElectronic'].nil? and data['linkedLicenses'][0]['remoteId_object']['customProperties']['illSecureElectronic'][0]['internal'] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['illSecureElectronic'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['illSecureElectronic'][0]['value']['label'] %>
                      </td>
                      <td>
                        <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['illSecureElectronic'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['illSecureElectronic'][0]['publicNote'] %>
                        <% else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['illSecureElectronic'][0]['type']['description'] %>
                        <% end %>  
                      </td>
                    </tr>
                  <% end %>
                  <% if !data['linkedLicenses'][0]['remoteId_object']["customProperties"]["illPrint"].nil? and data['linkedLicenses'][0]['remoteId_object']["customProperties"]["illPrint"][0]["internal"] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['illPrint'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['illPrint'][0]['value']['label'] %>
                      </td>
                      <td>
                        <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['illPrint'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['illPrint'][0]['publicNote'] %>
                        <% else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['illPrint'][0]['type']['description'] %>
                        <% end %> 
                      </td>
                    </tr>
                  <% end %>
                   <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['electronicLink'].nil? and data['linkedLicenses'][0]['remoteId_object']['customProperties']['electronicLink'][0]['internal'] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['electronicLink'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['electronicLink'][0]['value']['label'] %>
                      </td>
                      <td>
                        <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['electronicLink'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['electronicLink'][0]['publicNote'] %>
                        <% else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['electronicLink'][0]['type']['description'] %>
                        <% end %>  
                      </td>
                    </tr>
                  <% end %>
                   <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['prePrintArchive'].nil? and data['linkedLicenses'][0]['remoteId_object']['customProperties']['prePrintArchive'][0]['internal'] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['prePrintArchive'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['prePrintArchive'][0]['value']['label'] %>
                      </td>
                      <td>
                        <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['prePrintArchive'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['prePrintArchive'][0]['publicNote'] %>
                        <% else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['prePrintArchive'][0]['type']['description'] %>
                        <% end %>  
                      </td>
                    </tr>
                  <% end %>
                   <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['postPrintArchive'].nil? and data['linkedLicenses'][0]['remoteId_object']['customProperties']['postPrintArchive'][0]['internal'] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['postPrintArchive'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['postPrintArchive'][0]['value']['label'] %>
                      </td>
                      <td>
                        <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['postPrintArchive'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['postPrintArchive'][0]['publicNote'] %>
                        <% else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['postPrintArchive'][0]['type']['description'] %>
                        <% end %>  
                      </td>
                    </tr>
                  <% end %>
                   <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['coursePackPrint'].nil? and data['linkedLicenses'][0]['remoteId_object']['customProperties']['coursePackPrint'][0]['internal'] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['coursePackPrint'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['coursePackPrint'][0]['value']['label'] %>
                      </td>
                      <td>
                        <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['coursePackPrint'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['coursePackPrint'][0]['publicNote'] %>
                        <% else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['coursePackPrint'][0]['type']['description'] %>
                        <% end %>  
                      </td>
                    </tr>
                  <% end %>
                   <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['textAndDataMining'].nil? and data['linkedLicenses'][0]['remoteId_object']['customProperties']['textAndDataMining'][0]['internal'] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['textAndDataMining'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['textAndDataMining'][0]['value']['label'] %>
                      </td>
                      <td>
                        <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['textAndDataMining'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['textAndDataMining'][0]['publicNote'] %>
                        <% else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['textAndDataMining'][0]['type']['description'] %>
                        <% end %>  
                      </td>
                    </tr>
                  <% end %>
                   <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['metadataUsage'].nil? and data['linkedLicenses'][0]['remoteId_object']['customProperties']['metadataUsage'][0]['internal'] == false  %>
                    <tr>
                      <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['metadataUsage'][0]['type']['label'] %>
                      </td>
                       <td>
                        <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['metadataUsage'][0]['value'] %>
                      </td>
                      <td>
                        <% if !data['linkedLicenses'][0]['remoteId_object']['customProperties']['metadataUsage'][0]['publicNote'].nil? %>
                          <%= data['linkedLicenses'][0]['remoteId_object']['customProperties']['metadataUsage'][0]['publicNote'] %>
                        <% else %>
                          <%#= data['linkedLicenses'][0]['remoteId_object']['customProperties']['metadataUsage'][0]['type']['description'] %>
                        <% end %>  
                      </td>
                    </tr>
                  <% end %>
                <% end %>
                  <%#= data.inspect %>
                </tbody>
              </table>
         	 <% end %>
            <% end %>
           <% end %>
        <% else %>

          <table class="table table-bordered table-striped">
            <caption class="sr-only">License terms and permissions for this resource</caption>
            <thead>
              <tr>
                <th scope="col">
                  License Term
                </th>
                <th scope="col">
                  Note
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Authorized Users
                </td>
                <td>
                  Faculty, Staff, Students, Walk-in users, Weill Medical
                </td>
              </tr>
              <tr>
                <td>
                  Permitted - (Digitally Copy)
                </td>
                <td>
                  Authorized Users may electronically display, download, print, and digitally copy a reasonable portion (generally one or two articles or one book chapter) of the Licensed Materials.
                </td>
              </tr>
              <tr>
                <td>
                  Restricted - Other Use Restrictions (Public Note)
                </td>
                <td>
                  Authorized users are not permitted to modify or create a derivative work of the Licensed Materials, may not remove, obscure or modify any copyright or other notices included in the Licensed Materials, and may not use the Licensed Materials for commercial purposes, including but not limited to the sale of the Licensed Materials or bulk reproduction or distribution of the Licensed Materials in any form without the prior written permission of Licensor.
                </td>
              </tr>
            </tbody>
          </table>
       <% end %>
     <% end %>
    
    </div>
  </div>
</div>
