<% if back_to_catalog_needed %>
  <% session[:search][:controller] == 'advanced_search' ? link_label = 'Back to results' : '' %>
  <% link_back = link_back_to_catalog({:label => link_label}) %>
  <% if link_back %>
    <% if !link_back[:url].include? "databases" and link_back[:url] != "/"  %>
      <%= link_to link_back[:url], {:class => 'return-link', :title => 'return to previous page'} do %>
        <i class="fa fa-arrow-circle-left"></i> <%= link_back[:label] %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%#= render :partial => 'search_form' %>
<% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title.html_safe, :application_name => application_name).html_safe %>
 <% content_for(:head) do -%>
        <%  render_link_rel_alternates          %>
        <%= render_opensearch_response_metadata %>
        <%= auto_discovery_link_tag(:rss, url_for(params.merge(:format => 'rss')), :title => t('blacklight.search.rss_feed') ) %>
        <%= auto_discovery_link_tag(:atom, url_for(params.merge(:format => 'atom')), :title => t('blacklight.search.atom_feed') ) %>
        <%= render_extra_head_content %>
 <% end -%>

<% sidebar_items << render_document_sidebar_partial %>


<div class="show">
  <%= render 'constraints', :localized_params=>session[:search] %>
</div>

<div class="row">
  <div class="item-pagination col-sm-5">
    <%= render 'previous_next_doc' %>
  </div>
  <div class="item-tools col-sm-7">
    <ul class="fa-ul" id="item-tools">
      <%= render_document_sidebar_partial %>
    </ul>
  </div>
</div>

<% Rails.logger.debug "Viewing item #{@document.id} - session: #{session} " %>
<% if params[:flash] == 'success' %>
  <%- flash.now[:success]  = 'Your request was submitted successfully.' %>
<% end %>

<div class="row">
  <div id="id_current_counter" style="display: none"><% counter = params[:counter] || session[:search][:counter] %><% if !counter.blank? %><%= counter %><% end %></div>
  <%= render :partial => 'show_metadata' %>
</div>

<div class="col-sm-12">
  <div class="librarian-view">
    <% if respond_to? :solr_document_path and @document.respond_to?(:to_marc) %>
      <%= link_to t('blacklight.tools.librarian_view'), librarian_view_solr_document_path(@document), {:id => 'librarianLink', :name => 'librarian_view'} %>
    <%end%>
  </div>
</div>

<% if @document.respond_to?(:zzzexport_as_openurl_ctx_kev) %>
        <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_partial_name(@document)) %>"></span>
       <!--
       // COinS, for Zotero among others. really, this does not work very well. So I removed it.
       // This document_partial_name(@document) business is not quite right,
       // but has been there for a while.
      -->
<% end %>
