        <script> var bibdata = {"items": [{"author":null,"title":null,"pub_place":null,"publisher":null,"publisher_date":null,"edition":null,"bib_format":null,"permlocation":null,"permlocationcode":null,"holdings":[]}]}; </script>
        <div class="control-group">
        <div class="controls"><input type="hidden" id="Restrictions" name="Restrictions" value="<%= @re506 %>"/>
        </div>
        </div>
        <div class="control-group">
        <div class="controls"><input type="hidden" id="ItemInfo3" name="ItemInfo3" value="<%= @re506 %> "/>
        </div>
        </div>
        <div class="control-group">
        <div class="controls"><input type="hidden" id="ItemInfo5" name="ItemInfo5" value=""/>
        </div>
        </div>
        <div class="control-group">
        <div class="controls"><div id="Warningdis" name="Warningdis"><%= @warning %></div>
        <div><input type="hidden" id="AeonForm" name="AeonForm" value="<%= @type %>"/></div>
        <div class="row-fluid">
<div id="noshow">
        <div class="control-group">
        <label class="control-label" for="ItemTitle" >Title</label>
        <div class="controls"><textarea id="ItemTitle" name="ItemTitle"><%= @title %></textarea>
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="CallNumber">CallNumber</label>
        <div class="controls">
        <input type="text" id="CallNumber" name="CallNumber" value="">
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="ItemVolume">Box or item number(s)</label>
        <div class="controls">
        <input type="text" id="ItemVolume" name="ItemVolume" value="">
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="ItemAuthor">Author</label>
        <div class="controls">
        <input type="text" id="ItemAuthor" name="ItemAuthor" value="<%= @author  %>">
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="ItemPlace">Place of Publication</label>
        <div class="controls">
        <input type="text" id="ItemPlace" name="ItemPlace" value="">
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="ItemPublisher">Publisher</label>
        <div class="controls">
        <input type="text" id="ItemPublisher" name="ItemPublisher" value=""/>
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="ItemDate">Date</label>
        <div class="controls">
        <input type="text" id="ItemDate" name="ItemDate" value="">
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="ItemEdition">Edition</label>
        <div class="controls">
        <input type="text" id="ItemEdition" name="ItemEdition" value="">
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="Location">Location</label>
        <div class="controls">
        <input type="text" id="Location" name="Location" value="">
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="ItemIssue">Copy</label>
        <div class="controls">
        <input type="text" id="ItemIssue" name="ItemIssue" value="">
        </div>
        </div>
        
        </div> <!-- id=noshow -->
        <div class="control-group">
           <h3>Schedule or Save</h3>
           <p>You may schedule an appointment to visit on the next screen after authentication, or save your request to review and schedule an appointment later.</p>
        </div>

        </div>
