<%= render partial: 'aeon/aeon_header' %>

<% paramsHash = params.to_h %>
<%= generate_hidden_inputs_for_login(paramsHash) %>
<div class="container">     
  <form action="https://rmc-aeon.library.cornell.edu/aeon/aeon.dll" method="POST"> 
    <input type="hidden" name="authenticated" value="true" />
    <input type="hidden" name="target" value="<%= params['target'] %>" method="POST" style="margin-top: 30px;">
    <input type="hidden" name="aeonParams" value="<%= paramsHash %>" />  
    <%= generate_hidden_inputs_for_login(paramsHash) %> 
    <input type="submit" value="Cornell Affiliates With a NetID Enter Here" style="font-size: 13px; width: 300px;" />
  </form>

  <form id="aeonPoster" action="https://rmc-aeon.library.cornell.edu/nonshib/aeon.dll" method="POST" style="margin-top: 30px;">
    <input type="hidden" name="target" value="<%= params['target'] %>" method="POST" style="margin-top: 30px;">
    <input type="hidden" name="aeonParams" value="<%= paramsHash %>" />  
    <%= generate_hidden_inputs_for_login(paramsHash) %>
    <input type="submit" value="Public Users Without a Cornell NetID Enter Here" style="font-size: 13px; width: 300px;" />
  </form>
</div>
</div>
</div>



