<%= form_tag '/browse', :method => :get, :class => 'search-form form-inline' do %>
  <% if !params[:authq_row].present? %>
    <div class="form-group col-xs-6">
      <label for="authq" class="sr-only">Begin browse with</label>
      <%= text_field_tag :authq, params[:authq], :placeholder => 'Dickens, Charles', :class => "search-query form-control", :id => "authq", :autocapitalize => "off" %>
      <%= hidden_field_tag :start, params[:start], :value => '0', :id => "start" %>
    </div>
    <div class="form-group col-xs-4 col-sm-4 col-md-5">
      <label for="browse_type" class="sr-only">Browse Type</label>
      <%= select_tag :browse_type, options_for_select([
      ["All Fields","catalog:all_fields"],
      ["---",:disabled => 'true'],
      ["Title","catalog:title"],
      ["Journal Title","catalog:journal title"],
      ["---",:disabled => 'true'],
      ["Author",'catalog:author/creator'],
      ["Author (A-Z) Sorted By Name","Author",{'data-placeholder'=> 'Dickens, Charles'},'selected' => 'selected'],
      ["Author (A-Z) Sorted By Title","Author-Title",{'data-placeholder'=> 'Beethoven, Ludwig van, 1770-1827 | Fidelio'}],
      ["---",:disabled => 'true'],
      ["Subject","catalog:subject"],
      ["Subject Browse (A-Z)","Subject",{'data-placeholder'=> 'China > History'}],
      ["---",:disabled => 'true'],
      ["Call Number","catalog:call number"],
      ["Call Number Browse","Call-Number",{'data-placeholder'=> 'TP640'}],
      ["Publisher","catalog:publisher"]
      ], params[:browse_type]), :class => 'form-control' %>
    </div>
    <button id="search-btn" class="btn btn-search" type="submit">
      <i class="fa fa-search fa-inverse"></i><span class="sr-only"><%=t('blacklight.search.form.submit')%></span>
    </button>
  <% end %>
<% end %>
