<div class="headings-list">
  <table class="table table-responsive table-striped">
    <thead>
      <tr>
        <th class="heading-type">
          Call Number
        </th>
        <th class="heading-type">
          Title
        </th>
        <th class="heading-type">
          Format
        </th>
        <th class="heading-type">
          Availablility
        </th>
      </tr>
    </thead>
    <tbody></tbody>
    <% if response["response"].present? %>
      <% params = response["responseHeader"]["params"] %>
      <% encoded_heading = (params["q"]).gsub('&', '%26').gsub("\"", "'") %>
      <% if order == "reverse" %>
        <% docs = response["response"]["docs"].reverse %>
      <% else %>
        <% docs = response["response"]["docs"] %>
      <% end %>
      <% docs.each do |data| %>
         <tr>
          <td>
            <%= data["callnum_display"] %>
          </td>
          <td>
            <%= link_to '/catalog/' + data["bibid"].to_s do %>
                <%= data["fulltitle_display"] %>
            <% end %>
          </td>
          <td>
            <%= data["format"][0] %>
          </td>
          <td>
          <% if data["availability_json"].present? %>
            <% availability = JSON.parse(data['availability_json']) %>
            <%= availability.inspect %>
            <%= render :partial => '/catalog/availability_json', :locals => { :document => data} %>
          <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>