.headings-list
	%table.table.table-responsive.table-striped
		%thead
			%tr
				%th.heading-count
					Titles
				%th.heading-name
					Headings
				-unless params[:browse_type] == "Author-Title"	
					%th.heading-type
						Type
		%tbody
		-if response.present? 
			- response.each do |data|
				%tr
					%td
						-if data["count"] > 0
							=data["count"]
								
					%td
						-counts=JSON.parse(data["counts_json"])
						-if data["count"] > 0 
							-if params[:browse_type] == "Author" 
								= link_to '/?f[author_facet[]=' + data["heading"] do
									=data["heading"]
							-if params[:browse_type] == "Subject"
								-if data["headingTypeDesc"] == "Geographic Name"
									= link_to '/?f[subject_geo_facet[]=' + data["heading"] do
										=data["heading"]
								-elsif data["headingTypeDesc"] == "Chronological Term"
									= link_to '/?f[subject_era_facet[]=' + data["heading"] do
										=data["heading"]
								-else 
									= link_to '/?f[subject_topic_facet[]=' + data["heading"] do
										=data["heading"]
							-if params[:browse_type] == "Author-Title"
								= link_to '/?f[authortitle_facet[]=' + data["heading"] do
									=data["heading"]
						- else
							=data["heading"]
						
						-if !data["seeAlso"].nil? || !data["notes"].nil?  || data["mainEntry"] == true
							=link_to '/browse/info?q=' + data["heading"] +"&browse_type=" + params[:browse_type] do
								%span.label.label-info
									Info
											
						-if !data["see"].blank?
							-data["see"].each do |form|
								-form=JSON.parse(form)
								-unless form.blank?
									.see-ref
										%i.fa.fa-arrow-right
										See
										= link_to "/browse?q=" + form["heading"] + "&start=0" +"&browse_type=" + params[:browse_type]do
											=form["heading"]
										.see-ref-count
											= "(" + form["count"].to_s + ")"
												
					%td
						=data["headingTypeDesc"]