<div class="headings-list">
  <table class="table table-responsive table-striped">
    <thead>
      <tr>
        <th class="heading-count" scope="col">
          Titles
        </th>
        <th class="heading-name" scope="col">
          Headings
        </th>
        <% unless params[:browse_type] == "Author-Title" %>
          <th class="heading-type" scope="col">
            Type
          </th>
        <% end %>
      </tr>
    </thead>
    <% if response.present? %>
      <% response.each do |data| %>
        <% encoded_heading = (data["heading"]).gsub('&', '%26').gsub("\"", "'") %>
        <tr>
          <td>
            <% if data["count"] > 0 %>
              <%= data["count"] %>
            <% end %>
          </td>
          <td>
            <% counts=JSON.parse(data["counts_json"]) %>
            <% if data["count"] > 0 %>
              <% if params[:browse_type] == "Author" && data["blacklightField"].present? %>
               
                  <%= link_to '/?q="' + encoded_heading + '"&search_field=' + data["blacklightField"] do %>
                    <%= data["heading"] %><% end %>

                
              <% end %>
              <% if params[:browse_type] == "Subject" && data["blacklightField"].present? %>
                <%= link_to '/?q="' + encoded_heading + '"&search_field=' + data["blacklightField"] do %>
                    <%= data["heading"] %><% end %>



              <% end %>
              <% if params[:browse_type] == "Author-Title" %>
                <%= link_to '/?q="' + encoded_heading + '"&search_field=' + data["blacklightField"] do %>
                  <%= data["heading"] %><% end %>
              <% end %>
            <% else %>
              <%= data["heading"] %>
            <% end %>
            <% if !data["seeAlso"].nil? || !data["notes"].nil?  || data["mainEntry"] == true %>
              <% unless params[:browse_type] == 'Author-Title' %>
                <%= link_to '/browse/info?authq=' + encoded_heading +'&browse_type=' + params[:browse_type]+"&headingtype=" + data["headingTypeDesc"] do %>
                  <span class="label label-info">
                    Info
                  </span>
                <% end %>
              <% end %>
              <% if params[:browse_type] == 'Author-Title' %>
                <%= link_to '/browse/info?authq=' + encoded_heading +'&browse_type=' + params[:browse_type] do %>
                  <span class="label label-info">
                    Info
                  </span>
                <% end %>
              <% end %>
            <% end %>
            <% if !data["seeAlso"].nil?  %>
              <% sa=JSON.parse(data["seeAlso"]) %>
              <% if sa.count == 1 %>
                <% sa.each do |r,h| %>
                  <div class="see-ref">
                    <i class="fa fa-arrow-right"></i>
                    <% if r.blank? %>
                      See Also:
                    <% end %>
                    <% if !r.blank? %>
                      <%= r + ':' %>
                    <% end %>
                    <% unless params[:browse_type] == "Author-Title" %>
                      <div class="columns">
                        <ul>
                          <% h.each do |headingInfo| %>
                            <li>
                              <%= link_to "/browse?authq=" + headingInfo["heading"].gsub('&', '%26').gsub("\"", "'") + "&start=0" + "&browse_type=" + params[:browse_type] do %>
                                <%= headingInfo["heading"] %><% end %>
                              <%= "(" + headingInfo["count"].to_s + ")"  %>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                    <% else %>
                      <% h.each do |headingInfo| %>
                        <div class="see-also-author-title">
                          <%= link_to "/browse?authq=" + headingInfo["heading"].gsub('&', '%26').gsub("\"", "'") + "&start=0" + "&browse_type=" + params[:browse_type] do %>
                                <%= headingInfo["heading"] %><% end %>
                              <%= "(" + headingInfo["count"].to_s + ")"  %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
            <% if !data["see"].blank? %>
              <% data["see"].each do |form| %>
                <% form=JSON.parse(form) %>
                <% unless form.blank? %>
                  <div class="see-ref">
                    <i class="fa fa-arrow-right"></i>
                    See
                    <%= link_to '/browse?authq=' + form["heading"].gsub('&', '%26') + '&start=0' +"&browse_type=" + params[:browse_type] do %>
                      <%= form["heading"] %><% end %>
                    <div class="see-ref-count">
                      <%= "(" + form["count"].to_s + ")" %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= data["headingTypeDesc"] %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
