<div class="headings-list">
  <table class="table table-responsive table-striped browse-callnumber">
    <thead>
      <tr>
        <th class="headings-cn" scope="col">
          Call Number
        </th>
        <th class="headings-cn-title" scope="col">
          Title
        </th>
        <th class="headings-cn-forma hidden-xs" scope="col">
          Format
        </th>
        <th class="headings-cn-availability" scope="col">
          <div class="btn-group">
            <a href="#" class="btn btn-default btn-sm" data-toggle="dropdown" id="location-filter-menu" aria-haspopup="true" aria-expanded="false">Availability <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="location-filter-menu">
              <li><%= link_to "All", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
              <li><%= link_to "Adelson Library",  :fq => "location:\"Adelson+Library\"", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
              <li><%= link_to "Africana Library",  :fq => "location:\"Africana+Library\"", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
              <li><%= link_to "Bailey Hortorium ",  :fq => "location:\"Bailey+Hortorium\"", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
              <li><%= link_to "CISER Data Archive",  :fq => "location:\"CISER+Data+Archive\"", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
              <li><%= link_to "Fine Arts Library",  :fq => "location:\"Fine+Arts+Library\"", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
              <li><%= link_to "ILR Library",  :fq => "location:\"ILR+Library\"", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
              <li><%= link_to "ILR Library Kheel Center",  :fq => "location:\"ILR+Library+Kheel+Center\"", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
              <li><%= link_to "Kroch Library Asia",  :fq => "location:\"Kroch+Library+Asia\"", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
              <li><%= link_to "Kroch Library Rare & Manuscripts",  :fq => "location:\"Kroch+Library+Rare+%26+Manuscripts\"", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
              <li><%= link_to "Law Library",  :fq => "location:\"Law+Library\"", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
              <li><%= link_to "Library Annex",  :fq => "location:\"Library+Annex\"", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
              <li><%= link_to "Mann Library",  :fq => "location:\"Mann+Library\"", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
              <li><%= link_to "Mathematics Library",  :fq => "location:\"Mathematics+Library\"", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
              <li><%= link_to "Music Library",  :fq => "location:\"Music+Library\"", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
              <li><%= link_to "Nestle Library",  :fq => "location:\"Nestle+Library\"", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
              <li><%= link_to "Olin Library",  :fq => "location:\"Olin+Library\"", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
              <li><%= link_to "Sage Hall Management Library",  :fq => "location:\"Sage+Hall+Management+Library\"", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
              <li><%= link_to "Space Sciences Building",  :fq => "location:\"Space+Sciences+Building\"", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
              <li><%= link_to "Uris Library",  :fq => "location:\"Uris+Library\"", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
              <li><%= link_to "Veterinary Library",  :fq => "location:\"Veterinary+Library\"", :start => params[:start], :browse_type => params[:browse_type], :authq => params[:authq] %></li>
            </ul>
          </div>
          - : -
          <%= puts availability_location_filter() %>
        </th> 
      </tr>
    </thead>
    <% if response["response"].present? %>
      <% params = response["responseHeader"]["params"] %>
      <% encoded_heading = (params["q"]).gsub('&', '%26').gsub("\"", "'") %>
      <% if order == "reverse" %>
        <% docs = response["response"]["docs"].reverse %>
      <% else %>
        <% docs = response["response"]["docs"] %>
      <% end %>
      <% docs.each do |data| %>
         <tr>
          <td>
            <%= data["callnum_display"] %>
          </td>
          <td>
            <%= link_to '/catalog/' + data["bibid"].to_s do %>
              <% if data["fulltitle_vern_display"].present? %>
                <%= data["fulltitle_vern_display"] + ' / ' + data["fulltitle_display"] %>
              <% else %>
                <%= data["fulltitle_display"] %>
              <% end %>
            <% end %>
          </td>
          <td class="hidden-xs">
            <%= data["format"][0] %>
          </td>
          <td>
          <% if data["availability_json"].present? %>
            <% availability = JSON.parse(data['availability_json']) %>
            <% if availability['online'].present? %>
              <div class="online-label"><i class="fa fa-check" alt="" aria-hidden="true"></i>Online</div>
            <% else %>
              <%= render :partial => '/catalog/availability_json', :locals => { :document => data} %>
            <% end %>
          <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>