<% if params[:order] == "reverse"  %>
  <% nextpage = Integer(params[:start]) - 20 %>
<% else  %>
  <% nextpage = Integer(params[:start]) + 20 %>
<% end %>
<% nextpage = nextpage.to_s %>
<% if params[:order] == "reverse" %>
  <% previous = Integer(params[:start]) + 20 %>
<% else %>
  <% previous = Integer(params[:start]) - 20 %>
<% end %>
<% previous = previous.to_s %>
<% location = params[:fq] ? '&fq=' + CGI::escape(params[:fq]) : '' %>
<div class="results-info">
  <div class="results-count">
    <% if Integer(params[:start]) == 0 %>
      <% if params[:order] != "reverse" %>
        <%= link_to "/browse?authq=" + params[:authq] + "&start=0" +"&browse_type=" + params[:browse_type] + '&order=reverse' + location do %>
          &laquo; Previous 
        <% end %>
        | 
      <% else %>
        <%= link_to "/browse?authq=" + params[:authq] + "&start=" + previous +"&browse_type=" + params[:browse_type] + '&order=reverse' + location do %>
          &laquo; Previous 
        <% end %>
        | 
      <% end %>
      <% if params[:order] != "reverse" %>
        <%= link_to "/browse?authq=" + params[:authq] + "&start=" + nextpage +"&browse_type=" + params[:browse_type] + '&order=forward' + location do %>
          Next &raquo;
        <% end %>
      <% else %>
        <%= link_to "/browse?authq=" + params[:authq] + "&start=0" + "&browse_type=" + params[:browse_type] + '&order=forward' + location do %>
          Next &raquo;        
        <% end %>
      <% end %>
    <% else   %>
      <%= link_to "/browse?authq=" + params[:authq] + "&start=" + previous +"&browse_type=" + params[:browse_type] +  "&order=" + params[:order] + location do %>
        &laquo; Previous 
      <% end %>
      | 
      <%= link_to "/browse?authq=" + params[:authq] + "&start=" + nextpage +"&browse_type=" + params[:browse_type] + "&order=" + params[:order] + location do %>
        Next &raquo;
      <% end %>
    <% end %>
  </div>
</div>
