-if @headingsResponse.present? 
	.return-link
		=link_to "/browse?q=" + params[:q] + "&browse_type=" + params[:browse_type] + "&start=0" do
			%i.fa.fa-arrow-circle-left
			Back to list
	- @headingsResponse.each do |data|
		%h2
			=data["heading"]
		-if data["counts_json"].present?
			-works=JSON.parse(data["counts_json"])
			-if params[:browse_type] == "Author" 
				.author-works
					Works by:
					= link_to '/?q="' + data["heading"] + '"&search_field=author%2Fcreator' do
						=works["worksBy"]
						Title(s)
			-if !works["worksAbout"].nil?
				.author-works
					Works about:
					= link_to '/?q="' + data["heading"] + '"&search_field=subject' do
						=works["worksAbout"] 
						Title(s)

		%dl
			- if !data["notes"].nil?
				%dt
					Scope note
				%dd
					-data["notes"].each do |n|
						=n
			%dt
				Reference info
			%dd
				.reference
					-if data["seeAlso"].present? 
						-data["seeAlso"].each do |sa|
							-seeAlso=JSON.parse(sa)
							- if seeAlso["relatioship"].present?
								.reference-note
									=seeAlso["relatioship"] + ':'

							- if seeAlso["relatioship"].nil?
								.reference-note
									See also:
							=link_to "/browse?q=" + seeAlso["heading"] + "&start=0" + "&browse_type=" + params[:browse_type] do
								=seeAlso["heading"]
								
							- if params[:browse_type] == "Author"
								.author-works
									Works by:
									= link_to '/?q="' + seeAlso["heading"] + '"&search_field=author%2Fcreator' do
										=seeAlso["worksBy"]
								.author-works
									Works about:
									= link_to '/?q="' + seeAlso["heading"] + '"&search_field=subject' do
										=seeAlso["worksAbout"]
							- if params[:browse_type] == "Subject"
								.author-works
									Works about:
									= link_to '/?q="' + seeAlso["heading"] + '"&search_field=subject' do
										=seeAlso["worksAbout"]
					-if !data["alternateForm"].nil?
						.reference-note
							Alternate form(s):
						-data["alternateForm"].each do |af|
							.alternate-form
								=af
			%dt
				Headings type
			%dd
				=data["headingTypeDesc"]				
		- if data["mainEntry"] == true  && data["rda_json"].present?
			%h3
				Description
			-if data["rda_json"].present?
				-rda=JSON.parse(data["rda_json"])
				- if rda["Birth Place"].present?
					%dt 
						Birth Place
					%dd
						-rda["Birth Place"].each do |place|
							=place
				- if rda["Place of Death"].present?
					%dt 
						Place of Death
					%dd
						-rda["Place of Death"].each do |deathplace|
							=deathplace
				- if rda["Gender"].present?
					%dt
						Gender
					%dd
						-rda["Gender"].each do |gender|
							=gender
				- if rda["Country"].present?
					%dt 
						Country
					%dd
						-rda["Country"].each do |country|
							=country
				- if rda["Field"].present?
					%dt
						Field
					%dd
						-rda["Field"].each do |field|
							=field
				- if rda["Group/Organization"].present?
					%dt
						Group or Organization
					%dd
						-rda["Group/Organization"].each do |org|
							=org
				- if rda["Occupation"].present?
					%dt
						Occupation
					%dd
						-rda["Occupation"].each do |occupation|
							.rda-occupation
								=occupation

				- if rda["Form of Work"].present?
					%dt
						Form of Work
					%dd
						-rda["Form of Work"].each do |fow|
							=fow
				- if rda["Instrumentation"].present?
					%dt
						Instrumentation
					%dd
						-rda["Instrumentation"].each do |inst|
							=inst
	
