-if @headingsResponse.present? 
	.return-link
		=link_to "/browse?authq=" + params[:authq] + "&browse_type=" + params[:browse_type] + "&start=0" do
			%i.fa.fa-arrow-circle-left
			Back to list
	- @headingsResponse.each do |data|
		%h2
			=data["heading"]
		-if data["counts_json"].present?
			-works=JSON.parse(data["counts_json"])
			-if params[:browse_type] == "Author" 
				.author-works
					Works by:
					= link_to '/?q=' + data["heading"] + '&search_field=author_' + search_field(data["headingTypeDesc"]) + '_browse' do
						=works["worksBy"]
						Title(s)
				.author-works
					Works about:
					= link_to '/?q=' + data["heading"] + '&search_field=subject_' + search_field(data["headingTypeDesc"]) + '_browse' do
						=works["worksAbout"] 
						Title(s)
			-if works["worksAbout"] > 0 && params[:browse_type] == "Subject"
				
				- if works["worksBy"] > 0
					.author-works
						Works by:
						= link_to '/?q=' + data["heading"] + '&search_field=author_' + search_field(data["headingTypeDesc"]) + '_browse' do
							=works["worksBy"]
							Title(s)
				.author-works
					Works about:
					= link_to '/?q=' + data["heading"] + '&search_field=subject_' + search_field(data["headingTypeDesc"]) + '_browse' do
						=works["worksAbout"] 
						Title(s)
				
			-if params[:browse_type] == "Author-Title" 
				.author-works
					Works:
					= link_to '/?q=' + data["heading"] + '&search_field=authortitle_browse' do
						=data["count"]
						Title(s)

		%dl
			- if !data["notes"].nil?
				%dt
					Scope note
				%dd
					-data["notes"].each do |note|
						-if note.include?("header")
							-note=JSON.parse(note)
							-note.each do |nottee|
								.scope-note
									-if nottee.include?("header")
										-nottee.each do |headingInfo|
											=link_to "/browse?authq=" + headingInfo[1] + "&start=0" + "&browse_type=" + params[:browse_type] do
												=headingInfo[1]
									-else
										=nottee
						-else
							.scope-note
								=note

			-if data["seeAlso"].present? || data["alternateForm"].present?
				%dt
					Reference info
				%dd
					.reference
						-if data["seeAlso"].present? 
							-sa=JSON.parse(data["seeAlso"])
							-sa.each do |r,h|
								-if r.blank?
									See Also
								-if !r.blank?
									.heading
										=r
								-h.each do |headingInfo|
									.heading
										=link_to "/browse?authq=" + headingInfo["heading"] + "&start=0" + "&browse_type=" + params[:browse_type] do
											=headingInfo["heading"]
									- if params[:browse_type] == "Author"
										.author-works
											Works by:
											= link_to '/?q=' + headingInfo["heading"] + '&search_field=author_' + search_field(headingInfo["headingTypeDesc"]) + '_browse' do
												=headingInfo["worksBy"]
										-if headingInfo["worksAbout"] > 0 
											.author-works
												Works about:
												= link_to '/?q=' + headingInfo["heading"] + '&search_field=subject_' + search_field(headingInfo["headingTypeDesc"]) + '_browse' do
													=headingInfo["worksAbout"]
									- if params[:browse_type] == "Subject"
										.author-works
											
											- if headingInfo["worksBy"] > 0
												= link_to '/?q=' + data["heading"] + '&search_field=author_' + search_field(headingInfo["headingTypeDesc"]) + '_browse' do
													Works by:
													=headingInfo["worksBy"]
											
											-if headingInfo["worksAbout"] > 0 
												Works about:
												=headingInfo["worksAbout"]
												= link_to '/?q=' + data["heading"] + '&search_field=subject_' + search_field(headingInfo["headingTypeDesc"]) + '_browse' do
													=headingInfo["worksAbout"]
												
									- if params[:browse_type] == "Author-Title"
										.author-works
											Works:
											= link_to '/?q=' + data["heading"] + '&search_field=authortitle_browse' do
												=headingInfo["count"]					




						-if !data["alternateForm"].nil?
							.reference-note
								Alternate form(s):
							-data["alternateForm"].each do |af|
								.alternate-form
									=af
			-if data["headingTypeDesc"].present?
				%dt
					Headings type
				%dd
					=data["headingTypeDesc"]				
		- if data["mainEntry"] == true  && data["rda_json"].present?
			%h3
				Description
			-if data["rda_json"].present?
				-rda=JSON.parse(data["rda_json"])
				- if rda["Birth Place"].present?
					%dt 
						Birth Place
					%dd
						-rda["Birth Place"].each do |place|
							.rda-birthplace
								=place
				- if rda["Place of Death"].present?
					%dt 
						Place of Death
					%dd
						-rda["Place of Death"].each do |deathplace|
							.rda-deathplace
								=deathplace
				- if rda["Gender"].present?
					%dt
						Gender
					%dd
						-rda["Gender"].each do |gender|
							.rda-gender
								=gender
				- if rda["Country"].present?
					%dt 
						Country
					%dd
						-rda["Country"].each do |country|
							.rda-country
								=country
				- if rda["Field"].present?
					%dt
						Field
					%dd
						-rda["Field"].each do |field|
							.rda-field
								=field
				- if rda["Group/Organization"].present?
					%dt
						Group or Organization
					%dd
						-rda["Group/Organization"].each do |org|
							.rda-organization
								=org
				- if rda["Occupation"].present?
					%dt
						Occupation
					%dd
						-rda["Occupation"].each do |occupation|
							.rda-occupation
								=occupation

				- if rda["Form of Work"].present?
					%dt
						Form of Work
					%dd
						-rda["Form of Work"].each do |fow|
							.rda-form
								=fow
				- if rda["Instrumentation"].present?
					%dt
						Instrumentation
					%dd
						-rda["Instrumentation"].each do |inst|
							.rda-instrumentation
								=inst
	
