-if @headingsResponse.present? 
	.return-link
		=link_to "/browse?q=" + params[:q] + "&browse_type=" + params[:browse_type] + "&start=0"do
			%i.fa.fa-arrow-circle-left
			Back to list
	- @headingsResponse.each do |data|
		%h2
			=data["heading"]
		-if data["worksBy"].present?
			.author-works
				Works by:

				-if params[:browse_type] == "Author" 
					= link_to '/?q="' + data["heading"] + '"&search_field=author%2Fcreator' do
						=data["worksBy"]
						Title(s)
				-if params[:browse_type] == "Subject"
					= link_to '/?q="' + data["heading"] + '"&search_field=subject' do
						=data["worksBy"]
						Title(s)
		-if !data["worksAbout"].nil?
			.author-works
				Works about:
				= link_to '/?q="' + data["heading"] + '"&search_field=subject' do
					=data["worksAbout"] 
					Title(s)

		%dl
			- if !data["notes"].nil?
				%dt
					Scope note
				%dd
					-data["notes"].each do |n|
						=n
			%dt
				Reference info
			%dd
				.reference


					-if !data["seeAlso"].nil?  
						-if data["seeAlso"].present?
							- data["seeAlso"].each do |a|
								-unless a.blank?
									-a_link = a.split("|")[0]
									-a_note = a.split("|")[1]
									-aq = URI::encode(a_link)
									-refclnt = HTTPClient.new
									-if params[:browse_type] == "Author"
										-@seeAlsoResultString = refclnt.get_content('http://da-stg-ssolr.library.cornell.edu/solr/author/browse?q="' + "aq" + '"' )
									-if params[:browse_type] == "Subject"
										-@seeAlsoResultString = refclnt.get_content('http://da-stg-ssolr.library.cornell.edu/solr/author/browse?q="' + aq + '"' )
									-if !@seeAlsoResultString.nil?
										-@seeAlsoResponseFull = eval(@seeAlsoResultString)
									-else
										-@seeAlsoResponseFull = eval("Could not find")
									-@seeAlsoResponse = @seeAlsoResponseFull['response']['docs']
									- if a_note.present?
										.reference-note
											=a_note + ':'

									- if a_note.nil?
										.reference-note
											See also:
									=link_to "/browse?q=" + a_link + "&start=0" + "&browse_type=" + params[:browse_type] do
										=a_link
								-unless @seeAlsoResponse.blank?
									-@seeAlsoResponse.each do |sa|
										
										-unless sa["seeAlso"].blank? && sa["notes"].blank?
											=link_to "/browse/info?q=" + a_link + "&start=0" + "&browse_type=" + params[:browse_type]do
												%span.label.label-info
													Info
									- if params[:browse_type] == "Author"
										.author-works
											Works by:
											= link_to '/?q="' + a_link + '"&search_field=author%2Fcreator' do
												(title count)
									.author-works
										Works about:
										= link_to '/?q="' + a_link + '"&search_field=subject' do
											(title count)
					-if !data["alternateForm"].nil?
						.reference-note
							Alternate form(s):
						-data["alternateForm"].each do |af|
							.alternate-form
								=af
			%dt
				Headings type
			%dd
				=data["headingTypeDesc"]				
		- if data["mainEntry"] == true
			%h3
				Description
			- if data["rda_place"].present?
				%dt 
					Place
				%dd
					-data["rda_place"].each do |place|
						=place

			- if data["rda_field"].present?
				%dt
					Field
				%dd
					-data["rda_field"].each do |field|
						=field


			- if data["rda_group_or_org"].present?
				%dt
					Group or Organization
				%dd
					-data["rda_group_or_org"].each do |org|
						=org

			- if data["rda_occupation"].present?
				%dt
					Occupation
				%dd
					-data["rda_occupation"].each do |occ|
						.occupation
							=occ

			- if data["rda_gender"].present?
				%dt
					Gender
				%dd
					- data["rda_gender"].each do |gender|
						=gender

			- if data["rda_form_of_work"].present?
				= data["rda_form_of_work"]
			- if data["rda_perform_medium"].present?
				= data["rda_perform_medium"]




	
