<% if @headingsResponse.present?  %>
  <div class="return-link">
    <% if !request.xhr? %>
      <%= link_to "/browse?authq=" + params[:authq] + "&browse_type=" + params[:browse_type] + "&start=0" do %>
        <i class="fa fa-arrow-circle-left"></i>
        Back to list
      <% end %>
    <% else %>
      <%= link_to "#" do %>
        x
      <% end %>
    <% end %>
  </div>
  <% @headingsResponse.each do |data| %>
    <% encoded_heading = (data["heading"]).gsub('&', '%26').gsub("\"", "'") %>
    <% if data["headingTypeDesc"] == params[:headingtype] || params[:headingtype].nil? %>
      <h2>
        <%= data["heading"] %>
      </h2>
      <% if data["counts_json"].present? %>
        <% works=JSON.parse(data["counts_json"]) %>
        <% if params[:browse_type] == "Author"  %>
          <div class="author-works">
            Works by:
            <%= link_to '/?q="' + encoded_heading + '"&search_field=author_' + search_field(data["headingTypeDesc"]) + '_browse' do %>
              <%= works["worksBy"] %>
              Title(s)
            <% end %>
          </div>
          <div class="author-works">
            Works about:
            <%= link_to '/?q="' + encoded_heading + '"&search_field=subject_' + search_field(data["headingTypeDesc"]) + '_browse' do %>
              <%= works["worksAbout"]  %>
              Title(s)
            <% end %>
          </div>
        <% end %>
        <% if params[:browse_type] == "Subject" %>
          <% if works["works"].present? %>
            <div class="author-works">
              Works:
              <%= link_to '/?q="' + encoded_heading + '"&search_field=authortitle_browse' do %>
                <%= works["works"] %>
                Title(s)
              <% end %>
            </div>
          <% end %>
          <% if works["worksBy"].present? %>
            <div class="author-works">
              Works by:
              <%= link_to '/?q="' + encoded_heading + '"&search_field=author_' + search_field(data["headingTypeDesc"]) + '_browse' do %>
                <%= works["worksBy"] %>
                Title(s)
              <% end %>
            </div>
          <% end %>
          <div class="author-works">
            <% if works["worksAbout"].present? %>
              Works about:
              <%= link_to '/?q="' + encoded_heading + '"&search_field=subject_' + search_field(data["headingTypeDesc"]) + '_browse' do %>
                <%= works["worksAbout"]  %>
                Title(s)
              <% end %>
            <% end %>
          </div>
        <% end %>
        <% if params[:browse_type] == "Author-Title"  %>
          <div class="author-works">
            Works:
            <%= link_to '/?q="' + encoded_heading + '"&search_field=authortitle_browse' do %>
              <%= data["count"] %>
              Title(s)
            <% end %>
          </div>
          <div class="author-works">
            Works About:
            <%= link_to '/?q="' + encoded_heading + '"&search_field=subject_work_browse' do %>
              <%= works["worksAbout"]  %>
              Title(s)
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% if (!data["notes"].nil? || data["seeAlso"].present? || data["alternateForm"].present? || data["headingTypeDesc"].present?) && !request.xhr?  %>
        <h3>
          Reference Info
        </h3>
      <% end %>
      <dl class="dl-horizontal">
        <% if !data["notes"].nil? %>
          <dt>
            Scope note:
          </dt>
          <dd>
            <% data["notes"].each do |note| %>
              <% if note.include?("header") %>
                <% note=JSON.parse(note) %>
                <% note.each do |nottee| %>
                  <div class="scope-note">
                    <% if nottee.include?("header") %>
                      <% nottee.each do |headingInfo| %>
                        <%= link_to "/browse?authq=" + headingInfo[1] + "&start=0" + "&browse_type=" + params[:browse_type] do %>
                          <%= headingInfo[1] %>
                        <% end %>
                      <% end %>
                    <% else %>
                      <%= nottee %>
                    <% end %>
                  </div>
                <% end %>
              <% else %>
                <div class="scope-note">
                  <%= note %>
                </div>
              <% end %>
            <% end %>
          </dd>
        <% end %>
        <% if data["seeAlso"].present? || data["alternateForm"].present? %>
          <% if data["seeAlso"].present?  %>
            <% sa=JSON.parse(data["seeAlso"]) %>
            <% sa.each do |r,h| %>
              <% if r.blank? %>
                <dt>
                  See Also:
                </dt>
              <% end %>
              <% if !r.blank? %>
                <dt>
                  <%= r + ':' %>
                </dt>
              <% end %>
              <% h.each do |headingInfo| %>
                <dd>
                  <%= link_to "/browse?authq=" + headingInfo["heading"].gsub('&', '%26').gsub("\"", "'") + "&start=0" + "&browse_type=" + params[:browse_type] do %>
                    <%= headingInfo["heading"] %>
                  <% end %>
                  <% if params[:browse_type] == "Author" %>
                    <span class="author-works">
                      Works by:
                      <%= link_to '/?q="' + headingInfo["heading"].gsub('&', '%26').gsub("\"", "'") + '"&search_field=author_' + search_field(headingInfo["headingTypeDesc"]) + '_browse' do %>
                        <%= headingInfo["worksBy"] %>
                      <% end %>
                      <% if headingInfo["worksAbout"] > 0 %>
                        <span class="author-works">
                          Works about:
                          <%= link_to '/?q="' + headingInfo["heading"].gsub('&', '%26').gsub("\"", "'") + '"&search_field=subject_' + search_field(headingInfo["headingTypeDesc"]) + '_browse' do %>
                            <%= headingInfo["worksAbout"] %>
                          <% end %>
                        </span>
                      <% end %>
                    </span>
                  <% end %>
                  <% if params[:browse_type] == "Subject" %>
                    <% if headingInfo["worksBy"].present? %>
                      <span class="author-works">
                        Works by:
                        <%= link_to '/?q="' + headingInfo["heading"].gsub('&', '%26').gsub("\"", "'") + '"&search_field=author_' + search_field(headingInfo["headingTypeDesc"]) + '_browse' do %>
                          <%= headingInfo["worksBy"] %>
                        <% end %>
                      </span>
                    <% end %>
                    <% if headingInfo["worksAbout"].present? %>
                      <span class="author-works">
                        Works about:
                        <%= link_to '/?q="' + headingInfo["heading"].gsub('&', '%26').gsub("\"", "'") + '"&search_field=subject_' + search_field(headingInfo["headingTypeDesc"]) + '_browse' do %>
                          <%= headingInfo["worksAbout"] %>
                        <% end %>
                      </span>
                    <% end %>
                  <% end %>
                  <% if params[:browse_type] == "Author-Title" %>
                    <span class="author-works">
                      Works:
                      <%= link_to '/?q="' + data["heading"].gsub('&', '%26').gsub("\"", "'") + '"&search_field=authortitle_browse' do %>
                        <%= headingInfo["count"]					 %>
                      <% end %>
                    </span>
                  <% end %>
                </dd>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <% if !data["alternateForm"].nil? && !request.xhr? %>
          <dt>
            Alternate form(s):
          </dt>
          <% data["alternateForm"].each do |af| %>
            <dd>
              <%= af %>
            </dd>
          <% end %>
        <% end %>
        <% if data["headingTypeDesc"].present? && !request.xhr? %>
          <dt>
            Headings type:
          </dt>
          <dd>
            <%= data["headingTypeDesc"]				 %>
          </dd>
        <% end %>
      </dl>
      <% if data["mainEntry"] == true  && data["rda_json"].present? %>
        <% if !request.xhr? %>
          <h3>
            Description
          </h3>
        <% end %>
        <% if data["rda_json"].present? %>
          <dl class="dl-horizontal">
            <% rda=JSON.parse(data["rda_json"]) %>
            <% rda.each do |t,d| %>
              <% unless t == "Gender" %>
              <dt>
                <%= t + ':' %>
              </dt>
              <% d.each do |data| %>
                <dd>
                  <%= data %>
                </dd>
                <% end %>
              <% end %>
            <% end %>
          </dl>
        <% end %>
      <% end %>
    <% end %>
    <% if request.xhr? %>
    <% if data["headingTypeDesc"].present? && (data["headingTypeDesc"] == params[:headingtype]) %>
      <%= link_to "/browse/info?authq=" + params[:authq] + "&browse_type=" + params[:browse_type] do %>
        Full record
      <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
