<% ermDBResult = ermDBResult || [] %>
<% defaultRightsText = defaultRightsText || [] %>

<% if db.present? %>
  <% db.each do |data| %>
    <% access_url = access_url_first(data) %>
    <h3 class="blacklight-title_display">
      <% if access_url.present? %>
        <%= link_to access_url, :onclick => "javascript:_paq.push(['trackEvent', 'databases', 'outlink_tou_title']);" do %>
          <% if data["fulltitle_vern_display"].present? and data["fulltitle_display"].present? %>
            <%= data["fulltitle_vern_display"] + " / " + data["fulltitle_display"] %>
          <% else %>
            <% if data["fulltitle_vern_display"].present? %>
              <%= data["fulltitle_vern_display"] %>
            <% else %>
              <%= data["fulltitle_display"] %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </h3>

    <div class="description">
      <p>
        <% if data["summary_display"].present? %>
          <%= data["summary_display"][0] %>
        <% end %>
      </p>
      <p>
        <% access_desc = access_url_first_description(data) %>
        <% if access_desc.present? && access_url.present? %>
          <%= link_to access_desc, access_url, :onclick => "javascript:_paq.push(['trackEvent', 'databases', 'outlink_tou_url']);" %>
        <% elsif access_url.present? %>
          <%= link_to t('blacklight.url.message'), access_url, :onclick => "javascript:_paq.push(['trackEvent', 'databases', 'outlink_tou_url']);" %>
        <% end %>
      </p>
      <% if data['sixfivethree'].present? %>
        <p>
          Subject(s):
          <% data["sixfivethree"].each do |s| %>
            <% s1 = s %>
            <%# s1.gsub(' ','%20') %>
            <%= link_to s, "/databases/subject/#{s.gsub(' ', '%20')}", :title => "Subject: #{s.gsub(' ', '%20')}" %>
            <% unless data["sixfivethree"].last == s %>,
            <% end %>
          <% end %>
        </p>
      <% end %>
    </div>

    <% if ermDBResult.present? %>
      <%= render partial: 'databases/shared/erm_db_result', locals: { data: data, ermDBResult: ermDBResult } %>
    <% end %>
    <% if defaultRightsText.present? %>
      <%= render partial: 'databases/shared/default_rights_text', locals: { data: data, defaultRightsText: defaultRightsText } %>
    <% end %>

  <% end %>
<% end %>
