<% for i in 2..2 do %>
  <div class="input_row">
    <div class="boolean_row radio">
      <label class="radio-inline">
        <input type="radio" name="boolean_row[<%= i-1 %>]" value="AND" checked="checked"> and
      </label>
      <label class="radio-inline">
        <input type="radio" name="boolean_row[<%= i-1 %>]" value="OR"> or
      </label>
      <label class="radio-inline">
        <input type="radio" name="boolean_row[<%= i-1 %>]" value="NOT"> not
      </label>
    </div>
    <div class="form-group">
      <label for="q_row<%= i %>" class="sr-only"><%= t('blacklight.search.form.q') %></label>
      <%= text_field_tag "q_row[]", nil, :autocapitalize => "off", :id => "q_row#{i}", :class => "form-control" %>
      <label for="op_row<%= i %>" class="sr-only"><%= t('blacklight.search.form.op_row') %></label>
      <%= select_tag("op_row[]", options_for_select({'all'=>'AND','any'=>'OR', 'phrase' => 'phrase'}.sort,'all' || 'phrase'), :class => 'form-control', :id => "op_row#{i}" ) %> in
      <label for="search_field_advanced<%= i %>" class="sr-only"><%= t('blacklight.search.form.search_field_advanced') %></label>
      <%= select_tag("search_field_row[]", options_for_select(search_fields_for_advanced_search.collect{|key, field_def| [field_def.label, field_def.field]}), :class => 'advanced-search-field form-control', :id => "search_field_advanced#{i}" ) %>
    </div>
  </div>
<% end %>
