<div class="row">
  <div class="col-sm-7">
    <div class="well">
      <%= form_tag search_catalog_url( ), :class => 'advanced form-inline', :method => :get do  %>
      <%#= form_tag search_facet_catalog_path, :class => 'advanced form-inline', :method => :get do  %>
        <%#= search_as_hidden_fields(:params => advanced_search_context ) %>
        <div class="query_zone">
          <div class="input_row form-group">
            <label for="q_row" class="sr-only"><%= t('blacklight.search.form.q') %></label>
            <%= render_edited_advanced_search(params) %>
          </div>
        </div>

        <div class="add-and-sort">
          <div class="add-row">
            <a href="#" id="add-row"><i class="fa fa-plus-circle"></i> Add a row</a>
          </div>
          <div class="advanced-facets">
           <%= render_constraints_filters(params) %>
          </div>
          <%# # Comment out the display of active constraints -- still need to be removed
              # from the query before it's sent to Solr. John will handle this in the
              # # controller.
              # %>
              # <%# unless (search_context_str = render_search_to_s( advanced_search_context)).blank? %>
              # <%# <div class="constraints">
              # <h4>Within search:</h4> %>
              # <%#= search_context_str %>
              # <%# </div> %>
              # <%# end %>
              # <div class="form-group">
              # <%= label_tag(:sort, "Sort results by", :class => "sort-results" ) %>
              # <%= select_tag(:sort, options_for_select(sort_fields, h(params[:sort])), :class => "form-control" ) %>
              # </div>
              # <%= hidden_field_tag(:search_field, blacklight_config.advanced_search[:url_key]) %>
              # </div>
              #
              # <div class="submit-reset">
              # <%= submit_tag 'Search', :class=>'btn btn-search', :id=>'advanced_search' %>
              # <span class="form-alternative-action">
              # or <%= link_to "Reset", {:controller => "advanced", :action => "index"} %>
              # </span>
              # </div>
              # <% end %>
              # </div>
              # </div>
              # </div> <!-- .col-sm-7 -->
              #
              # <%= render :partial => 'advanced_search_tips' %>
              #
              # </div> <!-- .row -->
              #
