<% for i in 2..2 do %>
  <div class="input_row">
    <fieldset>
      <legend class="sr-only">Choose option</legend>
      <div class="boolean_row radio" role="radiogroup" aria-label="operators">
        <label class="radio-inline">
          <input type="radio" name="boolean_row[<%= i-1 %>]" value="AND" checked="checked" aria-checked="true"> and
        </label>
        <label class="radio-inline">
          <input type="radio" name="boolean_row[<%= i-1 %>]" value="OR" aria-checked="false"> or
        </label>
        <label class="radio-inline">
          <input type="radio" name="boolean_row[<%= i-1 %>]" value="NOT" aria-checked="false"> not
        </label>
      </div>
    </fieldset>
    <div class="form-group">
      <label for="q_row<%= i %>" class="sr-only"><%= t('blacklight.search.form.q') %></label>
      <%= text_field_tag "q_row[]", nil, :autocapitalize => "off", :id => "q_row#{i}", :class => "form-control" %>
      <label for="op_row<%= i %>" class="sr-only"><%= t('blacklight.search.form.op_row') %></label>
      <%= select_tag("op_row[]", options_for_select({'all'=>'AND','any'=>'OR', 'phrase' => 'phrase', 'begins with' => 'begins_with'}.sort,'all' || 'phrase'), :class => 'form-control', :id => "op_row#{i}" ) %> in
      <label for="search_field_advanced<%= i %>" class="sr-only"><%= t('blacklight.search.form.search_field_advanced') %></label>
      <%= select_tag("search_field_row[]", options_for_select(search_fields_for_advanced_search.collect{|key, field_def| [field_def.label, field_def.field]}), :class => 'advanced-search-field form-control', :id => "search_field_advanced#{i}" ) %>
    </div>
  </div>
<% end %>
