- if @request_solution[:service] == 'l2l'
  =  @request_solution[:service]
  = @request_solution[:location]
  = @request_solution[:holding_id]
- elsif @request_solution[:service] == 'bd'
  =  @request_solution[:service]
  = @request_solution[:location]
  = @request_solution[:holding_id]
- elsif @request_solution[:service] == 'hold'
  =  @request_solution[:service]
  = @request_solution[:location]
  = @request_solution[:holding_id]
- elsif @request_solution[:service] == 'recall'
  =  @request_solution[:service]
  = @request_solution[:location]
  = @request_solution[:holding_id]
- elsif @request_solution[:service] == 'purchase'
  =  @request_solution[:service]
  = @request_solution[:location]
  = @request_solution[:holding_id]
- elsif @request_solution[:service] == 'ill'
  =  @request_solution[:service]
  = @request_solution[:location]
  = @request_solution[:holding_id]
- else
  =  @request_solution[:service]
  = @request_solution[:location]
  = @request_solution[:holding_id]