<%= link_to facet_catalog_path(@id), {:title => @ti, :class=>'return-link'} do %>
  <i class="fa fa-arrow-circle-left"></i>
  Back to item
<% end %>
<h2>Request rare item delivery to RMC Reading Room</h2>
  <div class="well">
    <h3 class="item-title-request">
      <%= @ti %>
    </h3>
    <% if @au.present? %>
      <div class="request-author">
        <%= @au %>
      </div>
    <% end %>
    <form action="/" class="form-horizontal" id="req" method="get">
      <% holdings_condensed = @holdings['condensed_holdings_full'] %>
      <% if holdings_condensed.size > 0 %>
        <% holdings_condensed.find_all { | x | Aeon.eligible?(x['location_code']) }.each do |entry| %>
          <% location = (entry['location_name'] == '*Networked Resource') ? 'Online' : entry['location_name'] %>
          <% callnumber = entry['call_number'] %>
          <% location_code = entry['location_code'] %>
          <h4 class="location">
            <%= location %>
          </h4>
          <% if callnumber != 'No call number' && callnumber != '' %>
            <div class="call-number">
              <%= callnumber %>
            </div>
          <% end %>
          <% entry['copies'].each do |copy| %>
            <div class="group">
              <% unless copy['temp_locations'].nil? %>
                <% copy['temp_locations'].each do |t| %>
                  <div class="message">
                    <%= t %>
                  </div>
                <% end %>
              <% end %>
              <% ['orders','summary_holdings','supplements','indexes','notes','reproduction_note','current_issues'].each do |type| %>
                <% unless copy[type].nil? %>
                  <div class="message">
                    <%= copy[type] %>
                  </div>
                <% end %>
              <% end %>
              <% copy['items'].each do |item| %>
                <div class="status">
                  <% message, details = item %>
                  <% if details['count'] >1 %>
                    (#{details['count']} copies)
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
          <div class="aeon">
            <p>This rare item may be delivered only to the RMC Reading Room.</p>
            <% if location.include? 'advance' %>
              <p>This item will be delivered to the reading room from the Annex and must be requested two days in advance.</p>
            <% end %>
            <%= link_to 'Request reading room delivery', "http://www.library.cornell.edu/aeon/monograph.php?bibid=#{params[:bibid]}&libid=#{location_code}", {:class => 'btn btn-danger'} %>
          </div>
        <% end %>
      <% end %>
    </form>
</div>
