<%
  encoded_heading = (@heading_document['heading']).gsub('&', '%26').gsub('"', "'")
  bio_data = @heading_document['rda_json'].present? ? JSON.parse(@heading_document['rda_json']) : {}
	display_info_details = bio_data.present? || @heading_document['notes'].present?
%>
<h1><%=@heading_document['headingTypeDesc']%></h1>

<div id='author-title-heading' class='row info-row mb-4 mt-4' data-heading="<%=encoded_heading%>" >
  <div id='left-container' class='col-sm-8 col-md-8 col-lg-8'>
		<%= render 'bio_info', heading_type: 'authortitle', bio_data: bio_data do %>
      <% if bio_data.present? %>
				<%
					bio_data.each do |title, value|
						display_value = value.kind_of?(Array) ? value.join(', ') : value
				%>
						<dt data-rda-label=<%=title%>><%=title%>:</dt>
						<dd><%=display_value.capitalize%></dd>
				<% end %>
			<% end %>
			
			<% if @heading_document['notes'].present? %>
						<% the_notes = JSON.parse(@heading_document['notes'][0])%>
				<dt>Notes:</dt>
				<dd>
					<%= the_notes[0].to_s %>:
					<ul class='agent-notes'>
					<% the_notes.each do |n| %>
						<% if n.class.inspect == 'Hash'%>
							<li><a href="/browse?authq=<%=n['header']%>&start=0&browse_type=Author"><%= n['header']%></a></li>
						<% end %>
					<% end %>
					</ul>
				</dd>
			<% end %>
    <% end %>
    <div id='ref-info' class="<%= 'mt-4' if display_info_details %>">
      <%= render partial: 'reference_info' %>
    </div>
	</div>
	<div class='col-sm-4 col-md-4 col-lg-4'>
		<%= render 'holdings' %>
	</div>
</div>
