<%
	bio_data = @heading_document['rda_json'].present? ? JSON.parse(@heading_document['rda_json']) : {}
	permissions_key = @heading_document['heading'].delete_prefix('"').delete_suffix('"')
	exclusions = check_permissions(permissions_key)
	exclusions_JSON = exclusions.nil? ? {}: exclusions.to_json
%>

<input id='auth_loc_localname' type='hidden' value="<%=@loc_localname.gsub('"','')%>"/>
<input id='exclusions' type='hidden' value="<%= exclusions_JSON %>" />

<div class='row info-row mb-4 mt-4'>
  <div id='left-container' class='col-sm-8'>
		<%= render 'bio_info', heading_type: 'author', bio_data: bio_data do %>
			<% if bio_data['Occupation'].present? %>
				<dt>Occupation:</dt>
				<dd><%= bio_data['Occupation'].map { |o| o.gsub(/s$/, '') }.join(', ') %></dd>
			<% end %>
			<% if bio_data['Birth Place'].present? %>
				<dt>Place of Birth:</dt>
				<dd><%=bio_data['Birth Place'][0]%></dd>
				<% end %>
			<% if bio_data['Place of Death'].present? %>
				<dt>Place of Death:</dt>
				<dd><%=bio_data['Place of Death'][0]%></dd>
				<% end %>
				<dt class='citizenship'>Citizenship:</dt>
				<dd class='citizenship'></dd>
				<dt class='education'>Educated at:</dt>
				<dd class='education'></dd>
			<% if bio_data['Group/Organization'].present? %>
				<dt>Affiliations:</dt>
				<dd><%=bio_data['Group/Organization'].join(', ')%></dd>
				<% end %>
			<% if @heading_document['notes'].present? %>
				<% the_notes = JSON.parse(@heading_document['notes'][0])%>
				<dt>Notes:</dt>
				<dd>
					<% notes_str = the_notes[0].to_s %>
					<%= notes_str.ends_with?(':') ? notes_str : "#{notes_str}:" %>
					<ul class='agent-notes'>
						<% the_notes.each do |n| %>
							<% if n.class.inspect == 'Hash'%>
								<li><%= link_to n['header'], browse_index_path(authq: n['header'], start: 0, browse_type: 'Author') %></li>
							<% end %>
						<% end %>
					</ul>
				</dd>
			<% end %>
			<% if !@heading_document['notes'].present? && @heading_document['seeAlso'].present? %>
				<% see_also = JSON.parse(@heading_document['seeAlso'])%>
				<% pseudonym = see_also['Real Identity'].present? ? see_also['Real Identity'][0]['heading'] : nil%>
				<% if pseudonym.present? %>
					<dt>Pseudonym for:</dt>
					<dd>
						<%= link_to pseudonym, browse_index_path(authq: pseudonym, start: 0, browse_type: 'Author') %><
					</dd>
				<% end %>
			<% end %>
		<% end %>
    <div id='ref-info'>
      <%= render 'reference_info' %>
    </div>
	</div>
	<div class='col-sm-4'>
		<%= render 'holdings' %>
		<%# Will display relevant call numbers for the author if they're available. %>
		<div id='callnumberbrowselink' class='mb-4 mt-4 ml-2' localname="<%=@loc_localname.gsub('"','')%>"></div>
	</div>
</div>
