<% if @headingsResponse.present? && @headingsResponse["response"]["docs"][0]['callnum_display'].present? %>
  <div id="view-type-dropdown-cn" data-callnumber="<%= @headingsResponse["response"]["docs"][0]['callnum_display']%>">
    <ul class="fa-ul-dropdown list-unstyled">
      <li class="dropdown">
        <div class="btn-group">
          <a id="vb-view-type" href="#" class="btn btn-default btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      	    <i class="fa fa-align-justify" aria-hidden="true">&nbsp;&nbsp;</i>View type <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" aria-labelledby="vb-view-type">
            <li>
              <a id="vb-view-list" class="piwik_download dropdown-item" href="javascript:void(0);">
      	        <i class="fa fa-check browse-type-check"></i> <i class="fa fa-align-justify" aria-hidden="true">&nbsp;&nbsp;</i>List
      	      </a>
            </li>
            <li>
              <a id="vb-view-virtual" class="piwik_download dropdown-item" href="javascript:void(0);">
      	        <i class="fa fa-th"></i>&nbsp;&nbsp;Virtual
      	      </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
<% end %>
<% if @headingsResponse.present? %>
  <div id="cn-browse-class"><%= @class_display %></div>
<% end %>
<div class="headings-list table-responsive">
  <table class="table table-striped browse-callnumber">
    <caption class="sr-only">List of titles by call number, with format and location</caption>
    <thead>
      <tr>
        <th class="headings-cn" scope="col">
          Call Number
        </th>
        <th class="headings-cn-title" scope="col">
          Citation
        </th>
        <th class="headings-cn-format" scope="col">
          Format
        </th>
        <th class="headings-cn-availability" scope="col">
          <%= render :partial => 'browse/availability_location_filter' %>
        </th> 
      </tr>
    </thead>
    <% if response["response"].present?%>
      <% params = response["responseHeader"]["params"] %>
      <% encoded_heading = (params["q"]).gsub('&', '%26').gsub("\"", "'") %>
      <% if order == "reverse" %>
        <% docs = response["response"]["docs"].reverse %>
      <% else %>
        <% docs = response["response"]["docs"] %>
      <% end %>
      <% docs.each do |data| %>
         <tr>
          <td>
            <%= data["callnum_display"] %>
          </td>
          <td>
            <%= link_to '/catalog/' + data["bibid"].to_s do %>
              <% if data["cite_preescaped_display"].present? %>
                <%== data["cite_preescaped_display"] %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= data["format"][0] %>
          </td>
          <td>
          <% if data["availability_json"].present? %>
            <% availability = JSON.parse(data['availability_json']) %>
            <% if availability['online'].present? %>
              <div class="online-label"><i class="fa fa-check" aria-hidden="true"></i>Online</div>
            <% end %>
            <%= render :partial => '/catalog/availability_json', :locals => { :document => data} %>
          <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>