<%
  encoded_heading = (@heading_document['heading']).gsub('&', '%26').gsub('"', "'")
  works = JSON.parse(@heading_document['counts_json'])
%>

<div class='card' id='formats'>
  <div class='card-header'>
    <h3 style='margin-bottom: 0;'>Library Holdings</h3>
  </div>
  <div class='card-body' style='padding-top: .75rem;'>
    <ul class='fa-ul' id='more-results'>
      <% if works['works'].present? %>
        <li>
          Total Works:
          <%= link_to "/?q=\"#{encoded_heading}\"&search_field=authortitle_browse" do %>
            <%= pluralize(number_with_delimiter(works['works']), 'Title') %>
          <% end %>
        </li>
      <% end %>
      <% if works['worksBy'].present? %>
        <li>
          Total Works By:
          <%= link_to "/?q=\"#{encoded_heading}\"&search_field=author_#{search_field(@heading_document['headingTypeDesc'])}_browse" do %>
            <%= pluralize(number_with_delimiter(works['worksBy']), 'Title') %>
          <% end %>
        </li>
      <% end %>
      <% if works['worksAbout'].present? %>
        <li>
          Total Works About:
          <%= link_to "/?q=\"#{encoded_heading}\"&search_field=subject_#{search_field(@heading_document['headingTypeDesc'] || 'Work')}_browse" do %>
            <%= pluralize(number_with_delimiter(works['worksAbout']), 'Title') %>
          <% end %>
        </li>
      <% end %>
      <li style='text-align center'>
        <div style='width:100%;border-bottom: solid 1px #dcdcdc'></div>
      </li>
      <% @formats.each do |f| %>
        <li>
          <%= build_search_link(f, encoded_heading, search_field(@heading_document['headingTypeDesc']))%>
        </li>
      <% end %>
    </ul>
  </div>
</div>
