<%# used with the _author_info, _subject_info, and _author_title_info templates %>

<% if @heading_document['seeAlso'].present? ||
      @heading_document['alternateForm'].present? ||
      @heading_document['headingTypeDesc'].present? ||
      !@loc_localname.blank? %>
<h3>Reference Information</h3>
<div id='reference-info' class='col-sm-12 col-md-12 col-lg-12'>
  <%# display any seeAlso info first %>
  <% if @heading_document["seeAlso"].present?  %>
    <dl class="dl-horizontal">
    <% sa=JSON.parse(@heading_document["seeAlso"]) %>
    <% sa.each do |r,h| %>
      <% if r.blank? %>
        <dt>See Also:</dt>
      <% end %>
      <% if !r.blank? %>
        <dt><%= r + ':' %></dt>
      <% end %>
  	  <% if h.count > 20 %>
  	    <div class="columns" style="margin-left:165px;column-width:22.5">
  	  <% end %>
      <% loop_count = 0 %>
      <% h.each do |headingInfo| %>
        <dd <% if h.count > 20 and loop_count >= 20 %>style="margin-left:0;display:none;"  class="toggled-cr-refs"<% elsif h.count > 20  %>style="margin-left:0;"<%end%>>
        <%= link_to "/browse?authq=" + headingInfo["heading"].gsub('&', '%26').gsub("\"", "'") + "&start=0" + "&browse_type=" + params[:browse_type] do %>
          <%= headingInfo["heading"] %>
        <% end %>
        <% if headingInfo["worksBy"].present? %>
          <span class="author-works">
            Works by:
            <%= link_to '/?q="' + headingInfo["heading"].gsub('&', '%26').gsub("\"", "'") + '"&search_field=author_' + search_field(headingInfo["headingTypeDesc"]) + '_browse' do %>
              <%= headingInfo["worksBy"] %>
            <% end %>
          </span>
        <% end %>
        <% if headingInfo["worksAbout"].present? %>
          <span class="author-works">
            Works about:
            <%= link_to '/?q="' + headingInfo["heading"].gsub('&', '%26').gsub("\"", "'") + '"&search_field=subject_' + search_field(headingInfo["headingTypeDesc"]) + '_browse' do %>
              <%= headingInfo["worksAbout"] %>
            <% end %>
          </span>
        <% end %>
        </dd>
  	    <% loop_count += 1 %>
      <% end %>
  	  <% if loop_count > 20 %>
  	    <div>
  	      <a id="cr-refs-toggle" href="#">more &raquo;</a>
  	    </div>
  	  <% end %>
  	  <% if h.count >= 20 %>
  	    </div>
  	  <% end %>
    <% end %>
    </dl>
  <% end %>
  <%# now render the rest of the reference info ( heading type, alternate forms )%>
  <%= render_reference_info(@heading_document, @loc_localname) %>
</div>
<% end %>
