<%
  bio_data = @heading_document['rda_json'].present? ? JSON.parse(@heading_document['rda_json']) : {}
  bio_data = cleanup_bio_data(bio_data)
  permissions_key = @heading_document['heading'].delete_prefix('"').delete_suffix('"')
  exclusions = check_permissions(permissions_key)
  exclusions_JSON = exclusions.nil? ? {}: exclusions.to_json
%>

<input id='subj_loc_localname' type='hidden' value="<%=@loc_localname.gsub('"','')%>"/>
<input id='exclusions' type='hidden' value="<%= exclusions_JSON %>" />

<div class='row info-row mb-4 mt-4'>
  <div id='left-container' class='col-sm-8 col-md-8 col-lg-8'>
    <%= render 'bio_info', heading_type: 'subject', bio_data: bio_data do %>
      <%= render_bio_data(bio_data) if bio_data.present? %>
    <% end %>
    <div id='ref-info'>
      <%= render partial: 'reference_info' %>
    </div>
  </div>
	<div class='col-sm-4 col-md-4 col-lg-4'>
    <%= render 'holdings' %>
    <%# Will display relevant call numbers for the subject if they're available. %>
    <div id='callnumberbrowselink' class='mb-4 mt-4 ml-2' localname="<%=@loc_localname.gsub('"','')%>"></div>
  </div>
</div>
