<% if @heading_document.present?  %>
  <% if !request.xhr? %>
    <div class="return-link">
      <%# We could reach this page from either the author browse results or item view. If it's %>
      <%# from the item view, the bib will be a parameter. Use that to set the correct navigation. %>
      <% if params[:bib].present? %>
        <%= link_to "/catalog/" + params[:bib] do %>
          <i class="fa fa-arrow-circle-left"></i>
          Back to item
        <% end %>        
      <% else %>
        <%= link_to browse_url(params[:authq],params[:browse_type]) do %>
          <i class="fa fa-arrow-circle-left"></i>
          Back to list
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% encoded_heading = (@heading_document["heading"]).gsub('&', '%26').gsub("\"", "'") %>
  <% if @heading_document["headingTypeDesc"] == params[:headingtype] || params[:headingtype].nil? %>
    <h2>
      <%= @heading_document["heading"] %>
    </h2>
    <% if @heading_document["counts_json"].present? %>
      <% work = JSON.parse(@heading_document["counts_json"]) %>
      <% if params[:browse_type] == "Author"  %>
        <%= render 'author_info' %>
      <% end %>
      <% if params[:browse_type] == "Subject" %>
        <%= render 'subject_info' %>
      <% end %>
      <% if params[:browse_type] == "Author-Title"  %>
        <%= render 'author_title_info' %>
      <% end %>
    <% end %>
    <% if request.xhr? %>
      <% if @heading_document["headingTypeDesc"].present? && (@heading_document["headingTypeDesc"] == params[:headingtype]) %>
        <%= link_to "/browse/info?authq=" + params[:authq] + "&browse_type=" + params[:browse_type] do %>
          Full record
        <% end %>
      <% end %>
    <% end %>
  <%end%>
<% end %>
