<%# Database document display within lists %>

<% if response.present?  %>
  <% response.each do |data| %>
    <% dbid = data["id"] %>
    <div class="document blacklight-database-name clearfix">
      <div class="document-data">
        <h3 class="blacklight-title_display">
          <% if data["url_access_display"].nil? || data["url_access_display"].size == 0  || data["url_access_display"].size > 1 %> 
            <% dbid = data["id"] %>
            <%= link_to "/databases/show/#{dbid}" do %>
              <% if data["fulltitle_vern_display"].present? %>
                <%= data["fulltitle_vern_display"] %>
              <% else %>
                <%= data["fulltitle_display"] %>
              <% end %>
            <% end %>
          <% else %>
              <%= link_to data["url_access_display"][0].split('|')[0], :onclick => "javascript:_paq.push(['trackEvent', 'databases', 'outlink']);" do %>
                <% if data["fulltitle_vern_display"].present? %>
                  <%= data["fulltitle_vern_display"] %>
                <% else %>
                  <%= data["fulltitle_display"] %>
                <% end %>
            <% end %>
          <% end %>
        </h3>
        <div class="description">
          <p class="z-note">
            <% if !data["url_access_display"].nil? && data["url_access_display"][0].split('|')[1] != 'Connect to resource.' && data["url_access_display"][0].split('|')[1] != 'Connect to full text.' && data["url_access_display"][0].split('|')[1] != 'Connect to full text' && data["url_access_display"][0].split('|')[1] != 'Current issues' && data["url_access_display"][0].split('|')[1] != 'Connect to image database.' && data["url_access_display"][0].split('|')[1] != 'Connect to full text:' && data["url_access_display"][0].split('|')[1] != 'Connect to AGRICOLA.' && data["url_access_display"][0].split('|')[1] != 'Connect to AGU digital library - Books.'&&data["url_access_display"][0].split('|')[1] != 'Connect to full-text' && data["url_access_display"][0].split('|')[1] != 'Connect to American Founding Era.' && data["url_access_display"][0].split('|')[1] != 'Connect to AnthroSource.' && data["url_access_display"][0].split('|')[1] != 'Connect to ATLA religion database.' && data["url_access_display"][0].split('|')[1] != 'Connect to site.' && data["url_access_display"][0].split('|')[1] != 'Black Literature Index Connect to full text.' && data["url_access_display"][0].split('|')[1] != 'Connect to CenStats.' && data["url_access_display"][0].split('|')[1] != 'Connect to Europa World Plus.' && data["url_access_display"][0].split('|')[1] != 'Connect to Gale Directory Library.' && data["url_access_display"][0].split('|')[1] != 'Connect to resource' && data["url_access_display"][0].split('|')[1] != 'Connect to collection.' && data["url_access_display"][0].split('|')[1] != 'Connect to LLMC Digital' && data["url_access_display"][0].split('|')[1] != 'For instructions on how to use Lynda.com' && data["url_access_display"][0].split('|')[1] != 'Connect to database.' && data["url_access_display"][0].split('|')[1] != 'Connect to SPIE Digital Library.' && data["url_access_display"][0].split('|')[1] != 'Connect to TRID.' && data["url_access_display"][0].split('|')[1] != 'Connect to World news connection.' %>
              <%= data["url_access_display"][0].split('|')[1] %>
            <% end %>
          </p>
          <p>
            <% if data["summary_display"].present? %>
              <%= data["summary_display"][0] %>
            <% end %>
          </p>
        </div>
        <div class="terms">
          <% if data["dbcode"].nil? %>
            <% dbcode = "" %>
          <% else %>
            <% dbcode = data["dbcode"][0] %>
          <% end %>
          <% if data["providercode"].nil? %>
            <% providercode = "" %>
          <% else %>
            <% providercode = data["providercode"][0] %>
          <% end %>
          <%= link_to 'Terms of Use', "/databases/tou/#{dbid}", "aria-label" => "Terms of use for record #{dbid}" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
