<div class="databases-search">
  <div class="well clearfix">
    <div class="row">
      <p>Search for top databases by name or broad subject terms</p>
      <div class="search-tools">
        <%= form_tag '/databases/searchdb', :method => :get, :class => 'form-inline' do %>
          <%= render_hash_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page]).html_safe %>
          <% if !params[:q_row].present? %>
            <div class="form-group col-xs-8 col-sm-6">
              <label for="q" class="sr-only"><%= t('blacklight.search.form.q') %></label>
              <%= text_field_tag :q, params[:q], :placeholder => 'e.g. MLA, Biosis, statistics, philosophy', :class => "form-control", :id => "q", :autocapitalize => "off" %>
            </div>
            <% unless search_fields.empty? %>
              <div class="form-group">
                <label for="search_field" class="sr-only"><%= t('blacklight.search.form.search_field.label') %></label>
                <%= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), :title => t('blacklight.search.form.search_field.title'), :class => 'col-sm-4') %>
                <span class="sr-only"><%= t('blacklight.search.form.search_field.post_label') %></span>
              </div>
            <% end %>
            <button id="search-btn" class="btn btn-search" type="submit">
              <i class="fa fa-search fa-inverse"></i><span class="sr-only"><%=t('blacklight.search.form.submit')%></span>
            </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
