= render :partial => 'databases_search_form'
.row.database-subject
	.page-title.span9
		%h2
			=params[:q]
	.span3.return-link
		=link_to "/databases/" do
			%i.fa.fa-arrow-circle-left
			View all subjects
.results-info


- if @subjectCore.present?
	.resources
		%h3
			Core Resources
		- @subjectCore.each do |data|
			%div.document.blacklight-database-name.clearfix
				%div.document-data
					%h4.blacklight-title_display
						- if data["url_access_display"][1].present?
							-dbid = data["id"]
							=link_to "/databases/show/#{dbid}" do
								-if data["fulltitle_vern_display"].present?
									=data["fulltitle_vern_display"]
								-else
									=data["fulltitle_display"]
						-else
							=link_to data["url_access_display"][0].split('|')[0] do
								-if data["fulltitle_vern_display"].present?
									=data["fulltitle_vern_display"]
								-else
									=data["fulltitle_display"]
									%i.fa.fa-external-link
					%div.description
						%p
							-if data["summary_display"].present?
								=data["summary_display"][0]

					%div.terms
						-if data["dbcode"].nil?
							-dbcode = ""
						-else
							-dbcode = data["dbcode"][0]
						-if data["providercode"].nil?
							-providercode = ""
						-else
							-providercode = data["providercode"][0]
						TERMS PLACEHOLDER |
						= link_to 'Terms of Use',"/databases/searchERMdb?dbcode=#{dbcode}&providercode=#{providercode}"
	.resources
		%h3
			Additional Resources
		- @subject.each do |data|
			%div.document.blacklight-database-name.clearfix
				%div.document-data
					%h4.blacklight-title_display
						- if data["url_access_display"][1].present?
							-dbid = data["id"]
							=link_to "/databases/show/#{dbid}" do
								-if data["fulltitle_vern_display"].present?
									=data["fulltitle_vern_display"]
								-else
									=data["fulltitle_display"]
						-else
							=link_to data["url_access_display"][0].split('|')[0] do
								-if data["fulltitle_vern_display"].present?
									=data["fulltitle_vern_display"]
								-else
									=data["fulltitle_display"]
									%i.fa.fa-external-link
					%div.description
						%p
							-if data["summary_display"].present?
								=data["summary_display"][0]

					%div.terms
						-if data["dbcode"].nil?
							-dbcode = ""
						-else
							-dbcode = data["dbcode"][0]
						-if data["providercode"].nil?
							-providercode = ""
						-else
							-providercode = data["providercode"][0]
						TERMS PLACEHOLDER |
						= link_to 'Terms of Use',"/databases/searchERMdb?dbcode=#{dbcode}&providercode=#{providercode}"
-else
	.resources
		- @subject.each do |data|
			%div.document.blacklight-database-name.clearfix
				%div.document-data
					%h4.blacklight-title_display
						- if data["url_access_display"][1].present?
							-dbid = data["id"]
							=link_to "/databases/show/#{dbid}" do
								-if data["fulltitle_vern_display"].present?
									=data["fulltitle_vern_display"]
								-else
									=data["fulltitle_display"]
						-else
							=link_to data["url_access_display"][0].split('|')[0] do
								-if data["fulltitle_vern_display"].present?
									=data["fulltitle_vern_display"]
								-else
									=data["fulltitle_display"]
									%i.fa.fa-external-link
					%div.description
						%p
							-if data["summary_display"].present?
								=data["summary_display"][0]

					%div.terms
						-if data["dbcode"].nil?
							-dbcode = ""
						-else
							-dbcode = data["dbcode"][0]
						-if data["providercode"].nil?
							-providercode = ""
						-else
							-providercode = data["providercode"][0]
						TERMS PLACEHOLDER |
						= link_to 'Terms of Use',"/databases/searchERMdb?dbcode=#{dbcode}&providercode=#{providercode}"
