<% #  must pass in locals:
   #    * 'item' that's a BentoSearch::ResultItem
   #    * 'results' that's the BentoSearch::Results (optional, actually)
   #    * 'item_counter', 1-based collection counter, passed in automatically
   #       by rails render collection (little known rails feature),
   #       can be used with results.start to calculate actual result set
   #       index.
   #
   # Custom partials meant to take this place of this one should
   # use same convention, local 'item'.
   #
   # By default we're passing index to item_title partial to display
   # counter for results, not sure if that's going to be generally
   # wanted, but to begin with I'm often taking what I need locally
   # based on user-testing and stuff for my use cases, and making
   # it default.
%>



<% bento_decorate(item) do |item| %>

  <%# for debugging purposes, we'll include the vendor-specific unique_id, if we have
      one, in a data-unique-id attribute. %>
   <% dbid = '' %>
  <% dbid = "data-bibid=#{item.unique_id}"  unless !is_cataloged(item.link) %>
  <%- atl_data = ( is_cataloged(item.link) ? "data-atl='yes'" : "data-atl='no'") %>


  <div class="bento_item clearfix"  <%= dbid %>  data-unique-id="<%= item.unique_id %>" <%= atl_data.html_safe %> >
    <% if item.format_str && (item.link).include?('digital')%>
     <div class="pull-left" style="margin-right:10px">
        <img src="<%= item.format_str  %>" class="img-responsive img-thumbnail" alt="">
        </div>
      <% end %>
    <%= render :partial => "bento_search/item_title", :object => item, :as => 'item', :locals => { } %>


    <div class="bento_item_body ">
      



      <% if item.any_present?(:authors, :display_date) %>
        <p class="bento_item_row first_about">

          <% if item.authors.present? %>
            <span class="authors">
              <%= item.render_authors_list %>
            </span>
          <% end %>

          <% if item.authors.present? && item.display_date.present? %>
            <span class="seperator"><%= I18n.t("bento_search.author_date_seperator", :default=>"—") %></span>
          <% end %>

          <% if item.display_date.present? %>
            <span class="date">
              <%= item.display_date %>
            </span>
          <% end %>





        </p>
      <% end %>

      <% if item.abstract %>
        <p class="bento_item_row abstract">
          <%= item.render_summary  %>
        </p>
      <% end %>

      <% if item.has_source_info? %>
        <p class="bento_item_row second_about">
          <%= item.render_source_info %>
        </p>
      <% end %>

      <% if item.other_links.present? %>
        <p class="bento_item_other_links">
          <%= render :partial => "bento_search/link", :collection => item.other_links %>
        </p>
      <% end %>
      <% if item.link_is_fulltext?.present? && item.format_str.present?%>
          <p class="bento_item_other_links">
        <span class="format">
          <i class="fa fa-check" title="Full text" alt="" aria-hidden="true"></i> Full text <%= item.format_str.downcase %>
        </span>
      </p>
      <% elsif !item.link_is_fulltext?.present? && item.format_str.present? && item.engine_id=="summon_bento"%>
      <p class="bento_item_other_links">
    <span class="format">
      <i class="fa fa-pencil" title="Citation only" alt="" aria-hidden="true"></i> Citation only
    </span>
  </p>
      <% end %>
    </div>
    <% if is_cataloged(item.link) %>
      <% if item.custom_data['url_online_access'].present? %>
        <i class="fa fa-check" title="Available" alt="" aria-hidden="true"></i> <a class="status-online location label label-online" href="<%= bento_online_url(item.custom_data['url_online_access'], item.link) %>" aria-label="Record <%= item.unique_id %>">Online</a>
      <% end %>
      <% if item.custom_data['availability_json'].present? %>
      <% availability = JSON.parse(item.custom_data['availability_json']) %>
          <% onotes = availability["notes"] %>
          <% if availability["availAt"].present? %>
          <% availability["availAt"].each do |location,callnumber| %>
          <div class="bento_item_avail">
            <i class="fa fa-check" alt="" title="Available" aria-hidden="true"></i>
            <span class="location">
              <% unless location == "Library Technical Services Review Shelves" %>
              <%= "#{location}" %>
              <% end %>
            </span>
            <span class="callnumber">
              <%= callnumber %>
            </span>
            <% if availability['notes'].present?  %>
              <span class="onotes">
              Order Information:   <%=  onotes %>
              </span>
            <% end %>
          </div>

            <% end %>
            <% end %>
            <% if availability["unavailAt"].present? %>
            <% availability["unavailAt"].each do |location,callnumber| %>
          <div class="bento_item_avail">
            <i class="fa fa-clock-o" aria-hidden="true" alt="" title="Available by request"></i>
            <span class="location">
              <% unless location == "Library Technical Services Review Shelves" %>
                <%= "#{location}" %>
              <% end %>
            </span>
          <span class="callnumber">
            <%= callnumber %>
          </span>
          <% if availability['notes'].present?  %>
            <span class="onotes">
            Order Information:   <%=  onotes %>
            </span>
          <% end %>
        </div>
        <% end %>

          <% end %>

      <% end %>

   <% end %>
  </div>
<% end %>
