 <% content_for(:head) do -%>
        <%= render "catalog/opensearch_response_metadata", response: @response %>
        <%= auto_discovery_link_tag(:rss, url_for(params.merge(:format => 'rss')), :title => t('blacklight.search.rss_feed') ) %>
        <%= auto_discovery_link_tag(:atom, url_for(params.merge(:format => 'atom')), :title => t('blacklight.search.atom_feed') ) %>
        <%= render_extra_head_content %>
      <% end -%>

  <h2><%= "Book Bag" %></h2>
  <div class="bookbag-tips">
    <h3><i class="fa fa-info-circle" aria-hidden="true"></i>Tips</h3>
    <ul>
      <li>You may save up to 500 items in your Book Bag, but it is not meant for long-term storage. Please see <a href="https://www.library.cornell.edu/study/citation-management/">Citation Management</a> for tools for managing citations.</li>
      <li>Uncheck boxes to remove items from your Book Bag. Use the "Clear all items" link to remove all items.</li>
    </ul>
  </div>
  <% if !(current_user && BookBag.enabled?) %>
    <%= render :partial => 'shared/sign_in_form_book_bag' %>
  <% else %>
    <% bookmarks = session[:bookmarks_for_book_bags] %>
    <% if bookmarks.present? && bookmarks.count > 0 %>
      <%= link_to addbookmarks_index_path, :data => { :confirm => t('blacklight.bookmarks.bag.action_confirm', count: bookmarks.count ) }, :class => 'add-bookmarks btn btn-cul' do %>
            <i class="fa fa-bookmark" aria-hidden="true"></i> <%= t('blacklight.bookmarks.bag.action_confirm', count: bookmarks.count ) %>
      <% end %>
    <% end %>
  <% end %>
  <% if ENV['DEBUG_USER'].present? && Rails.env.development? %>
  <ul id="debug-book-bag">
    <li>current_or_guest_user: <%= current_or_guest_user.to_s %></li>
    <li>current_user: <%= current_user.to_s %></li>
    <li>BookBag.enabled?: <%= BookBag.enabled?.to_s %></li>
    <li>user_session: <%= user_session.present?.to_s %></li>
    <li>params: <%= params.inspect %>
  </ul>
  <% end %>
  <div class="results-info">
    <% @selectedcount =
      if session[:bookbag_count].nil?
        0
      else
        session[:bookbag_count]
      end
    %>
    <%if @selectedcount < 1 %>
      <p><%= t('blacklight.bookmarks.no_bookmarks') %></p>
    <% else %>
      <div class="row">
        <div class="col-sm-6">
          <span class="results-count">
            <%= render :partial => "paginate_compact", :object => @response %>
          </span>
          <%= link_to  book_bags_clear_path, :data => { :confirm => t('blacklight.bookmarks.clear.action_confirm.book_bag') }, :class => 'clear-bookmarks' do %>
            <i class="fa fa-times-circle"></i> <%= t('blacklight.bookmarks.clear.action_title') %>
          <% end %>
        </div>
        <div class="col-sm-6">
          <div class="search-filter">
            <div class="search-widgets">
              <%= render :partial => 'sort_widget' %>
              <%= render :partial => 'per_page_widget' %>
            </div>
            <%= render 'select_all' %>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-sm-12">
      <div class="item-tools">
      <ul class="fa-ul" id="item-tools">
        <%= render :partial => 'catalog/show_tools' %>
      </ul>
      </div>
      </div>
      </div>

      <%= render_document_index %>
      <%= render 'results_pagination' %>

    <% end %>
  </div>

<% if ENV['RAILS_ENV'] != 'production' %>
<script>
  _paq = []
</script>
<% end %>


