<%# 
  This code was originally in the marc_view partial, it is not dependent on a MARC record 
  It renders hidden elements used by the Ares addon (DACCESS-733)
%>
<% holding_id = "" %>
<% items_json = {} %>
<div hidden id="integration">
  <div class="subfields">
    <title>
      <% if !@document["fulltitle_display"].nil? %>
        <%= @document["fulltitle_display"] %>
      <% end %>
    </title>
  </div>
  <div class="subfields">
    <author>
      <% if !@document["author_display"].nil? %>
        <%= @document["author_display"] %>
      <% end %>
    </author>
  </div>
  <div class="subfields">
    <% if !@document["edition_display"].nil? %>
      <% count = 0 %>
      <% @document["edition_display"].each do |edition| %>
        <% if count >= 0 %>
          <edition>
            <%= edition %>
          </edition>
          <% count = count + 1 %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="subfields">
    <% if !@document["publisher_display"].nil? %>
      <% count = 0 %>
      <% @document["publisher_display"].each do |publisher| %>
        <% if count >= 0 %>
          <publisher>
            <%= publisher %>
          </publisher>
          <% count = count + 1 %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="subfields">
    <% if !@document["pub_date_display"].nil? %>
      <% count = 0 %>
      <% @document["pub_date_display"].each do |date| %>
        <pub_date>
          <%= date %>
        </pub_date>
        <% count = count + 1 %>
      <% end %>
    <% end %>
  </div>
  <div class="subfields">
    <% if !@document["items_json"].nil? %>
      <% items_json = JSON.parse(@document["items_json"]) %>
      <% count = 0 %>
      <% items_json.each do |key, value| %>
        <% if count >= 0 %>
          <% value.each do |item| %>
            <item_json>
              <%= item %>
            </item_json>
          <% end %>
          <% count = count + 1 %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
