<% if group == "Circulating"  || group == "Rare" %>
<%
  # Need a parameter to pass to requests that determines whether to add
  # text on the "Ask a librarian page" that the item can be scanned and
  # to return to the item view page for that.
  scan = (group == "Circulating" && !reserve_item) || !reading.empty?
%>
<% # request_context_path = ( group == "Circulating" ) ? blacklight_cornell_request.magic_request_path("#{params[:id]}") :  "http://wwwdev.library.cornell.edu/aeon/monograph.php?bibid=#{params[:id]}&libid=#{aeon_codes.join('|')}" %>
<% request_context_path = request_path(group,params[:id],aeon_codes,@document,scan) %>
<% request_scan_path = request_path('AEON_SCAN_REQUEST',params[:id],aeon_codes,@document,scan) %>
<%#= params.inspect %>
<%# request_scan_path = ENV['AEON_SCAN_REQUEST'] %>
<%# Temporary variable for Covid-19 closures. We can probably change this to an exclusive list, rather than an inclusive one.%>
<% requestable_libraries = ["Library Annex", "Mann Library", "Olin Library", "Kroch Library Asia", "Uris Library", "ILR Library", "Music Library", "Africana Library", "Fine Arts Library", "Veterinary Library", "Law Library", "Mathematics Library"] %>
<% @group = group %>

<div class="item-requests">
  <% counter = params[:counter] || session[:search][:counter] %>
  <% if (not_spif > 0)    %>
    <% if group == 'Rare' && ENV['DISABLE_AEON'] == 'true' %>
      <%= 'Reading Room delivery and scans of these materials are temporarily unavailable.' %>
    <% elsif counter.blank? %>
      <%#= link_to "Request item#{reading}", request_context_path, { :title => 'Request', :class => 'btn btn-danger', :id => 'id_request' }   Delete this? Or keep around for post-covid?%>
      <% if !@document['etas_facet'].present? %>
          <% if !@document["location"].nil? && !aspace_pui_id?(@document) %>
              <%= link_to "Request item#{reading}", request_context_path, { :title => 'Request', :class => 'btn btn-danger', :id => 'id_request'} unless (requestable_libraries && @document["location"]).empty? %>
              <%= link_to "Request item for scanning", request_scan_path, { :title => 'Request', :class => 'btn btn-outline-secondary', :id => 'id_request2' } unless reading.empty?   %>
          <% elsif @document['callnum_sort'] == "Available for the Library to Purchase"%>
             <%= link_to "Request item #{reading}", request_context_path, { :title => 'Request', :class => 'btn btn-danger', :id => 'id_request'}%>
          <% end %>
      <% end %>
    <% else %>
      <%#= link_to "Request item#{reading}", request_context_path, { :title => 'Request', :class => 'btn btn-danger', 'data-counter'.to_sym => counter, :id => 'id_request' } Delete this?%>
       <% if !@document['etas_facet'].present? %>
          <% if !@document["location"].nil? && !aspace_pui_id?(@document) %>
              <%= link_to "Request item#{reading}", request_context_path, { :title => 'Request', :class => 'btn btn-danger', 'data-counter'.to_sym => counter, :id => 'id_request', :scan => scan } unless (requestable_libraries && @document["location"]).empty? %>
              <%= link_to "Request item for scanning", request_scan_path, { :title => 'Request', :class => 'btn btn-outline-secondary', :id => 'id_request2' }  unless reading.empty? %>
            <% elsif @document['callnum_sort'] == "Available for the Library to Purchase"%>
               <%= link_to "Request item #{reading}", request_context_path, { :title => 'Request', :class => 'btn btn-danger', :id => 'id_request' }%>
          <% end %>
       <% end %>
    <% end %>
  <% end %>

  <% # only display request scan button for items not at RMC %>
  <% if (group == "Circulating" && !reserve_item) %>
    <% ill_link = ENV['ILLIAD_URL'] + '?Action=10&Form=30&url_ver=Z39.88-2004&rfr_id=info%3Asid%2Fcatalog.library.cornell.edu' %>
    <% ill_title = "#{@title}" + (@subtitle.present? ? ": #{@subtitle}" : '') %>
    <% ill_isbn = @document[:isbn_display] ? @document[:isbn_display][0] : '' %>
    <% if ill_isbn == '' %>
      <% ill_isbn = @document[:issn_display] ? @document[:issn_display][0] : '' %>
    <% end %>
  <% ill_link += "&rft.title=#{CGI.escape(ill_title)}" %>
    <% ill_link += "&rft.isbn=#{ill_isbn}" %>
    <% if !@document['etas_facet'].present? %>
         <%= link_to 'Request scan of article/chapter', ill_link, { :title => 'Request scan', :class => 'btn btn-outline-secondary'} %>
    <% end %>
  <% end %>
</div>
<% end %>