<% holdings_restrictions = "" %>

<div id="document" class="<%= render_document_class %> col-sm-12">
  <div id="doc_<%= @document.id.to_s.parameterize %>">
	<% Rails.logger.debug("mjc12test2: authgroups #{session[:cu_authenticated_groups] }") %>
  <%
    # With Blacklight 7, we can't access these using field_value. So get them all out of
    # the Solr doc right up front.
    title_display = @document['title_display']#folio_title_link(@document['title_display'], @document['instance_id'])
    title_vern_display = @document['title_vern_display'] # 10751949
    subtitle_display = @document['subtitle_display']
    subtitle_vern_display = @document['subtitle_vern_display'] # 10615953
    responsibility = @document['title_responsibility_display']
    url_access_json = @document['url_access_json']
    holdings_json = @document['holdings_json']
    restrictions_display = @document['restrictions_display']
    other_availability_json = @document['other_availability_json']
    workid_display = @document['workid_display']
    workid_facet = @document['workid_facet']
  %>

  <% # bookmark/folder functions -%>
  <div class="document-header">
  <%
    @title = the_vernaculator(title_display, title_vern_display)
    @subtitle = the_vernaculator(subtitle_display, subtitle_vern_display)
  %>
  <% if @title.present? %>
    <h2><%= @title %></h2>
  <% end %>
  <% if @subtitle.present? %>
    <h3 class="subtitle"><%= @subtitle %></h3>
  <% end %>
  <% if responsibility.present? %>
    <h3 class="responsibility"><%= responsibility.join('; ') %></h3>
  <% end %>
  </div>
  <div class="row">
    <div class="col-md-4 order-md-8">
	  <div class="availability card">
	    <div class="card-header">
	      Availability
	    </div>
	    <div class="card-block">
			<%# Determine if the request should be made through the catalog or the Aspace PUI %>
			<% url = aspace_pui_url(@document) %>
			<% if url.present? %>
				<%# Item is in Aspace so render finding aids to direct to the PUI %>
				<% url_findingaid_displays = render_display_link :value => [url], :field => 'url_findingaid_display', :format => 'default' %>
				<div class="url_findingaid_display" id="finding_aid">
					<% url_findingaid_displays.each do |url_findingaid_display| %>
					<div class="url_findingaid_link">
						<i class="fa fa-check" aria-hidden="true"></i>
						<%= url_findingaid_display %>
					</div>
					<% end %>
				</div>
			<% elsif @document['url_findingaid_display'].present? %>
				<%# Item is not in Aspace so render finding aids from the document %>
				<% url_findingaid_displays = render_display_link :document => @document, :field => 'url_findingaid_display', :format => 'default' %>
				<div class="url_findingaid_display" id="finding_aid">
					<% url_findingaid_displays.each do |url_findingaid_display| %>
					<div class="url_findingaid_link">
						<i class="fa fa-check" aria-hidden="true"></i>
						<%= url_findingaid_display %>
					</div>
					<% end %>
				</div>
			<% end %>
		
	      <%  summary_holdings = '' %>
	      <% if is_online?(@document) %>
	        <div class="holdings-online">
	        	<div class="online-label">
	            <i class="fa fa-check" aria-hidden="true"></i>Online
	        	</div>
	        <ul class="list-unstyled">
	         <% if @document["holdings_json"].present? %>
	         <%# holdings = JSON.parse(@document['holdings_record_display'][0]) %>
	         <%# getID = holdings["id"] %>
                            <%#= JSON.parse(@document["holdings_json"])[getID]["holdings"].inspect %>
             <% holdings_json = JSON.parse(holdings_json) %>
                            <%#= JSON.parse(@document["holdings_json"]).inspect %>
                            <%#= holdings_json[getID]["links"].inspect %>
                            <%#= holdings_json[getID]["links"][0]["description"].inspect %>
                            <%#= holdings.inspect %>
              <% holdings_json.each do |key, value|  %>
         		<% if holdings_json[key]["active"].nil? or holdings_json[key]["active"] == true && (key != "1" && key != "2")%>
              	  <%#= value["online"].inspect %>
              	  <% if value["online"] == true and !value["links"].nil? %>
               	    <%#=  value.inspect %>
               		<% value["links"].each do | link | %>
                  	  <%#=  link["url"].inspect %>
                  	  <%#= link["description"].inspect %>
                  	  <% if link["description"].present? %>
                  	    <% label = link["description"] %>
                  	  <% else %>
                  	    <% label = t('blacklight.url.message')  %>
                  	  <% end %>
	                  <li>
	                    <div class="online-link">
                        <% if label.include?("Temporary Access") %>
                          <% label = "Information for users about temporary access." %>
                        <% end %>
	                    <%= link_to(process_online_title(label), link["url"].html_safe, {:class => 'online-access', :onclick => "javascript:_paq.push(['trackEvent', 'itemView', 'outlink']);"}) %>
	                    <div class="message">
	                      <%= summary_holdings.html_safe %>
	                    </div>
	                    <div class="message">
	                      <%#= key.inspect %>
	                      <% if key.present? %>
	                        <%#= value.inspect %>
	                        <% holdings = value %>
	                        <% getID = key %>
	                        <% if !value['holdings'].nil? %>
	                          <% sizer = value['holdings'].size %>
	                          <% if sizer != 1 %>
	                            Library has:<br/> <%= value['holdings'].join('<br>').html_safe %>
	                          <% else %>
	                            Library has: <%= value['holdings'][0].html_safe %>
	                          <% end %>
	                        <% end %>
	                        <% if !value['indexes'].nil? %>
	                          <% sizer = value['indexes'].size %>
	                          <% if sizer != 0 %>
	                            <br>Indexes: <%= value['indexes'].join('<br>').html_safe %>
	                          <% elsif value['indexes'][0].present? %>
	                            Indexes: <%= value['indexes'][0].html_safe %>
	                          <% end %>
	                        <% end %>
	                        <% if !value['notes'].nil? %>
	                          <% sizer = value['notes'].size %>
	                          <% if sizer != 0 %>
	                            <br>Notes: <%= value['notes'].join('<br>').html_safe %>
	                          <% elsif value['notes'][0].present? %>
	                            Notes: <%= value['notes'][0].html_safe %>
	                          <% end %>
	                        <% end %>
	                        <% if !value['supplements'].nil? %>
	                          <% sizer = value['supplements'].size %>
	                          <% if sizer != 0 %>
	                            <br>Supplements: <%= value['supplements'].join('<br>').html_safe %>
	                          <% elsif value['supplements'][0].present? %>
	                            Supplements: <%= value['supplements'][0].html_safe %>
	                          <% end %>
	                        <% end %>
	                      <% end %>
                          </div>
	                      <%#= @document['title_display'].inspect %>
                          <% parsed_json = JSON.parse(@document['url_access_json'][0]) %>
                          <%#= parsed_json['titleid'] %>
                          <%#= @document['id'] %>
                          <% if parsed_json['titleid'].present? %>
 	                        <span class="terms-of-use">
 	                        <%#= @document.inspect %>
	                          <span class="fa fa-chevron-right" aria-hiden="true"></span>
                              <a href="/catalog/new_tou/<%= parsed_json['titleid'] %>/<%= @document['id']	%> ">Terms of use</a>
 		                    </span>
                          <% else %>
	                        <% if link["dbcode"].present? && link["providercode"].present? %>
	                          <span class="terms-of-use">
	                            <span class="fa fa-chevron-right" aria-hiden="true"></span>
		                        <a href="/catalog/tou/<%= @document[:id] %>/<%= link["providercode"] %>/<%= link["dbcode"] %>">Terms of use</a>
		                        <%#= holdings_json.inspect  %>
		                         <% if restrictions_display.present? %>
		                       	   </div>
		                       	 <% end %>
						  		 <% if !restrictions_display.present? %>
						  		   <span class="access-restriction">
	          			  		   <% if !holdings_json.nil? %>
	                                 <% holdings_json.each do |k,holding| %>

	                                   <% if !holdings_json[k]['links'].nil? %>

	               		  			   <% if !holdings_json[k]['links'][0]['users'].nil?  and holdings_json[k]['links'][0]['users'] != 'nil'%>
	                                     <%#= holdings_json[k]['links'][0]['users'].inspect %>
	              		  				 <%# Limiteds to <%= holdings_json[k]['links'][0]['users'].inspect '\%\>  simultaneous users %>
	               		  			   <% end %>

	               		  			  <% end %>

	            		  			 <% end %>
	           			  		   <% end %>
	           			  		   </span>
	           			  		 <% end %>
	                        <% else %>
                            <% end %>
                          <% end %>
	                      <% if !restrictions_display.present? %>
                            </div>
                          <% end %>
	                      </li>
	              <%# end %>




              <% end %>

                <% end %>
                <% end %>

	            <% end %>
	           <% end %>
	          </ul>
	        </div>
	      <%end %>
            <%# online-holdings %>

	      <%# end %>
	      <%# end online %>
	      <%# print holdings %>
	      <!-- solr verion of holdings -->
	      <div class="holdings">
	        <%#= @document.inspect %>
	        <% if !@document['holdings_json'].nil? %>
	          <% holdings = JSON.parse(@document['holdings_json']) %>
	          <%#= JSON.parse(holdings).to_s.inspect %>
	          <%#= getID.inspect %>
	          <%#= holdings[getID].inspect %>
	          <%#= holdings.inspect %>
	          <% circulating_items = [] %>
	          <% rare_items = [] %>
	          <% online_items = [] %>
	          <% holdings.each do |k,holding| %>
	          <%#= holdings[k]["active"].inspect %>
	          <% if !holding["restrictions"].nil? %>
	          <%   holdings_restrictions = holding["restrictions"][0] %>
	          <% end %>
	          <% if !holding['links'].nil? and holding['links'][0]['users'].present?  %>
	          <span class="access-restriction">
	            <h3>Restrictions</h3>
	            Limited to <%= holding['links'][0]['users'].inspect %> simultaneous users
	          </span>
	          <% end %>
       			<% if holdings[k]["active"].nil? or holdings[k]["active"] == true %>

	             		<% if holding["location"].present? %>
	                		<% if holding["location"]["name"].include?('Rare') || holding["location"]["name"].include?('Kheel') %>
	                   			<% rare_items << holding %>
	                		<% else %>
	                		   <% circulating_items << holding %>
	                		<% end %>
	             		<% elsif holding["online"].present? %>
	                		<% online_items << holding %>
	             		<% end %>
                  <% end %>
	          <% end %>
	          <% if !circulating_items.blank? %>
	             <% items = circulating_items.sort_by { |e| e["location"]["name"]  } %>
	             <% group = "Circulating" %>
	             <%= render 'holdings_group',:items => items, :group => group %>
	          <% end %>
	          <% if !rare_items.blank? %>
	             <% items = rare_items.sort_by { |e| e["location"]["name"]  } %>
	             <% group = "Rare" %>
	             <% if circulating_items.present? %>
	                <h3>Rare Items</h3>
	             <% end %>
	             <%= render 'holdings_group',:items => items, :group => group %>
	          <% end %>
	        <% end %>
	      </div>
	      <%# access restrictions %>
	      <% if holdings_restrictions != "" %>
	        <span class="access-restriction">
	         <h3>Restrictions</h3>
	         <%= holdings_restrictions %>
	         </span>
	      <% end %>
	      <% if restrictions_display.present? %>

	        <span class="access-restriction">
	          <h3>Restrictions</h3>
	          <%= restrictions_display.map(&:inspect).join('; ').gsub('\\"', '') %>
	          <% if !@document['holdings_json'].nil? %>
	            <% holdings = JSON.parse(@document['holdings_json']) %>
	            <% holdings.each do |k,holding| %>
	               <% if !holdings[k]['links'].nil? and !holdings[k]['links'][0]['users'].nil? %>
	                Limited to <%= holdings[k]['links'][0]['users'].inspect  %> simultaneous users
	               <% end %>
	            <% end %>
	           <% end %>
	        </span>
	      <% end %>
	      <%# end availability %>
	    </div>
	  </div>
	  <%# other forms %>
	  <% if  other_availability_json.present? || workid_display.present?   %>
	    <div class="availability card ">
	      <div class="card-header">
	        Other forms of this work
	      </div>
	      <div class="card-block">
	        <% if  other_availability_json.present?  %>
	          <% other_availability_json.each do |form| %>
	            <% f = JSON.parse(form) %>
	            <div class="other-form">
	              <span class="other-form-title">
	                <%= link_to f["title"], "/catalog/#{f["bibid"]}", { "aria-label": "#{f["title"]}, bib ID #{f["bibid"]}" } %>
	              </span>
	              <% formats = f["format"].split(",") %>
	                <% formats.each do |format| %>
	                  <span class="other-form-format">
	                    <i class="fa fa-<%= formats_icon_mapping(format) %>" aria-hidden="true"></i><%= format %>
	                  </span>
	                <% end %>
	                <% if f["pub_date"].present? %>
	                  <span class="other-form-date"><%= f["pub_date"] %></span>
	                <% end %>
	                <% if f["language"].present? %>
	                  <span class="other-form-language"><%= f["language"] %></span>
	                <% end %>
	                <% if f["edition"].present? %>
	                  <span class="other-form-edition"><%= f["edition"] %></span>
	                <% end %>
	                <% if f["sites"].present? %>
	                  <span class="other-form-online">
	                    <span class="status-online online-label">Online</span>
	                  </span>
	                <% end %>
	                <% if f["libraries"].present? %>
	                  <span class="at-library-label">At the Library</span>
	                <% end %>
	                </div>
	                <%# end other-form %><% end %>
	              <% end %>
	              <% if workid_display.present?  %>
	                <p><%= link_to "See all forms of this work",'/?f[workid_facet][]=' + workid_facet[0] %></p>
	              <% end %>
	            </div>
	      </div>
	    <% end %>
	  </div>
	  <%# end col-md-4 %>
	  <div class="col-md-8 order-md-4">
	    <div class="float-sm-right item-cover">
				<% if @document["format_main_facet"] == "Musical Recording" && @discogs_image_url.present?%>
					<%= format_discogs_image(@discogs_image_url)%>
				<% end %>
				<% unless @document["no_google_img_b"] %>
					<div class="bookcover d-none d-sm-inline" id="OCLC:<%= bookcover_oclc(@document) %>" data-oclc="<%= bookcover_oclc(@document) %>"></div>
				<% end %>
			</div>
	    <%# item-cover %>
	    <%= render_document_partial @document, :show %>
			<% if @document["format_main_facet"] == "Musical Recording" %>
		   <div id="discogs_disclaimer"></div>
			<% end %>
		<!--Adding Wikidata sourcing -->
		<div id="wikidata_source"></div>

			<%# DISCOVERYACCESS-6275 %>
			<% unless @document["no_syndetics_b"] %>
				<% if ENV['SYNDETICS_UNBOUND_ENABLED'].present? && ENV['SYNDETICS_UNBOUND_ENABLED'] == "1" %>
				<div id="syndetics_unbound"></div>
				<script src="https://unbound.syndetics.com/syndeticsunbound/connector/initiator.php?a_id=1624&i_id=2636"
								type="text/javascript"></script>
				<% end %>
			<% end %>

	    <%= render :partial => 'catalog/call_number_browse_links' %>
	    <%# browse-call-number %>
		</div>
	  </div>
	  <%# col-sm-8 %>
    </div>
    <%# row %>
  </div>
  <%# doc_ %>
	</div>
<%# end #document %>
