<% solr_query_used = @response["responseHeader"]["params"]["q"] %>

<div class="row">
	<% # TODO: delete this bit, old call to sidebar partial in BL4 %>
	<% #= render :partial=>'sidebar' %>
	<div id="sidebar" class="col-md-4">
		<%= render "search_sidebar" %>
	</div>

	<div class="col-md-8" id="results">
		<% unless has_search_parameters? %>
			<% # if there are no input/search related params, display the "home" partial -%>
			<%= render "home" %>
		<% else %>
			<h2 class="sr-only top-content-title"><%= t("blacklight.search.search_results_header") %></h2>
			<% @page_title = t("blacklight.search.title", :application_name => application_name) %>

			<% content_for(:head) do -%>
				<%= render "catalog/opensearch_response_metadata", response: @response %>
				<%= auto_discovery_link_tag(:rss, url_for(params.permit.merge(:format => "rss")), :title => t("blacklight.search.rss_feed")) %>
				<%= auto_discovery_link_tag(:atom, url_for(params.permit.merge(:format => "atom")), :title => t("blacklight.search.atom_feed")) %>
				<%= render_extra_head_content %>
			<% end -%>

			<% #= render :partial => 'search_form' %>
			<% unless ((request.referer).present? && (request.referer).include?("browse")) || params[:click_to_search] == "true" %>
				<%= render :partial => "did_you_mean" %>
			<% end %>

			<%= render "solr_query", solr_query_used: solr_query_used %>

			<% if @response.total_count < 1 && !@expanded_results.nil? %>
				<p>
					<%= tooltip("<strong>Search Logic</strong><br/> #{solr_query_used}") %>
					Your search returned <%= content_tag :span, "0", id: "total-search-results" %> results. Try searching
					<% if params[:q_row].nil? && params[:click_to_search].nil? && params[:f].nil? %>
						<a href="<%= @expanded_results["worldcat"][:url] %>">
					<% else %>
						<a href="<%= ENV["WORLDCAT_URL"] %>">
					<% end %>
					Libraries Worldwide</a> or <a href="https://www.library.cornell.edu/collections/recommend-a-purchase/"> recommend a purchase</a>.
				</p>
			<% else %>
				<%= content_tag :span, @response.total_count.to_s, id: "total-search-results" %>
				<% r = "catalog result".pluralize(@response.total_count) %>
				<%= "#{r}" %>
				<%= tooltip("<strong>Search Logic</strong><br/> #{solr_query_used}") %>
				<% rss_icon = '<i class="fa fa-rss-square aria-hidden="true"></i>' + '<span class="sr-only">RSS</span>' %>
				<%= link_to(url_for(params.merge(:format => "rss")), :class => "rss-icon", :title => "RSS feed") do %>
					<%= rss_icon.html_safe %>
				<% end %>

				<%= render "sort_and_per_page" %>

				<h2 class="sr-only"><%= t("blacklight.search.search_results") %></h2>
				<%= render_document_index %>
				<%= render "results_pagination" %>
			<% end %>
			<%= render "search_more" %>
		<% end %>
	</div><!--/.main-content -->
</div>


<!--Add event listener for popovers-->
<%= javascript_tag do %>
	document.addEventListener('DOMContentLoaded', function () {
		const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
		popoverTriggerList.forEach(function (el) {
		new bootstrap.Popover(el);
		});
	});
<% end %>

<% if session["search_limit_exceeded"] %>
	<%= javascript_tag do %>
		var search_exceeded = true;
	<% end %>
<% else %>
	<%= javascript_tag do %>
		var search_exceeded = false;
	<% end %>
<% end %>

