<%# Terms of Use page %>

<!-- get params. compare to codes in bib. display code that matches by calling tou helper -->
<div class="row database-subject">
  <div class="page-title col-sm-12">
    <div class="return-link">
      <% if !@newTouResult.nil? %>
        <%= link_to "/catalog/#{params["id"]}" do %>
          <i class="fa fa-arrow-circle-left"></i>
          Back to Item
      <% end %>
    </div>
      <h2>Terms of Use</h2>
  </div>
</div>

<div class="resources">
  <div class="document blacklight-database-name clearfix">
    <div class="document-data">
      <% if @newTouResult.present? %>
        <% @newTouResult.each do |data| %>
          <% if data.present? %>
            <h3 class="blacklight-title_display">
              <%= data['name'] %>
            </h3>
            <table class="table table-bordered table-striped">
              <caption class="sr-only">License terms and permissions for this resource</caption>
              <thead>
              <tr>
                <th scope="col">
                  License Term
                </th>
                <th scope="col">
                  Permissions
                </th>
                <th scope="col">
                  Note
                </th>
              </tr>
              </thead>
              <tbody>
                <% data['customProperties'].sort_by { |_, values| (values&.first && values.first['weight']) || 0 }.each do |property, values| %>
                  <%# A number of properties should only appear if the newer version (?) isn't also present. %>
                  <%# This is a bit hacky, but we'll skip those here. %>
                  <% next if property == 'courseReserve' && data['customProperties'].key?('courseReserves') %>
                  <% next if property == 'scholarlySharing' && data['customProperties'].key?('scholarlySharing2') %>
                  <% next if property == 'authorizedUsers' && data['customProperties'].key?('authorizedUsers2') %>
                  <% next if property == 'generalPermissions' && data['customProperties'].key?('generalPermissions2') %>
                  <% next if property == 'generalRestrictions' && data['customProperties'].key?('generalRestrictions2') %>

                  <% fields = values&.first || [] %>
                  <% next if fields['internal'] == true %>
                  <tr>
                    <td>
                      <%= fields['type']['label'] %>
                    </td>
                    <td>
                      <%= tou_display_value(fields['value']) %>
                    </td>
                    <td>
                      <%= fields['publicNote'] %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        <% end %>
      <% else %>
        <table class="table table-bordered table-striped">
          <caption class="sr-only">License terms and permissions for this resource</caption>
          <thead>
          <tr>
            <th scope="col">
              License Term
            </th>
            <th scope="col">
              Permissions
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              General Permissions
            </td>
            <td>
              Authorized Users may electronically display, download, print, and digitally copy a reasonable
              portion (generally one or two articles or one book chapter) of the Licensed Materials.
            </td>
          </tr>
          <tr>
            <td>
              General Restrictions
            </td>
            <td>
              Authorized users are not permitted to modify or create a derivative work of the Licensed
              Materials, may not remove, obscure or modify any copyright or other notices included in the
              Licensed Materials, and may not use the Licensed Materials for commercial purposes, including but
              not limited to the sale of the Licensed Materials or bulk reproduction or distribution of the
              Licensed Materials in any form without the prior written permission of Licensor.
            </td>
          </tr>
          </tbody>
        </table>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
