<div class="span6">
  <ul class="blacklight-nav">
    <li>
    <% if has_user_authentication_provider? %>
      <% if current_user %>
        <span class="current-user">
          <% unless current_user.to_s.blank? %>
            <%= link_to edit_user_registration_path, :class => 'user-email' do %>
              <i class="icon-user"></i> <%= current_user %>
            <% end %>
          <% end %>
          <%= link_to  destroy_user_session_path, :class => 'logout' do  %>
            <i class="icon-signout"></i><%= t('blacklight.header_links.logout') %>
          <% end %>
        </span>
      <% else %>
        <a href="<%= new_user_session_path %>">Log In</a>
      <% end %>
    <% end %>
    </li>
    <% if current_or_guest_user %>
      <li><a href="<%= bookmarks_path %>">Selected Items</a></li>
    <% end %>
    <% if has_user_authentication_provider? and current_user %>
      <li><a href="<%= saved_searches_path %>">Saved searches</a></li>
    <% end %>
    <li><a href="<%= search_history_path %>">Search History</a></li>
  </ul>
</div>
