<div class="col-sm-7 col-md-6">
    <ul class="blacklight-nav">
        <% if current_user %>
          <li>
            <%= link_to 'Sign out', destroy_user_session_path   %>
          </li> 
        <% end %>
        <% if current_or_guest_user %>
          <% if !current_user %>
            <li>
              <%= link_to 'Sign in', '/users/auth/saml'   %>
            </li> 
          <% end %>
        <% end %>
        <% if current_or_guest_user %>
        <%  @bookmarks = current_or_guest_user.bookmarks %>
        <li>
            <%= link_to bookmarks_path, id:'bookmarks_nav' do %>
            <%= t('blacklight.header_links.bookmarks') %>
            (<span data-role='bookmark-counter'><%= current_or_guest_user.bookmarks.count %></span>)
            <% end %>
        </li>
        <% end %>
        <li><%= link_to t('blacklight.header_links.search_history'), blacklight.search_history_path %></li>
        <!-- <li class="hidden-xs"><a href="http://resolver.library.cornell.edu/NET/parsebd?redirect=yes">Borrow Direct</a></li>
    <li class="hidden-xs"><a href="https://cornell.hosts.atlas-sys.com/illiad/">Interlibrary Loan</a></li> -->
        <li>
            <a href="http://www.library.cornell.edu/help/catalog" class="tips-link">Search Tips</a>
        </li>
        <li class="hidden-xs">
            <a href="http://www.library.cornell.edu/ask">Ask a Librarian</a>
        </li>
    </ul>
</div>
<!--        new_user_session GET          /users/sign_in(.:format)                         users/sessions#new
                   user_session POST         /users/sign_in(.:format)                         users/sessions#create
           destroy_user_session GET          /users/sign_out(.:format)                        users/sessions#destroy
-->
