<div class="col-md-8">
    <ul class="blacklight-nav">
        <% if ENV['SAML_IDP_TARGET_URL'] %>
        <% if current_user %>
          <li>
            <%= link_to 'Sign out', destroy_user_session_path   %>
          </li> 
        <% end %>
        <% if current_or_guest_user %>
          <% if !current_user %>
            <li>
              <%= link_to 'Sign in', '/users/auth/saml'   %>
            </li> 
          <% end %>
        <% end %>
        <% end %>
        <% if current_user && Bookbag.enabled? %>
        <li>
            <%= link_to "/book_bags/index", id:'bookmarks_nav' do %>
            <span>Book Bag(<span data-role='bookmark-counter'><%= user_session[:bookbag_count] unless user_session.nil? %></span>)</span>
            <% end %>
        </li>
        <% end %>
        <% if current_or_guest_user %>
        <%  @bookmarks = current_or_guest_user.bookmarks %>
        <li>
            <%= link_to bookmarks_path, id:'bookmarks_nav' do %>
            <%= t('blacklight.header_links.bookmarks') %>
            (<span data-role='bookmark-counter'><%= current_or_guest_user.bookmarks.count %></span>)
            <% end %>
        </li>
        <% end %>
        <li><%= link_to t('blacklight.header_links.search_history'), blacklight.search_history_path %></li>
        <li>
            <a href="http://www.library.cornell.edu/help/catalog" class="tips-link" onclick="javascript:_paq.push(['trackEvent', 'header_links', 'Search Tips']);">Search Tips</a>
        </li>
        <li><a href="http://resolver.library.cornell.edu/NET/parsebd?redirect=yes" onclick="javascript:_paq.push(['trackEvent', 'header_links', 'Borrow Direct']);">Borrow Direct</a></li>
        <li><a href="https://cornell.hosts.atlas-sys.com/illiad/" onclick="javascript:_paq.push(['trackEvent', 'header_links', 'Interlibrary Loan']);">Interlibrary Loan</a></li>
    </ul>
</div>
