<div class="form-group advanced-search-facet row facet_limit adv-range">
  <%= label_tag "#{field}", :class => 'col-form-label col-md-2' do %><%= label %><% end %>
  <div class="col-md-10 form-inline">
    <%= label_tag("range[#{field}][begin]", 'from year', class: 'sr-only visually-hidden') %>
    <%= number_field_tag("range[#{field}][begin]", begin_val, maxlength: 6, placeholder: 0, class: 'form-control text-center range_begin') %>
    <span class="col-form-label"> - </span>
    <%= label_tag("range[#{field}][end]", 'to year', class: 'sr-only visually-hidden') %>
    <%= number_field_tag("range[#{field}][end]", end_val, maxlength: 6, placeholder: Time.now.year + 1, class: 'form-control text-center range_end') %>
  </div>
</div>
