<%# Database document display within lists %>

<% if response.present?  %>
  <% response.each do |data| %>
    <% dbid = data["id"] %>
    <div class="document blacklight-database-name clearfix">
      <div class="document-data">
        <h3 class="blacklight-title_display">
          <%# debug_console(data , "VIEW data") %>
          <%# debug_console(params , "VIEW params") %>
          <%# debug_console(session[:q] , "VIEW session") %>


          <% if access_url_is_list?(data) %>
            <% dbid = data["id"] %>
            <%= link_to "/catalog/#{dbid}" do %>
             <% if data["fulltitle_vern_display"].present? and data["fulltitle_display"].present? %>
                  <%= data["fulltitle_vern_display"] + " / " +  data["fulltitle_display"] %>
                <% else %>
                  <% if data["fulltitle_vern_display"].present? %>
                    <%= data["fulltitle_vern_display"] %>
                  <% else %>
                    <%= data["fulltitle_display"] %>
                  <% end %>
                <% end %>
            <% end %>
          <% else %>
            <% access_url = access_url_single(data) %>
              <%= link_to access_url, :onclick => "javascript:_paq.push(['trackEvent', 'databases', 'outlink']);" do %>
                <% if data["fulltitle_vern_display"].present? and data["fulltitle_display"].present? %>
                  <%= data["fulltitle_vern_display"] + " / " +  data["fulltitle_display"] %>
                <% else %>
                  <% if data["fulltitle_vern_display"].present? %>
                    <%= data["fulltitle_vern_display"] %>
                  <% else %>
                    <%= data["fulltitle_display"] %>
                  <% end %>
                <% end %>
            <% end %>
          <% end %>
        </h3>
        <div class="description">
          <p class="z-note">
            <% znote = access_z_note(data) %>
            <% if znote.present? %>
             <%= znote %>
            <% end %>
          </p>
          <p>
            <% if data["summary_display"].present? %>
              <%= data["summary_display"][0] %>
            <% end %>
          </p>
        </div>
        <div class="terms">
          <% if data["dbcode"].nil? %>
            <% dbcode = "" %>
          <% else %>
            <% dbcode = data["dbcode"][0] %>
          <% end %>
          <% if data["providercode"].nil? %>
            <% providercode = "" %>
          <% else %>
            <% providercode = data["providercode"][0] %>
          <% end %>

          <% titleid = access_titleid(data) %>
          <% if  titleid.present?%>
            <%= link_to 'Terms of Use', "/databases/new_tou/#{titleid}/#{dbid}", "aria-label" => "Terms of use for record #{dbid}" %>
          <%else %>
            <%= link_to 'Terms of Use', "/databases/tou/#{dbid}", "aria-label" => "Terms of use for record #{dbid}" %>
          <% end %>

        </div>
      </div>
    </div>
  <% end %>
<% end %>
