<% if newTouResult.present? %>
  <% newTouResult.each do |data| %>
    <% if data.present? %>
      <table class="table table-bordered table-striped">
        <caption class="sr-only">License terms and permissions for this resource</caption>
        <thead>
        <tr>
          <th scope="col">
            License Term
          </th>
          <th scope="col">
            Permissions
          </th>
          <th scope="col">
            Note
          </th>
        </tr>
        </thead>
        <tbody>

        <% if !data['customProperties']['interLibraryLoan'].nil? and data['customProperties']['interLibraryLoan'][0]['internal'] == false %>
          <tr>
            <td>
              <%= data['customProperties']['interLibraryLoan'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['interLibraryLoan'][0]['value']['label'] %>
            </td>
            <td>
              <% if !data['customProperties']['interLibraryLoan'][0]['publicNote'].nil? %>
                <%= data['customProperties']['interLibraryLoan'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if !data["customProperties"]["illGeneralSelect"].nil? and data["customProperties"]["illGeneralSelect"][0]["internal"] == false %>
          <tr>
            <td>
              <%= data['customProperties']['illGeneralSelect'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['illGeneralSelect'][0]['value']['label'] %>
            </td>
            <td>
              <% if !data['customProperties']['illGeneralSelect'][0]['publicNote'].nil? %>
                <%= data['customProperties']['illGeneralSelect'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if !data['customProperties']["illRecordKeepingSelect"].nil? and data['customProperties']["illRecordKeepingSelect"][0]["internal"] == false %>
          <tr>
            <td>
              <%= data['customProperties']['illRecordKeepingSelect'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['illRecordKeepingSelect'][0]['value']['label'] %>
            </td>
            <td>
              <% if !data['customProperties']['illRecordKeepingSelect'][0]['publicNote'].nil? %>
                <%= data['customProperties']['illRecordKeepingSelect'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if !data['customProperties']['illSecureElectronic'].nil? and data['customProperties']['illSecureElectronic'][0]['internal'] == false %>
          <tr>
            <td>
              <%= data['customProperties']['illSecureElectronic'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['illSecureElectronic'][0]['value']['label'] %>
            </td>
            <td>
              <% if !data['customProperties']['illSecureElectronic'][0]['publicNote'].nil? %>
                <%= data['customProperties']['illSecureElectronic'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if !data["customProperties"]["courseReserves"].nil? and data["customProperties"]["courseReserves"][0]["internal"] == false %>
          <tr>
            <td>
              <%= data['customProperties']['courseReserves'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['courseReserves'][0]['value']['label'] %>
            </td>
            <td>
              <% if !data['customProperties']['courseReserves'][0]['publicNote'].nil? %>
                <%= data['customProperties']['courseReserves'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if data["customProperties"]["courseReserves"].nil? and !data["customProperties"]["courseReserve"].nil? and data["customProperties"]["courseReserve"][0]["internal"] == false %>
          <tr>
            <td>
              <%= data['customProperties']['courseReserve'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['courseReserve'][0]['value']['label'] %>
            </td>
            <td>
              <% if !data['customProperties']['courseReserve'][0]['publicNote'].nil? %>
                <%= data['customProperties']['courseReserve'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if !data['customProperties']['download'].nil? and data['customProperties']['download'][0]['internal'] == false %>
          <tr>
            <td>
              <%= data['customProperties']['download'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['download'][0]['value']['label'] %>
            </td>
            <td>
              <% if !data['customProperties']['download'][0]['publicNote'].nil? %>
                <%= data['customProperties']['download'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if !data['customProperties']['print'].nil? and data['customProperties']['print'][0]['internal'] == false %>
          <tr>
            <td>
              <%= data['customProperties']['print'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['print'][0]['value']['label'] %>
            </td>
            <td>
              <% if !data['customProperties']['print'][0]['publicNote'].nil? %>
                <%= data['customProperties']['print'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if !data['customProperties']['scholarlySharing2'].nil? and data['customProperties']['scholarlySharing2'][0]['internal'] == false %>
          <tr>
            <td>
              <%= data['customProperties']['scholarlySharing2'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['scholarlySharing2'][0]['value']['label'] %>
            </td>
            <td>
              <% if !data['customProperties']['scholarlySharing2'][0]['publicNote'].nil? %>
                <%= data['customProperties']['scholarlySharing2'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if data['customProperties']['scholarlySharing2'].nil? and !data['customProperties']['scholarlySharing'].nil? and data['customProperties']['scholarlySharing'][0]['internal'] == false %>
          <tr>
            <td>
              <%= data['customProperties']['scholarlySharing'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['scholarlySharing'][0]['value']['label'] %>
            </td>
            <td>
              <% if !data['customProperties']['scholarlySharing'][0]['publicNote'].nil? %>
                <%= data['customProperties']['scholarlySharing'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if !data['customProperties']['authorizedUsers2'].nil? and data['customProperties']['authorizedUsers2'][0]['internal'] == false and data['customProperties']['authorizedUsers2'][0]['value']['label'].include?(';') %>
          <tr>
            <td>
              Authorized Users
            </td>
            <td>
              <%= data['customProperties']['authorizedUsers2'][0]['value']['label'].gsub!(';', ',') %>
            </td>
            <td></td>
          </tr>
        <% end %>

        <% if data['customProperties']['authorizedUsers2'].nil? and !data['customProperties']['authorizedUsers'].nil? and data['customProperties']['authorizedUsers'][0]['internal'] == false and data['customProperties']['authorizedUsers'][0]['value'].include?(';') %>
          <tr>
            <td>
              Authorized Users
            </td>
            <td>
              <%= data['customProperties']['authorizedUsers'][0]['value'].gsub!(';', ',') %>
            </td>
            <td></td>
          </tr>
        <% end %>

        <% if !data['customProperties']['walkInAccess'].nil? and data['customProperties']['walkInAccess'][0]['internal'] == false %>
          <tr>
            <td>
              <%= data['customProperties']['walkInAccess'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['walkInAccess'][0]['value']['label'] %>
            </td>
            <td>
              <% if !data['customProperties']['walkInAccess'][0]['publicNote'].nil? %>
                <%= data['customProperties']['walkInAccess'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if !data['customProperties']['concurrentAccess'].nil? and data['customProperties']['concurrentAccess'][0]['internal'] == false %>
          <tr>
            <td>
              <%= data['customProperties']['concurrentAccess'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['concurrentAccess'][0]['value'] %>
            </td>
            <td>
              <% if !data['customProperties']['concurrentAccess'][0]['publicNote'].nil? %>
                <%= data['customProperties']['concurrentAccess'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if !data['customProperties']['remoteAccess'].nil? and data['customProperties']['remoteAccess'][0]['internal'] == false %>
          <tr>
            <td>
              <%= data['customProperties']['remoteAccess'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['remoteAccess'][0]['value']['label'] %>
            </td>
            <td>
              <% if !data['customProperties']['remoteAccess'][0]['publicNote'].nil? %>
                <%= data['customProperties']['remoteAccess'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if !data['customProperties']['otherRestrictions'].nil? and data['customProperties']['otherRestrictions'][0]['internal'] == false %>
          <tr>
            <td>
              <%= data['customProperties']['otherRestrictions'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['otherRestrictions'][0]['value'] %>
            </td>
            <td>
              <% if !data['customProperties']['otherRestrictions'][0]['publicNote'].nil? %>
                <%= data['customProperties']['otherRestrictions'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if !data["customProperties"]["generalPermissions2"].nil? and data["customProperties"]["generalPermissions2"][0]["internal"] == false %>
          <tr>
            <td>
              <%= data['customProperties']['generalPermissions2'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['generalPermissions2'][0]['value']['label'] %>
            </td>
            <td>
              <% if !data['customProperties']['generalPermissions2'][0]['publicNote'].nil? %>
                <%= data['customProperties']['generalPermissions2'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if data["customProperties"]["generalPermissions2"].nil? and !data["customProperties"]["generalPermissions"].nil? and data["customProperties"]["generalPermissions"][0]["internal"] == false %>
          <tr>
            <td>
              <%= data['customProperties']['generalPermissions'][0]['type']['label'] %>
            </td>
            <td></td>
            <td>
              <% if !data['customProperties']['generalPermissions'][0]['publicNote'].nil? %>
                <%= data['customProperties']['generalPermissions'][0]['publicNote'] %>
              <% else %>
                <%= data['customProperties']['generalPermissions'][0]['value'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if !data["customProperties"]["generalRestrictions2"].nil? and data["customProperties"]["generalRestrictions2"][0]["internal"] == false %>
          <tr>
            <td>
              <%= data['customProperties']['generalRestrictions2'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['generalRestrictions2'][0]['value']['label'] %>
            </td>
            <td></td>
          </tr>
        <% end %>

        <% if data["customProperties"]["generalRestrictions2"].nil? and !data["customProperties"]["generalRestrictions"].nil? and data["customProperties"]["generalRestrictions"][0]["internal"] == false %>
          <tr>
            <td>
              <%= data['customProperties']['generalRestrictions'][0]['type']['label'] %>
            </td>
            <td></td>
            <td>
              <% if data['customProperties']['generalRestrictions'][0]['publicNote'].nil? %>
                <%= data['customProperties']['generalRestrictions'][0]['value'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if !data['customProperties']['nondisclosure'].nil? and data['customProperties']['nondisclosure'][0]['internal'] == false %>
          <tr>
            <td>
              <%= data['customProperties']['nondisclosure'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['nondisclosure'][0]['value']['label'] %>
            </td>
            <td>
              <% if !data['customProperties']['nondisclosure'][0]['publicNote'].nil? %>
                <%= data['customProperties']['nondisclosure'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if !data['customProperties']['postCancellationAccess'].nil? and data['customProperties']['postCancellationAccess'][0]['internal'] == false %>
          <tr>
            <td>
              <%= data['customProperties']['postCancellationAccess'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['postCancellationAccess'][0]['value'] %>
            </td>
            <td>
              <% if !data['customProperties']['postCancellationAccess'][0]['publicNote'].nil? %>
                <%= data['customProperties']['postCancellationAccess'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if !data['customProperties']['nonRenewalNoticePeriod'].nil? and data['customProperties']['nonRenewalNoticePeriod'][0]['internal'] == false %>
          <tr>
            <td>
              <%= data['customProperties']['nonRenewalNoticePeriod'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['nonRenewalNoticePeriod'][0]['value']['label'] %>
            </td>
            <td>
              <% if !data['customProperties']['nonRenewalNoticePeriod'][0]['publicNote'].nil? %>
                <%= data['customProperties']['nonRenewalNoticePeriod'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if !data['customProperties']["curePeriodBreachUnit"].nil? and data['customProperties']["curePeriodBreachUnit"][0]["internal"] == false %>
          <tr>
            <td>
              <%= data['customProperties']['curePeriodBreachUnit'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['curePeriodBreachUnit'][0]['value']['label'] %>
            </td>
            <td>
              <% if !data['customProperties']['curePeriodBreachUnit'][0]['publicNote'].nil? %>
                <%= data['customProperties']['curePeriodBreachUnit'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if !data["customProperties"]["governingLaw"].nil? and data["customProperties"]["governingLaw"][0]["internal"] == false %>
          <tr>
            <td>
              <%= data['customProperties']['governingLaw'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['governingLaw'][0]['value']['label'] %>
            </td>
            <td>
              <% if !data['customProperties']['governingLaw'][0]['publicNote'].nil? %>
                <%= data['customProperties']['governingLaw'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if !data["customProperties"]["fairUseClause"].nil? and data["customProperties"]["fairUseClause"][0]["internal"] == false %>
          <tr>
            <td>
              <%= data['customProperties']['fairUseClause'][0]['type']['label'] %>
            </td>
            <td>
              <%= data['customProperties']['fairUseClause'][0]['value']['label'] %>
            </td>
            <td>
              <% if !data['customProperties']['fairUseClause'][0]['publicNote'].nil? %>
                <%= data['customProperties']['fairUseClause'][0]['publicNote'] %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
<% else %>

  <table class="table table-bordered table-striped">
    <caption class="sr-only">License terms and permissions for this resource</caption>
    <thead>
    <tr>
      <th scope="col">
        License Term
      </th>
      <th scope="col">
        Permissions
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        General Permissions
      </td>
      <td>
        Authorized Users may electronically display, download, print, and digitally copy a reasonable
        portion (generally one or two articles or one book chapter) of the Licensed Materials.
      </td>
    </tr>
    <tr>
      <td>
        General Restrictions
      </td>
      <td>
        Authorized users are not permitted to modify or create a derivative work of the Licensed
        Materials, may not remove, obscure or modify any copyright or other notices included in the
        Licensed Materials, and may not use the Licensed Materials for commercial purposes, including but
        not limited to the sale of the Licensed Materials or bulk reproduction or distribution of the
        Licensed Materials in any form without the prior written permission of Licensor.
      </td>
    </tr>
    </tbody>
  </table>
<% end %>
