<% # Databases by subject page %>

<%= render DatabasesSearchBarComponent.new(
  url: databases_searchdb_path,
  params: search_state.params_for_search.except(:qt)
) %>
<div class="row database-subject">
  <div class="page-title col-sm-12">
    <div class="return-link">
      <%= link_to "/databases/" do %>
        <i class="fa fa-arrow-circle-left"></i>
        Back to Databases
      <% end %>
    </div>
    <h2>
      <%= params[:q] %>
    </h2>
    <% if params[:q] == "Streaming Video" %>
      <div class="highlight-box highlight-box-tan">
        <div class="heads-up"><i class="fa fa-info-circle" aria-hidden="true"></i>How to find streaming video</div>
        <p class="mb-0"><a href="/" onclick="_paq.push(['trackEvent', 'databases', 'streaming_catalog_search']);">Search the catalog</a> for streaming content. Need help? Check out our <a href="https://guides.library.cornell.edu/hybridOnlineTeaching/streaming" onclick="_paq.push(['trackEvent', 'databases', 'streaming_libguide']);">help guide</a>.</p>
      </div>
      </div>
    <% end %>
  </div>
</div>
<% if @subjectCore.present? %>
  <div class="resources">
    <h3>
      Core Resources
    </h3>
    <%= render 'database', :response => @subjectCore %>
  </div>
  <div class="resources">
    <h3>
      Additional Resources
    </h3>
    <%= render 'database', :response => @subject %>
  </div>
<% else %>
  <div class="resources container">
    <%= render 'database', :response => @subject %>
  </div>
<% end %>
<%= render :partial => 'shared/top'  %>