<% # Terms of Use page %>

<%= render DatabasesSearchBarComponent.new(
  url: search_action_url,
  params: search_state.params_for_search.except(:qt)
) %>
 <div class="row database-subject">
  <div class="page-title col-sm-12">
    <div class="return-link">
      <% if !@db.present? %>
        <%= @defaultRightsText.to_s %>
        <br>
      <% end %>
      <%= link_to "/databases/" do %>
        <i class="fa fa-arrow-circle-left"></i>
        Back to Databases
      <% end %>
    </div>
    <%= render partial: 'databases/shared/db_title', locals: { db: @db } %>
  </div>
</div>
<div class="resources">
  <div class="document blacklight-database-name clearfix">
    <div class="document-data">
      <%= render partial: 'databases/shared/db_data', locals: { db: @db, ermDBResult: @ermDBResult, defaultRightsText: @defaultRightsText } %>
    </div>
  </div>
</div>