<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->

    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= opensearch_catalog_path(:format => 'xml', :only_path => false) %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    "application" %>
    <%#= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %> 

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <% onload_text = "$('input#q').focus();" if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>
  <body onload="<%= onload_text %>" class="<%= render_body_class %>">
    <%= render :partial => 'shared/header_navbar' %>

    <%= render partial: 'shared/ajax_modal' %>

    <%# display search bar and contraints if not in single search %>
    <% if !request.original_url.include? "/search" %>
      <div class="search-bar">
        <div class="container">
          <%= render :partial => 'shared/search_form' %>
        </div>
      </div>
      <div class="constraints-bar">
        <div class="container">
          <%= render :partial => "catalog/constraints" %>
        </div>
      </div>
    <% end %>

    

    <section class="main-content" id="maincontent">
      <div class="container" id="main-container">
        <div class="row">
          <div class="col-sm-12">
              <div id="main-flashes">
                <%= render :partial=>'/flash_msg' %>
              </div>
              <%= yield %>
          </div>
        </div>


      </div>
    </section>

    <%= render :partial => 'shared/footer' %>

    <%= javascript_include_tag "application" %>
    <script src="https://embanner.univcomm.cornell.edu/OWC-emergency-banner.js"></script>
    <script type="text/javascript">
      $('.search-info a').tooltip();
    </script>
  </body>
</html>

